{exp:stash:cache replace='{global:stash_replace}'}
{stash:embed:global process='inline'}

{exp:stash:set name='html-title' type='snippet'}Search DSU | {global-site-name}{/exp:stash:set}

{snippet:html-tag}
<head>
  {snippet:html-head}
</head>
<body>
	{snippet:skip-to-content}

  <div class="bodywrapper1">
    <div class="bodywrapper2">
      {snippet:header}

  {!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
  <main role="main" id="page-content" class="subpage-content one-column">
    <header id="content-header">
      <div class="content-titlebox">
        <div class="container">
          <h1 class="content-title">Search DSU</h1>
        </div>
      </div>
    </header>
    <nav id="content-breadcrumb">
      <div class="container">
        <ul class="breadcrumbs">
          <li><a href="/" class="home"><i class="fa fa-home"></i></a></li>
          <li class="last"><span>Search DSU</span></li>
        </ul>
      </div>
    </nav>
    <div class="sectioncontent">
      <div class="container">
        <div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
          <div class="content-content"> {!-- I'm running out of good, semantic names. --}
            <div class="searchresults">
              <div class="usercontent">
              <h3>Search Results</h3>
						{stash:nocache}
            {exp:low_googlesearch:results keywords="{segment_2}" cx="016718973482170114236:xksw4yhdieq" oe="utf8" result_page="search" }

            {if keywords}
              <p>Searched for <strong>{keywords}</strong><br />
              Results <strong>{start_result} – {end_result}</strong> of about <strong>{approx_results}</strong>.</p>
            {/if}

            {if keymatch}
              <p>KeyMatch: <a href="{keymatch_url}">{keymatch_description}</a></p>
            {/if}

            {if total_synonyms}
              <h3>Also try:</h3>
              <ul>
                {synonyms}
                  <li><a href="{path="search/results/{synonym_url}"}">{synonym_name}</a></li>
                {/synonyms}
              </ul>
            {/if}
          </div>

            {exp:low_googlesearch:form result_page='search' form_id='searchbox-inline' form_class='searchbox-inline'}
              <input type="search" name="keywords" value="{keywords}" autofocus>
            {/exp:low_googlesearch:form}

            {entries}
              {if count == 1}<ol id="search_results">{/if}
                <li{if filtered} class="level2"{/if}>
                  <h4><a href="{url}">{title}</a></h4>
                  {if excerpt}<div class="excerpt">{excerpt}</div>{/if}
                  <div class="meta">{display_url}</div>
                  {if more_url}<div class="sitesearch">[ <a href="{more_url_path}">More results from {more_url}</a> ]</div>{/if}
                </li>
              {if count == total_results}</ol>{/if}
            {/entries}

            {if total_pages > 1}

              <div class="usercontent pages">
                <p class="count">Page {current_page} of {total_pages} pages</p>
              </div>

              <div class="pagination">
                <ul>
                {if previous_path}<li><a class="page-previous" href="{previous_path}">Previous Page</a></li>{/if}
                {pagination}
                  <li><a href="{pagination_path}" class="page{if is_active} active{/if}" aria-label="Page {page_count}">{page_count}</a></li>
                {/pagination}
                {if next_path}<li><a class="page-next" href="{next_path}">Next Page</a></li>{/if}
                </ul>
              </div>
            {/if}

            {/exp:low_googlesearch:results}
						{/stash:nocache}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {snippet:footer}
    </div>
  </div>

  {snippet:scripts}
</body>
</html>
{/exp:stash:cache}
