// If $break-small changes, two other things have to change to match it.
$break-content-small: 481;
$break-small: 767;
$break-medium: 960;
$break-navigation-medium: 1072;
$break-hp-small: 600;
$ie8-size: false !default;

/**
 * Use:
 *
 * @include mq(medium) {
 *   font-size: 100px;
 * }
 *
 * If you want something to ONLY be used at that size, then the second
 * parameter should be 'only'.
 *
 * @include mq(small, only) {
 *   font-size: 200px;
 * }
 */
@mixin mq($size, $only: false) {
	@if $size == small {
		@if $only == only {
			@include mq-helper(none, $break-small) {
				@content;
			}
		}
		@else if $only == medium {
			@include mq-helper(none, $break-medium) {
				@content;
			}
		}
		@else {
			@include mq-helper(none, none) {
				@content;
			}
		}
	}
	@else if $size == hp-medium {
		@if $only == only {
			@include mq-helper($break-hp-small + 1, $break-medium) {
				@content;
			}
		}
		@else {
			@include mq-helper($break-hp-small + 1, none) {
				@content;
			}
		}
	}
	@else if $size == content-small-expanded {
		@if $only == only {
			@include mq-helper($break-content-small + 1, $break-medium) {
				@content;
			}
		}
		@else {
			@include mq-helper($break-content-small + 1, none) {
				@content;
			}
		}
	}
	@else if $size == medium {
		@if $only == only {
			@include mq-helper($break-small + 1, $break-medium) {
				@content;
			}
		}
		@else {
			@include mq-helper($break-small + 1, none) {
				@content;
			}
		}
	}
	@else if $size == large {
		@if $only == only {
			@include mq-helper($break-medium + 1, none) {
				@content;
			}
		}
		@else {
			@include mq-helper($break-medium + 1, none) {
				@content;
			}
		}
	}
	@else if $size == navigation-large {
		@if $only == only {
			@include mq-helper($break-navigation-medium + 1, none) {
				@content;
			}
		}
		@else {
			@include mq-helper($break-navigation-medium + 1, none) {
				@content;
			}
		}
	}
}
@mixin mq-helper($min: none, $max: none) {
	@if $ie8-size {
		@if (($min == none or $ie8-size > $min) and ($max == none or $ie8-size <= $max)) {
			@content;
		}
	}
	@else {
		@if $min == none and $max == none {
			@content;
		}
		@else if $min and $max == none {
			@media screen and (min-width: $min/16*1em) {
				@content
			}
		}
		@else if $max and $min == none {
			@media screen and (max-width: $max/16*1em) {
				@content;
			}
		}
		@else {
			@media screen and (min-width: $min/16*1em) and (max-width: $max/16*1em) {
				@content;
			}
		}
	}
}
