%tagline {
	border-top: 1px solid #c9c9c9;
	margin-top: 4/16*1em;
	padding-top: 7/16*1em;

	color: #303030;
	@include font-size(16);

	time,
	.categories,
	.time,
	.location {
		&:before {
			margin-right: 5/14*1em;

			color: #f2a900;
			font-family: FontAwesome;
			@include font-size(14);
		}
	}

	time:before {
		content: $fa-var-calendar;
	}
	.categories:before {
		content: $fa-var-tag;
	}
	.time:before {
		content: $fa-var-clock-o;
	}
	.location:before {
		content: $fa-var-map-marker;
	}

	time, span {
		margin-right: 12/16*1em;
	}

	a {
		text-decoration: none;
	}
}
