<footer role="contentinfo" id="page-footer">
	<div class="callouts">
		<div class="container">
			<ul class="internal">
				{exp:stash:get_list name="global-footer-callouts"}
				<li><a href="{fc-button-page}">{fc-button-label}</a></li>
				{/exp:stash:get_list}
			</ul>
			<ul class="social">
				{exp:stash:get_list name="global-social-networks"}
				<li><a href="{sn-url}" class="{sn-social-network}" target="_blank" {if sn-social-network=="googleplus"}rel="publisher"{/if}>{sn-alt-text}</a></li>
				{/exp:stash:get_list}
			</ul>
		</div>
	</div>
	<div class="primary">
		<div class="container">
			<div class="quicklinks">
				<h6>Quick Links</h6>
				<ul>
					{exp:stash:get_list name="global-quick-links"}
					<li><a href="{ql-page}">{ql-title}</a></li>
					{/exp:stash:get_list}
				</ul>
			</div>
			<div class="logos">
				<div class="dsu">
					<img src="/assets/images/logo.svg" onerror="this.onerror=null;this.src='/assets/images/logo.png'" alt="Dakota State University">
				</div>
				<div class="trojans">
					<img src="/assets/images/trojans@2x.png" alt="Trojans">
				</div>
			</div>
			<div class="contact">
				<h6>{global-site-name}</h6>
				<ul>
					<li><a href="tel:{global-phone-number}" class="phone">{global-phone-friendly}</a></li>
					{exp:stash:get_list name="global-contact"}
					<li><a href="{c-url}" class="email">{c-label}</a></li>
					{/exp:stash:get_list}
					<li><span class="location">{global-address}<br>{global-city-state-zip}</span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="leftovers">
		<div class="container">
			<div class="legal">
				<ul>
					{exp:stash:get_list name="global-footer-aux-nav"}
					<li><a href="{if fan-page}{fan-page}{if:else}{fan-url}{/if}">{fan-title}</a></li>
					{/exp:stash:get_list}
				</ul>
				<p class="copyright">&copy; 2000&ndash;{current_time format="%Y"} {global-site-name}.</p>
			</div>
			<div class="clickrain">
				<p>Site by <a href="http://clickrain.com" rel="nofollow" target="_blank">Click Rain</a></p>
			</div>
		</div>
	</div>
</footer>
