{stash:nocache}
	{exp:stash:embed:alert}
{/stash:nocache}

<div id="page-top-landing">
	<header role="banner" id="page-header">
		<div class="container">
			<a class="logolink" href="/">
				<img class="logo" src="/assets/images/logo.svg" onerror="this.onerror=null;this.src='/assets/images/logo.png'" alt="{global-site-name}">
			</a>
		</div>
	</header>
</div>

