{stash:nocache}
	{exp:stash:embed:alert}
{/stash:nocache}

<div id="page-top">
	{stash:nocache}
	{exp:low_googlesearch:form result_page='search' form_id='searchbox' form_class='searchbox'}
		<div class="container">
			<label for="headersearch">Search:</label>
			<input id="headersearch" type="search" name="keywords">
			<button>Search</button>
		</div>
	{/exp:low_googlesearch:form}
	{/stash:nocache}
	<header role="banner" id="page-header">
		<div class="container">
			<a class="logolink" href="/">
				<img class="logo" src="/assets/images/logo.svg" onerror="this.onerror=null;this.src='/assets/images/logo.png'" alt="{global-site-name}">
			</a>
			<button id="mobilenavigationbutton">Show navigation<span></span><span></span><span></span></button>
			<button id="searchboxbutton">Search</button>
			<a class="portallink" href="{global-my-dsu-url}">My DSU</a>
			<nav class="secondary">
				<ul class="callouts">
					{exp:stash:get_list name="global-header-aux-callouts"}
					<li><a href="{if hac-page}{hac-page}{if:else}{hac-url}{/if}">{hac-title}</a></li>
					{/exp:stash:get_list}
				</ul>
				<ul class="links">
					{exp:stash:get_list name="global-header-aux-nav"}
					<li><a href="{if han-page}{han-page}{if:else}{han-url}{/if}">{han-title}</a></li>
					{/exp:stash:get_list}
				</ul>
			</nav>
		</div>
	</header>
	<nav role="navigation" class="primary" id="page-navigation">
		<div class="container">
			<ul class="navigationroot">
			{global-primary-navigation}
			</ul>
		</div>
	</nav>
</div>

