<header>
	<h4 class="headline"><a href="{page_url}">{title}</a></h4>
	<h5 class="subhead"><time datetime="{entry_date format='{DATE_ISO8601}'}">{entry_date format="%F %j, %Y"}</time> in {news-category backspace="2"}<a href="/news/?category={url_title}">{title}</a>, {/news-category}</h5>
</header>
<div class="sectioncontent">
	<p class="summary">{news-excerpt}</p>
	<div class="spacer"></div>
	<p><a href="{page_url}">Read More</a></p>
</div>