<header>
	<h4 class="headline"><a href="{page_url}">{event_title}</a></h4>
	<h5 class="subhead"><time datetime="{event_start_date format='{DATE_ISO8601}'}"><span class="month">{event_start_date format="%M"}</span> <span class="day">{event_start_date format="%d"}</span></time></h5>
</header>
<div class="sectioncontent">
	<p>{event-excerpt}</p>
	<div class="spacer"></div>
	<p><a href="{page_url}">Read More</a></p>
</div>