<!--Force IE out of compatibility mode -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{if segment_1}{html-title}{if:else}{global-html-title}{/if}</title>
{if segment_1}
    {if html-meta-description}<meta name="description" value="{html-meta-description}">{/if}
{if:else}
    {if global-html-meta-description}<meta name="description" value="{global-html-meta-description}">{/if}
{/if}

<!-- Chrome for Android -->
<link rel="icon" sizes="196x196" href="/assets/icons/icon-196x196.png">
<link rel="icon" sizes="160x160" href="/assets/icons/icon-160x160.png">
<link rel="icon" sizes="96x96" href="/assets/icons/icon-96x96.png">
<link rel="icon" sizes="16x16" href="/assets/icons/icon-16x16.png">
<link rel="icon" sizes="32x32" href="/assets/icons/icon-32x32.png">
<!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/icons/icon-152x152.png">
<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/icons/icon-144x144.png">
<!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/icons/icon-120x120.png">
<!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/icons/icon-114x114.png">
<!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/icons/icon-76x76.png">
<!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/icons/icon-72x72.png">
<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<link rel="apple-touch-icon-precomposed" href="/assets/icons/icon-57x57.png">
<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="/assets/icons/icon-144x144.png">
<meta name="msapplication-TileColor" content="#0054a4">

<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lte IE 8]>
<link rel="stylesheet" href="{exp:buster href='/assets/css/old-ie.css'}">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="{exp:buster href='/assets/css/style.css'}">
<!--<![endif]-->
<link rel="stylesheet" href="/assets/libs/owlcarousel-1.3.2/owl.carousel.css">
<script src="{exp:buster src='/assets/libs/modernizr-2.8.2/modernizr.custom.js'}"></script>
<script src="/assets/libs/picturefill-2.0.0/picturefill.min.js" async></script>
<script type="text/javascript" src="//use.typekit.net/lqn0tlp.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!--<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-3103112-1', 'auto');
	ga('send', 'pageview');
</script>-->

<!-- Hotjar Tracking Code for http://dsu.edu/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:489463,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script>
  var alt_titles = {};
  {exp:stash:get_list name="section-alt-titles" prefix="alt"}
    alt_titles['{alt:url_title}'] = '{alt:alt_title}';
  {/exp:stash:get_list}
</script>
