<!-- Google Authorship and Publisher Markup -->
{!--<link rel="author" href="https://plus.google.com/[Google+_Profile]/posts"/>--}
{if global-google-handle}
<link rel="publisher" href="https://plus.google.com/{global-google-handle}"/>
{/if}

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image" />
{if global-twitter-handle}<meta name="twitter:site" content="{global-twitter-handle}" />{/if}
{if social-title}<meta name="twitter:title" content="{social-title}" />{if:elseif title}<meta name="twitter:title" content="{title}" />{if:else}<meta name="twitter:title" content="{global-site-name}" />{/if}
{if social-description}<meta name="twitter:description" content="{social-description}" />{if:else}<meta name="twitter:description" content="{global-social-description}" />{/if} 
{if social-image}<meta name="twitter:image:src" content="{social-image}" />{if:else}<meta name="twitter:image:src" content="{global-social-image}" />{/if}
{!--<meta name="twitter:creator" content="@author_handle">--}

<!-- Open Graph data -->
{if global-facebook-app-id}<meta property="fb:app_id" content="{global-facebook-app-id}" /> {/if}
{if social-title}<meta property="og:title" content="{social-title}" />{if:elseif title}<meta property="og:title" content="{title}" />{if:else}<meta property="og:title" content="{global-site-name}" />{/if}
<meta property="og:type" content="article" />
<meta property="og:url" content="{current_url}" />
{if social-image}<meta property="og:image" content="{social-image}" />{if:else}<meta property="og:image" content="{global-social-image}" />{/if}
{if social-description}<meta property="og:description" content="{social-description}" />{if:else}<meta property="og:description" content="{global-social-description}" />{/if} 
<meta property="og:site_name" content="{global-site-name}" />
{if entry_date}<meta property="article:published_time" content="{entry_date format='{DATE_ISO8601}'}" />{if:else}<meta property="article:published_time" content="{current_time format='{DATE_ISO8601}'}" />{/if}

{!--<meta property="article:modified_time" content="2013-09-16T19:08:47+01:00" />--}
{!--<meta property="fb:admins" content="Facebook numberic ID" />--}
