{exp:stash:cache replace='{global:stash_replace}'}
{stash:embed:global process='inline'}

{exp:stash:set name='html-title' type='snippet'}Page Not Found | {global-site-name}{/exp:stash:set}

{snippet:html-tag}
<head>
	{snippet:html-head}
</head>
<body>
	{snippet:skip-to-content}

	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:header}

	{!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
	<main role="main" id="page-content" class="subpage-content one-column">
		<header id="content-header">
			<div class="content-titlebox">
				<div class="container">
					<h1 class="content-title">Page Not Found</h1>
				</div>
			</div>
		</header>
		<nav id="content-breadcrumb">
			<div class="container">
				<ul class="breadcrumbs">
					<li><a href="/" class="home"><i class="fa fa-home"></i></a></li>
					<li class="last"><span>Page Not Found</span></li>
				</ul>
			</div>
		</nav>
		<div class="sectioncontent">
			<div class="container">
				<div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
					<div class="content-content"> {!-- I'm running out of good, semantic names. --}
						<div class="usercontent">
							<p>We're sorry&mdash;the page you're looking for could not be found. Please <a href="/contact">contact us</a> if you are having trouble finding the information you need.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{snippet:footer}
		</div>
	</div>

	{snippet:scripts}
</body>
</html>
{/exp:stash:cache}
