{exp:stash:cache save="yes"}
{stash:embed:global process='inline'}

{snippet:html-tag}
<head>
	{snippet:html-head}
	{snippet:html-head-social}
</head>
<body>
	{snippet:skip-to-content}

	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:header}

			<main role="main" id="page-content" class="home-content">
				<section class="home-lead" style="background-image:url({global-featured-background-photo})">
					<div class="container">
						<header>
							<h2>{global-lead-headline}</h2>
						</header>
						<div class="sectioncontent">
							<ul>
								{exp:stash:get_list name="global-featured-pages"}
								<li>
									<a href="{fp-button-page}">
										<img src="{fp-photo}" data-2x="{fp-photo-2x}" alt="{fp-alt-text}">
										<p>{fp-excerpt}</p>
										<span class="spacer"></span>
										<div class="buttoncontainer"><span class="button inside-link">{fp-button-label}</span></div>
									</a>
								</li>
								{/exp:stash:get_list}
							</ul>
						</div>
					</div>
				</section>
				<section class="home-content">
					<div class="container">
						<header>
							<h2>{global-body-headline}</h2>
						</header>
						<div class="sectioncontent">
							<div class="contentregion">
								{global-body-content}

								{exp:stash:get_list name="global-body-more-info"}
								<p class="link"><a href="{bmi-page}">{bmi-title}</a></p>
								{/exp:stash:get_list}
							</div>
							<div class="video">
								<div class="iframecontainer">
									<iframe width="560" height="315" src="{global-body-video}" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
							<div class="testimonials">
								{exp:channel:entries channel='testimonial' dynamic='no' limit='5' search:testimonial-featured='y' orderby='date' sort='desc' cache='yes' refresh='1440' disable='member_data|pagination|categories'}
								<div class="testimonial">
									<blockquote>
										<p>"{testimonial-content}"</p>
										<cite>
											{if testimonial-image}<img src="{testimonial-image:224x224}" alt="{testimonial-image-alt-text}">{/if}
											<span class="text">
												<span class="name">{testimonial-name}</span>
												{if testimonial-job-title}
													<br />
													<span class="job-title">Job Title: {testimonial-job-title}</span>
												{/if} 
												{if testimonial-hometown}
													<br />
													<span class="hometown">Hometown: {testimonial-hometown}</span>
												{/if}
												{if testimonial-major}
													<br />
													<span class="major">Major: {testimonial-major}</span>
												{/if} 
											</span>
										</cite>
									</blockquote>
								</div>
								{/exp:channel:entries}
							</div>
						</div>
					</div>
				</section>
				<section class="home-reasons">
					<div class="container">
						<header>
							<h2>{global-choose-dsu-headline}</h2>
						</header>
						<div class="sectioncontent">
							{exp:stash:get_list name="global-choose-dsu"}
							<div class="reason">
								<div class="imgcontainer"><img src="{cd-photo}" alt="{cd-alt-text}"><div class="background"></div></div>
								<h3>{cd-title}</h3>
								<p>{cd-excerpt}</p>
								<p><a href="{cd-link-page}">{cd-link-label}</a></p>
							</div>
							{/exp:stash:get_list}
						</div>
					</div>
				</section>
				<section class="home-happening">
					<div class="container">
						<header>
							<h2>{global-news-events-headline}</h2>
						</header>
						
						<div class="sectioncontent">
							<section class="news">
								<header>
									<h3>News</h3>
								</header>
								<div class="sectioncontent">
									<p class="all"><a href="/news">See all news</a></p>
									{exp:channel:entries channel='news' dynamic='no' limit='1' search:news-featured='y' orderby='date' sort='desc' cache='yes' refresh='15' disable='member_data|pagination|categories'}
									<article class="newsitem lead">
										{if news-image}<img src="{news-image:509x364}" alt="{news-image-alt}">{/if}
										{snippet:homepage-news-item}
									</article>
									{/exp:channel:entries}
									<div class="others">
										{exp:channel:entries channel='news' dynamic='no' limit='3' search:news-display-on-homepage='y' orderby='news-featured|date' sort='desc|desc' cache='yes' refresh='15' disable='member_data|pagination|categories'}
										<article class="newsitem">
											{snippet:homepage-news-item}
										</article>
										{/exp:channel:entries}
									</div>
								</div>
							</section>
							<section class="events">
								<header>
									<h3>Events</h3>
								</header>
								<div class="sectioncontent">
									<p class="all"><a href="/events/">See all events</a></p>

									{exp:calendar:cal event_limit='1' search:event-featured='y' date_range_start="today" show_years="2" pad_short_weeks='n' orderby='title' sort='asc' cache='yes' refresh='15' disable='member_data|pagination|categories'}
									<article class="event lead">
										{if event-image}<img src="{event-image:509x364}" alt="{event-image-alt-text}">{/if}
										{snippet:homepage-event}
									</article>
									{/exp:calendar:cal}

									<div class="others">
										{exp:calendar:cal event_limit='3' event_id='not {global-featured-event}' search:event-display-on-homepage='y' date_range_start="today" show_years="2" pad_short_weeks='n' orderby='title' sort='asc' cache='yes' refresh='15' disable='member_data|pagination|categories'}
										<article class="event">
											{snippet:homepage-event}
										</article>
										{/exp:calendar:cal}
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>
			</main>

			{snippet:footer}
		</div>
	</div>

	{snippet:scripts}
</body>
</html>
{/exp:stash:cache}
