{exp:stash:cache replace='{global:stash_replace}'}
{stash:embed:global process='inline'}

{exp:channel:entries limit="1" disable='member_data|pagination|categories' cache='yes' refresh='1440'}
{exp:stash:set name='html-title' type='snippet'}{if news-seo-title}{news-seo-title}{if:else}{title} | {global-site-name}{/if}{/exp:stash:set}
{if news-seo-description}{exp:stash:set name='html-meta-description' type='snippet'}{news-seo-description}{/exp:stash:set}{/if}
{if news-image}
{exp:stash:set name='social-image' type='snippet'}{news-image}{/exp:stash:set}
{/if}
{if news-social-description}{exp:stash:set name='social-description' type='snippet'}{news-social-description}{/exp:stash:set}{/if}

{snippet:html-tag}
<head>
	{snippet:html-head}
	{snippet:html-head-social}
</head>
<body>
	{snippet:skip-to-content}

	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:header}

	{!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
	<main role="main" id="page-content" class="subpage-content two-column">
		<header id="content-header">
			<div class="content-titlebox">
				<div class="container">
					<h1 class="content-title">{structure:parent:title}</h1>
				</div>
			</div>
		</header>
		<nav id="content-breadcrumb">
			<div class="container">
				<ul class="breadcrumbs">
					<li><a href="/" class="home"><i class="fa fa-home"></i></a></li>
					{exp:structure:breadcrumb inc_separator='no' inc_home="no" wrap_each='li' wrap_here='span' here_as_title='yes'}
				</ul>
			</div>
		</nav>
		<div class="sectioncontent">
			<div class="container">
				<nav class="sidebar-nav">
					<section class="sidebarcomponent sidebarcomponent-navigation">
						<div class="sectioncontent">
							<ul class="links">
								{embed='embeds/.category-links' category='news' category_id='1'}
							</ul>
						</div>
					</section>
				</nav>
				<div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
					<div class="content-content"> {!-- I'm running out of good, semantic names. --}
						{if news-image}
						<div class="content-featuredimage">
							{!-- In a two-column layout, this is 761×342 --}
							<img itemprop="image" src="{news-image:761x342}" alt="{news-image-alt}">
							{if news-caption != ''}<div class="caption">{news-caption}</div>{/if}
						</div>
						{/if}
						<div class="usercontent">
							<h2 itemprop="name">{title}</h2>
							<p class="news-tagline"><time datetime="{entry_date format='{DATE_ISO8601}'}" itemprop="datePublished">{entry_date format="%n.%j.%y"}</time> <span class="categories">{news-category backspace="2"}<a href="/news/?category={url_title}">{title}</a>, {/news-category}</span></p>

							<div itemprop="articleBody">
								{news-content}
							</div>
						</div>
					</div>
				</div>
				{embed='embeds/.news-sidebar'}
			</div>
		</div>
	</main>

	{snippet:footer}
		</div>
	</div>

	{snippet:scripts}
</body>
</html>
{/exp:channel:entries}
{/exp:stash:cache}