{!-- We need to test whether the sidebar navigation will contain anything
	 before we create the outer HTML structure for that. So, we need to put it
	 into a Stash snippet, and test whether it is empty or not.

	 This code is confusing and it sucks. I'm sorry. It's the only thing I
	 could get to work.
	 --}
{exp:stash:parse}
	{if segment_2 == 'degrees-and-programs' && segment_3}
		{exp:stash:set name="sidebar-nav" type="snippet" parse_tags="yes" parse_conditionals="yes"}{exp:structure:nav has_children_class="yes" status="not closed" start_from="/{segment_1}/{segment_2}/{segment_3}/" include_ul="no"}{/exp:stash:set}
		{exp:stash:set name="sidebar-nav-exists" type="snippet" parse_tags="yes" parse_conditionals="yes"}{exp:structure:nav has_children_class="yes" status="not closed" start_from="/{segment_1}/{segment_2}/{segment_3}/" include_ul="no"}{/exp:stash:set}
	{if:elseif embed:feature == 'news'}
		{exp:stash:set name="sidebar-nav" type="snippet" parse_tags="no" parse_conditionals="no"}{embed='embeds/.category-links' category='news' category_id='1'}{/exp:stash:set}
		{!-- Including {if "{sidebar-nav}" != ""} dies because it contains an embed. So, use sidebar-nav-exists instead, and hardcode it in the embeds situation. --}
		{exp:stash:set name="sidebar-nav-exists" type="snippet" parse_tags="no" parse_conditionals="no"}yes{/exp:stash:set}
	{if:else}
		{exp:stash:set name="sidebar-nav" type="snippet" parse_tags="yes" parse_conditionals="yes"}{exp:structure:nav has_children_class="yes" status="not closed" start_from="/{segment_1}" include_ul="no" {if embed:feature == 'programs'}max_depth="1"{/if}}{/exp:stash:set}
		{exp:stash:set name="sidebar-nav-exists" type="snippet" parse_tags="yes" parse_conditionals="yes"}{exp:structure:nav has_children_class="yes" status="not closed" start_from="/{segment_1}" include_ul="no" {if embed:feature == 'programs'}max_depth="1"{/if}}{/exp:stash:set}
	{/if}
{/exp:stash:parse}

{exp:stash:cache replace='{global:stash_replace}'}
{stash:embed:global process='start'}

{exp:channel:entries limit="1" disable='member_data|pagination|categories' cache='no' refresh='1440' status='open|closed'}
{if status == "closed"}{redirect="home/404" status_code="404"}{/if}
{exp:stash:set name='html-title' type='snippet'}{if page-seo-title}{page-seo-title}{if:else}{title} | {global-site-name}{/if}{/exp:stash:set}
{if page-seo-description}{exp:stash:set name='html-meta-description' type='snippet'}{page-seo-description}{/exp:stash:set}{/if}

{snippet:html-tag}
<head>
	{snippet:html-head}
</head>
<body>
	{snippet:skip-to-content}

	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:header}

	{!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
	<main role="main" id="page-content" class="subpage-content {if embed:columns == '3'}three{if:else}two{/if}-column">
		<header id="content-header">
			{if page-hero-image}
			<picture>
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				{!-- Largest sizes are cut to always be 572 pixels high. Including two images (crop from the center) so that smaller screens don't have to download the parts of the images on the end that they won't see. --}
				<source srcset="{page-hero-image:1920x572}" media="(min-width:65.64em)">
				<source srcset="{page-hero-image:1050x572}" media="(min-width:48em)">
				{if page-hero-image-small}
				{!-- Smallest three sizes are for mobile, and they hold their aspect ratio --}
				<source srcset="{page-hero-image-small:768x672}" media="(min-width:40.01em)">
				<source srcset="{page-hero-image-small:640x560}" media="(min-width:20.01em)">
				<!--[if IE 9]></video><![endif]-->

				<!--[if lte IE 8]>
				<img src="{page-hero-image:1920x572}" alt="{page-hero-image-alt}" class="content-largeimage">
				<![endif]-->

				<!--[if gt IE 8]><!-->
				<img src="{page-hero-image-small:320x280}" alt="{page-hero-image-alt}" class="content-largeimage">
				<!--<![endif]-->
				{if:else}
				<source srcset="{page-hero-image:768x672}" media="(min-width:40.01em)">
				<source srcset="{page-hero-image:640x560}" media="(min-width:20.01em)">
				<!--[if IE 9]></video><![endif]-->

				<!--[if lte IE 8]>
				<img src="{page-hero-image:1920x572}" alt="{page-hero-image-alt}" class="content-largeimage">
				<![endif]-->

				<!--[if gt IE 8]><!-->
				<img src="{page-hero-image:320x280}" alt="{page-hero-image-alt}" class="content-largeimage">
				<!--<![endif]-->
				{/if}
			</picture>
			{/if}
			<div class="content-titlebox">
				<div class="container">
					<h1 class="content-title">{title}</h1>
					{if embed:feature == 'program'}
						{embed='embeds/.program-select'}
					{/if}
				</div>
			</div>
		</header>
		<nav id="content-breadcrumb">
			<div class="container">
				<ul class="breadcrumbs">
					<li><a href="/" class="home"><i class="fa fa-home"></i></a></li>
					{exp:structure:breadcrumb inc_separator='no' inc_home="no" wrap_each='li' wrap_here='span' here_as_title='yes'}
				</ul>
			</div>
		</nav>
		<div class="sectioncontent">

			<div class="container {if embed:feature == 'maps-and-directions' || embed:feature == 'campus-tour'}contains-campusmap{/if}">
				{if embed:feature == 'maps-and-directions' || embed:feature == 'campus-tour'}
				<div class="campusmap-pusher"></div>
				{/if}

				<nav class="sidebar-nav">
					{if "{sidebar-nav-exists}" != ""}
					<section class="sidebarcomponent sidebarcomponent-navigation">
						<div class="sectioncontent">
							<ul class="links">
								{sidebar-nav}
							</ul>
						</div>
					</section>
					{/if}
				</nav>
				<div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
					<div class="content-content"> {!-- I'm running out of good, semantic names. --}

						{if embed:feature == 'maps-and-directions' || embed:feature == 'campus-tour'}
						<div class="campusmap-fullbleed-container">
							<div class="campusmap-container">
								<div id="campusmap-canvas"></div>
							</div>
						</div>
						{/if}

						{if page-featured-image}
						<div class="content-featuredimage">
							{!-- In a two-column layout, this is 761×342 --}
							<img src="{page-featured-image:761x342}" alt="{page-featured-image-alt}">
						</div>
						{/if}
						<div class="usercontent">
							{page-content}
						</div>
						{if page-in-copy-callouts:total_rows > 0}
							{page-in-copy-callouts}
							<div class="linkcallout">
								<h3>{page-in-copy-callouts:title}</h3>
								{page-in-copy-callouts:content}
								<a class="button" href="{if page-in-copy-callouts:button-page-link}{page-in-copy-callouts:button-page-link}{if:else}{page-in-copy-callouts:button-url}{/if}" {if page-in-copy-callouts:button-url}rel="external" target="_blank"{/if}>{page-in-copy-callouts:button-label}</a>
							</div>
							{/page-in-copy-callouts}
						{/if}
						{if page-accordion:total_rows > 0}
						<div class="accordiongroup">
							{page-accordion}
							<section class="accordionitem">
								<header>
									<h4>{page-accordion:title}</h4>
								</header>
								<div class="sectioncontent usercontent">
									{page-accordion:content}
								</div>
							</section>
							{/page-accordion}
						</div>
						{/if}
						{if page-employee-listing}
						<div class="facultylist">
							{page-employee-listing}
							<div class="facultymember">
								{if p-image}
								<div class="imagecontainer">
									<img src="{p-image:328x328}" alt="{title}">
								</div>
								{/if}
								<div class="contentcontainer">
									<h3 class="name">{title}</h3>
									{if p-position}<p class="title">{p-position}</p>{/if}
									<a href="{page_url}" class="details">About Me</a>
									<div class="contact">
										{if p-phone}<a href="tel:{p-phone}" class="tel">{p-phone}</a>{/if}
										{if p-email}<a href="mailto:{p-email}" class="email">Email</a>{/if}
									</div>
								</div>
							</div>
							{/page-employee-listing}
						</div>
						{/if}
						{if page-form}
						<div class="form">
                        	{page-form}
                        </div>
                    	{/if}
                    	{if page-form-embed}
                    	<div class="form">
                    		{page-form-embed}
                    	</div>
                    	{/if}
                    	{if page-testimonials}
                    	{page-testimonials orderby="random" limit="1"}
                    	<section class="quotationbox">
							<header>
								<h4>What {if testimonial-category == 'Student'}Students{if:else}Alumni{/if} Say</h4>
							</header>
							<div class="sectioncontent">
								{if testimonial-image}<img src="{testimonial-image:224x224}" alt="{testimonial-image-alt-text}">{/if}
								<blockquote>
									<p>"{testimonial-content}"</p>

									<cite><span class="name">{testimonial-name}</span> {if testimonial-hometown}<br /><span class="hometown">Hometown: {testimonial-hometown}</span>{/if} {if testimonial-job-title}<br /><span class="job-title">Job Title: {testimonial-job-title}</span>{/if} {if testimonial-major}<span class="major"><br />Major: {testimonial-major}</span>{/if}</cite>
								</blockquote>
							</div>
						</section>
						{/page-testimonials}
                    	{/if}

						{exp:switchee variable='{embed:feature}' parse='inward'}
							{case value='programs'}
								{embed='embeds/.programs'}
							{/case}

							{case value='news'}
								{embed='embeds/.news-list'}
							{/case}

							{case value='directory'}
								{embed='embeds/.directory'}
							{/case}

							{case value='states-by-online-program'}
								{embed='embeds/.states-by-online-program'}
							{/case}

							{case value='maps-and-directions|campus-tour'}
								{embed='embeds/.map' feature='{embed:feature}'}
							{/case}
						{/exp:switchee}
					</div>
					{if embed:columns == '3'}
					<aside class="sidebar-related">{!-- Doesn't exist in .two-column --}
						{if page-callout-buttons}
						<section class="sidebarcomponent sidebarcomponent-callouts">
							<div class="sectioncontent">
								{page-callout-buttons}
								<a href="{if cb-page}{cb-page}{if:else}{cb-url}{/if}" class="button{if total_results > 2 && total_results == count} secondary{/if}">{title}</a>
								{/page-callout-buttons}
							</div>
						</section>
						{/if}

						{if embed:feature == 'program'}
							{if page-program-online-states}
						<section class="sidebarcomponent sidebarcomponent-campuslink">
							<div class="sectioncontent">
								<a href="{structure:page_url_for:106}?program={url_title}">
									<h3>Take Online</h3>
									<p>Learn More</p>
									<span class="icon icon-online"></span>
								</a>
							</div>
						</section>
							{/if}

							{if page-program-uc}
						<section class="sidebarcomponent sidebarcomponent-campuslink">
							<div class="sectioncontent">
								<a href="{structure:page_url_for:167}">
									<h3>Take at the University Center</h3>
									<p>Learn More</p>
									<span class="icon icon-uc"></span>
								</a>
							</div>
						</section>
							{/if}
						{/if}

						{if page-featured-subpages:total_rows > 0}
						{page-featured-subpages}
						<section class="sidebarcomponent sidebarcomponent-photocallout">
							{page-featured-subpages:page}
							{if page-featured-subpages:page:page-featured-image}
							<header>
								<img src="{page-featured-subpages:page:page-featured-image:214x100}" alt="">{!-- Image for decoration only. Should not be read via screenreader. --}
							</header>
							{if:else}
							<header class="empty"></header>
							{/if}
							<div class="sectioncontent">
								<h4><a href="{page-featured-subpages:page:page_url}">{page-featured-subpages:page:title}</a></h4>
								<p>{page-featured-subpages:excerpt}</p>
								<a href="{page-featured-subpages:page:page_url}">{page-featured-subpages:link-title}</a>
							</div>
							{/page-featured-subpages:page}
						</section>
						{/page-featured-subpages}
						{/if}

						{if page-tcb-callout:total_rows > 0}
						{page-tcb-callout}
						<section class="sidebarcomponent sidebarcomponent-questions">
							<header class="emphasis">
								<h3>{page-tcb-callout:title}</h3>
							</header>
							<div class="sectioncontent">
								<p>{page-tcb-callout:content}</p>
								<a href="{page-tcb-callout:button-page}" class="button">{page-tcb-callout:button-label}</a>
							</div>
						</section>
						{/page-tcb-callout}
						{/if}

						{if page-contact-info:total_rows > 0}
						{page-contact-info}
						<section class="sidebarcomponent sidebarcomponent-contact">
							<header class="emphasis">
								<h3>Contact Info</h3>
							</header>
							<div class="sectioncontent">
								{page-contact-info:rel}
									<h4 class="name"><a href="{page-contact-info:rel:page_uri}">{page-contact-info:name}</a></h4>
									{if page-contact-info:rel:no_results}
										<h4 class="name">{page-contact-info:name}</h4>
									{/if}
								{/page-contact-info:rel}
								<h5 class="title">{page-contact-info:title}</h5>
								{if page-contact-info:phone}<a href="tel:{page-contact-info:phone}" class="tel">{page-contact-info:phone}</a>{/if}
								{if page-contact-info:email}<a href="mailto:{page-contact-info:email}" class="mail">{page-contact-info:email}</a>{/if}
							</div>
						</section>
						{/page-contact-info}
						{/if}

						{if page-resources:total_rows > 0}
						<section class="sidebarcomponent sidebarcomponent-resources">
							<header class="emphasis">
								<h3>Resources</h3>
							</header>
							<div class="sectioncontent">
								<ul>
									{page-resources}
									<li><a href="{page-resources:file}">{page-resources:title}</a></li>
									{/page-resources}
								</ul>
							</div>
						</section>
						{/if}
					</aside>
					{/if}
				</div>
				<aside class="sidebar-other">
					{if page-events-category}
					<section class="sidebarcomponent sidebarcomponent-events">
						<header class="emphasis">
							<h3>Events</h3> {!-- What's the proper heading level for these? CSS should work with any heading level, so feel free to change --}
						</header>
						<div class="sectioncontent">
							<ul>
								{embed='embeds/.event-list-sidebar' category='{page-events-category}'}
							</ul>
						</div>
						<footer>
							<a href="/events/">See All Events</a>
						</footer>
					</section>
					{/if}

					{if embed:feature == 'program' && page-program-related}
					<section class="sidebarcomponent sidebarcomponent-relatedlinks">
						<header class="emphasis">
							<h3>Similar Programs</h3>
						</header>
						<div class="sectioncontent">
							<ul class="links">
								{page-program-related}
								<li><a href="{page_url}">{title}</a></li>
								{/page-program-related}
							</ul>
						</div>
					</section>
					{/if}

					{if page-related-links:total_rows > 0}
					<section class="sidebarcomponent sidebarcomponent-relatedlinks">
						<header class="emphasis">
							<h3>Related Links</h3>
						</header>
						<div class="sectioncontent">
							<ul class="links">
								{page-related-links}
								<li><a href="{if page-related-links:page}{page-related-links:page}{if:else}{page-related-links:url}{/if}">{page-related-links:title}</a></li>
								{/page-related-links}
							</ul>
						</div>
					</section>
					{/if}

					{if page-photo-gallery:total_rows > 0}
					<section class="sidebarcomponent sidebarcomponent-photogallery">
						<header class="emphasis">
							<h3>{page-photo-gallery-title}</h3>
						</header>
						<div class="sectioncontent">
							{page-photo-gallery}
							<a href="{page-photo-gallery:image}"><img src="{page-photo-gallery:image:683x445}" alt="{page-photo-gallery:caption}"></a>
							{/page-photo-gallery}
						</div>
					</section>
					{/if}

					{if page-social-networks:total_rows > 0}
					<section class="sidebarcomponent sidebarcomponent-social">
						<header class="emphasis">
							<h3>Connect</h3>
						</header>
						<div class="sectioncontent">
							<h4>{page-social-networks-subtitle}</h4>
							{page-social-networks}
							<a href="{page-social-networks:url}" class="{page-social-networks:icon}">{page-social-networks:title}</a>
							{/page-social-networks}
						</div>
					</section>
					{/if}

					{if page-photo-callout}
					{page-photo-callout}
					<section class="sidebarcomponent sidebarcomponent-gift">
						<header>
							<h3>{page-photo-callout:title}</h3>
						</header>
						<div class="sectioncontent">
							{if page-photo-callout:image}
							<img src="{page-photo-callout:image:688x400}" alt="{page-photo-callout:image-alt}">
							{/if}
							<p>{page-photo-callout:content}</p>
							<a href="{if page-photo-callout:button-url}{page-photo-callout:button-url}{if:else}{page-photo-callout:button-page}{/if}" class="button">{page-photo-callout:button-label}</a>
						</div>
					</section>
					{/page-photo-callout}
					{/if}
				</aside>
			</div>
		</div>
	</main>

	{snippet:footer}
		</div>
	</div>

	{snippet:scripts}
</body>
</html>
{/exp:channel:entries}
{/exp:stash:cache}
