{exp:stash:cache replace='{global:stash_replace}'}
{stash:embed:global process='inline'}

{exp:channel:entries limit="1" disable='member_data|pagination|categories' cache='no' refresh='1440'}
{exp:stash:set name='html-title' type='snippet'}{title} | {global-site-name}{/exp:stash:set}

{if p-image}
{exp:stash:set name='social-image' type='snippet'}{p-image}{/exp:stash:set}
{/if}
{if p-position}{exp:stash:set name='social-description' type='snippet'}{p-position}{/exp:stash:set}{/if}

{snippet:html-tag}
<head>
	{snippet:html-head}
	{snippet:html-head-social}
</head>
<body>
	{snippet:skip-to-content}

	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:header}

	{!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
	<main role="main" id="page-content" class="subpage-content two-column">
		<header id="content-header">
			<div class="content-titlebox">
				<div class="container">
					<h1 class="content-title">{structure:parent:title}</h1>
				</div>
			</div>
		</header>
		<nav id="content-breadcrumb">
			<div class="container">
				<ul class="breadcrumbs">
					<li><a href="/" class="home"><i class="fa fa-home"></i></a></li>
					{exp:structure:breadcrumb inc_separator='no' inc_home="no" wrap_each='li' wrap_here='span' here_as_title='yes'}
				</ul>
			</div>
		</nav>
		<div class="sectioncontent">
			<div class="container">
				<nav class="sidebar-nav">
					<section class="sidebarcomponent sidebarcomponent-navigation">
						<div class="sectioncontent">
							<ul class="links">
								{exp:structure:nav has_children_class="yes" status="not closed" start_from="/{segment_1}" include_ul="no"}
							</ul>
						</div>
					</section>
				</nav>
				<div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
					<div class="content-content"> {!-- I'm running out of good, semantic names. --}
						<div class="facultybio" itemscope itemtype="http://schema.org/Person">
							<div class="lead">
								<h2 class="name" itemprop="name">{title}</h2>
								<h3 class="title" itemprop="jobTitle">{p-position}</h3>
							</div>
							<div class="split">
								{if p-image}
								<div class="imagecontainer">
									<img src="{p-image:328x328}" alt="{title}" itemprop="image">
								</div>
								{/if}
								<div class="usercontent">
									{p-bio}
								</div>
								<div class="contact">
									{if p-phone}<a href="tel:{p-phone}" class="tel" itemprop="telephone">{p-phone}</a>{/if}
									{if p-email}<a href="mailto:{p-email}" class="mail" itemprop="email">Email</a>{/if}
									{if p-social-networks:total_rows > 0}
									{p-social-networks}
									<a href="{p-social-networks:url}" target="_blank" class="{p-social-networks:social-network}">{p-social-networks:title}</a>
									{/p-social-networks}
									{/if}
								</div>
							</div>
							<dl class="info">
								{p-department}
								{if title}
								<dt>Department</dt>
								<dd itemprop="memberOf">{title}</dd>
								{/if}
								{/p-department}
								{if p-office-location}
								<dt>Office Location</dt>
								<dd>{p-office-location}</dd>
								{/if}
								{if p-website-url}
								<dt>Website</dt>
								<dd><a href="{p-website-url}" rel="external" target="_blank">{p-website-url}</a></dd>
								{/if}
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{snippet:footer}
		</div>
	</div>

	{snippet:scripts}
</body>
</html>
{/exp:channel:entries}
{/exp:stash:cache}
