.accordiongroup {
}

.accordionitem {
	margin-bottom: 13/16*1em;
	// Fixes an issue in IE8 where sometimes, after opening or closing
	// accordions, they butt up against each other instead of preserving their
	// bottom margin.
	overflow: hidden;

	& > header {
		background: #00aeef;
		border-radius: 3/16*1em;

		h1, h2, h3, h4, h5, h6,
		button {
			display: block;
			margin: 0;
			padding: (9/20*1em) (14/20*1em);
			padding-right: 32/20*1em;
			width: 100%;

			background: none;
			border: none;

			color: white;
			@extend %proxima-nova;
			@include font-size(20);
			font-weight: normal;
			text-align: left;
		}

		button {
			position: relative;
			cursor: pointer;

			&:after {
				position: absolute;
				font-family: FontAwesome;
				right: 13/16*1em;
				top: 13/16*1em;

				@include font-size(16);
			}

			&:hover,
			&:focus {
				background: #4b4b4b;
			}
		}
	}

	& > .sectioncontent {
		padding-top: 24/16*1em;
		padding-bottom: 19/16*1em;
		overflow: hidden; /* Clearfix */
	}
}

.accordionitem[data-state=closed] {
	& > header {
		background: #6488a0;

		button:after {
			content: $fa-var-plus;
			color: #fff200;
		}
	}
}
.accordionitem[data-state=open] {
	& > header {
		background: #00aeef;

		button:after {
			content: $fa-var-minus;
			color: white;
		}
	}
}
