html {
	@extend %proxima-nova;
	//color: #efe7cb;
	font-size: 100%;
}

html, body {
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
	//margin: 0;
	//padding: 0;
	box-sizing: border-box;
}

a img {
	// Because IE made a bad choice a long time ago.
	border: none;
}

body {
	@if $old-ie {
		min-width: $ie8-size * 1px;
	}
}

.container {
	max-width: 1050px;
	max-width: 1050/16*1rem;
	margin: 0 auto;
	box-sizing: content-box;
	padding-left: 1em;
	padding-right: 1em;

	@if $old-ie {
		width: $ie8-size * 1px;
		box-sizing: border-box; /* Need this for proper scrolling. */
	}
}
