.breadcrumbs {
	list-style-type: none;
	margin: 0;
	padding: 0;

	@include font-size(15);

	li {
		display: inline-block;
		margin-right: 5/15*1em;
	}

	a {
		color: #4da6cd;
		text-decoration: none;

		&:hover,
		&:focus {
			color: #b8c128;
		}
	}

	a,
	span {
		display: block;

		padding-left: 3/15*1em;
		padding-right: 9/15*1em;
		border-bottom: 1px solid #d6d6d6;
		position: relative;

		&:before {
			position: absolute;
			content: "";
			right: 0;
			bottom: 0;

			border-right: 6px solid #d6d6d6;
			border-top: 16px solid transparent;
		}

		&:after {
			position: absolute;
			content: "";
			right: 0;
			bottom: -1px;

			border-right: 6px solid white;
			border-top: 16px solid transparent;
		}
	}
}
