@keyframes campusalert-slidein {
	from {
		transform: translate(0,-300%);
	}
	to {
		transform: translate(0, 0);
	}
}

@keyframes campusalert-color {
	from {
		background-color: #d70000;
	}
	to {
		background-color: #f2a900;
	}
}

#campusalert {
	position: relative;
	z-index: 3;
	background: #f2a900;

	padding: (40/16*1em) 0;

	animation-duration: 2s;
	animation-name: campusalert-color;

	a {
		text-decoration: none;
	}

	.container {
		position: relative;
		will-change: transform;
		animation-duration: 2s;
		animation-name: campusalert-slidein;

		&:before {
			position: absolute;
			top: -2/26*1em;
			content: $fa-var-bullhorn;
			background: black;
			padding: 4/26*1em;
			border-radius: 2/26*1em;

			color: white;
			@include font-size(26);
			font-family: FontAwesome;
			font-weight: normal;
		}

		br {
			line-height: 0;
		}

		div, p {
			margin: 0;
			padding-left: 50/26*1em;

			color: white;
			@include font-size(26);
			font-weight: $semibold;
		}
	}
}
