#page-footer {
	.callouts {
		overflow: hidden; // clearfix

		background: #00aeef;
		padding: (22/16*1em) 0;

		.internal {
			margin: 0;
			margin-bottom: 28/16*1em;
			padding: 0;
			list-style-type: none;
			overflow: hidden; // clearfix

			@include mq(medium) {
				float: left;
				margin-bottom: 0;
			}

			li {
				display: block;
				float: left;
				@include mq(small, only) {
					width: percentage(136/288);

					& + li {
						margin-left: percentage(16/288);
					}
				}

				@include mq(medium) {
					margin-right: 18/16*1em;
					width: auto;
				}
			}

			a {
				display: block;
				position: relative;
				padding-top: 11/20*1em;
				padding-bottom: 11/20*1em;

				background: #0e4583;
				border-radius: 4px;
				text-align: center;

				color: #eee9c5;
				@include font-size(20);
				text-decoration: none;

				@include mq(medium) {
					@include font-size(26);
					padding-top: 7/26*1em;
					padding-bottom: 7/26*1em;
					padding-right: 15/26*1em;
					padding-left: 17/26*1em;
				}

				@include mq(medium) {
					// box and arrow
					&:after {
						content: "\203a";
						position: relative;
						z-index: 2;

						margin-left: 34/33*1em;

						color: #fff200;
						@include font-size(33);
						line-height: 26/33*1em;
					}

					&:before {
						content: "";
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						width: 41/26*1em;

						background: #004fac;
						border-radius: 0 4px 4px 0;
					}
				}

				&:hover,
				&:focus {
					color: white;

					&:after {
						color: white;
					}
				}
			}
		}

		.social {
			margin: 0;
			padding: 0;
			list-style-type: none;
			text-align: center;

			@include mq(medium) {
				float: right;
			}

			li {
				display: inline-block;
				margin-left: 5/16*1em;
				margin-right: 5/16*1em;

				@include mq(medium) {
					display: block;
					float: left;
					margin-left: 13/16*1em;
					margin-right: 0;
				}
			}

			a {
				position: relative;
				display: block;
				width: 48/28*1em;
				height: 48/28*1em;

				background: #00a2df url(/assets/images/diagonals/5/0077a3.png) repeat top left;

				color: #eee9c5;
				@include font-size(28);
				text-decoration: none;
				text-indent: -9999px;

				&:after {
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;

					padding-top: 10/28*1em;

					content: "";
					font-family: FontAwesome;
					text-align: center;
					text-indent: 0;
				}

				&:hover,
				&:focus {
					color: white;
				}


				&.facebook:after { content: $fa-var-facebook; }
				&.twitter:after { content: $fa-var-twitter; }
				&.googleplus:after { content: $fa-var-google-plus; }
				&.linkedin:after { content: $fa-var-linkedin; }
			}
		}
	}

	.primary {
		background: #0054a4 url(/assets/images/footer-background.jpg) no-repeat top center;
		padding: (55/16*1em) 0;
		overflow: hidden; // clearfix

		.quicklinks {
			@include mq(medium) {
				width: percentage(210/690);
				float: left;

				@include mq(large) {
					width: percentage(330/1050);
				}
			}

			h1, h2, h3, h4, h5, h6 {
				margin: 0;
				border-bottom: 1px solid #0088bb;

				color: white;
				@include font-size(28);
				font-weight: normal;
				line-height: 47/28*1em;
				text-align: center;

				@include mq(large) {
					@include font-size(38);
					line-height: 47/38*1em;
					text-align: left;
				}
			}

			ul {
				list-style-type: none;
				margin: 0;
				margin-top: 10/16*1em;
				padding: 0;
			}

			a {
				display: block;

				color: #ebe093;
				@include font-size(19);
				line-height: 26/19*1em;
				text-align: center;
				text-decoration: none;
				padding: (8/24*1em) 0;

				@include mq(large) {
					@include font-size(24);
					text-align: left;
				}

				&:hover,
				&:focus {
					color: white;
				}
			}
		}

		.logos {
			width: percentage(210/288);
			padding: percentage(30/210) percentage(30/210);
			margin-top: 25/16*1em;
			margin-bottom: 33/16*1em;
			margin-left: auto;
			margin-right: auto;

			@include mq(medium) {
				width: percentage(210/690);
				margin-top: 0;
				margin-bottom: 0;
				margin-left: percentage(30/690);
				margin-right: percentage(30/690);
				padding: percentage(40/1050) percentage(44/1050);
				float: left;

				@include mq(large) {
					width: percentage(274/1050);
					margin-left: percentage(58/1050);
					margin-right: percentage(58/1050);
				}
			}

			background: #004497 url(/assets/images/diagonals/5/003778.png) repeat top left;
			background-color: rgba(#002b55, 0.2);

			img {
				width: 100%;
				display: block;
			}

			.dsu {
				background: #0054a4;
				padding: percentage(8/186);
				margin-bottom: percentage(26/186);
			}
		}

		.contact {
			@include mq(medium) {
				width: percentage(210/690);
				float: right;

				@include mq(large) {
					width: percentage(330/1050);
				}
			}

			h1, h2, h3, h4, h5, h6 {
				margin: (24/28*1em) 0 0;
				color: white;
				@include font-size(28);
				font-weight: normal;

				display: none;

				@include mq(medium) {
					display: block;
					margin-top: 0;
					text-align: center;
				}
				@include mq(large) {
					margin-top: 24/28*1em;
					text-align: left;
				}
			}

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			li {
				display: block;
				position: relative;

				padding-top: 15px;
				padding-top: 15/16*1rem;
				padding-bottom: 15px;
				padding-bottom: 15/16*1rem;

				padding-left: percentage(40/288);
				padding-right: percentage(40/288);

				color: #aad4ff;
				@include font-size(16);
				line-height: 25/16*1em;

				@include mq(medium) {
					@include font-size(18);
					line-height: 25/18*1em;

					padding-top: 18px;
					padding-top: 18/16*1rem;
					padding-bottom: 18px;
					padding-bottom: 18/16*1rem;
					padding-left: 0;
					padding-right: 0;
				}
			}

			li + li {
				border-top: 1px solid #0088bb;
			}

			.phone,
			.email,
			.location {
				position: relative;
				padding-left: 60px;
				padding-left: 60/16*1rem;
				min-height: 50px;
				min-height: 50/16*1rem;

				&:before {
					content: "";
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					width: 50/29*1em;
					height: 50/29*1em;
					padding-top: 12/29*1em;

					@include mq(medium) {
						left: 0;
					}

					background: url(/assets/images/diagonals/5/003778.png);

					color: #00aeef;
					font-family: FontAwesome;
					@include font-size(29);
					text-align: center;
				}
			}

			a {
				display: block;
				color: #ebe093;
				text-decoration: none;

				&:hover,
				&:focus {
					color: white;

					&:before {
						color: white;
					}
				}
			}

			span {
				display: block;
			}

			.phone,
			.email {
				padding-top: 13/20*1em;

				@include font-size(20);

				@include mq(medium) {
					padding-top: 11/24*1em;
					@include font-size(24);
				}

				a {
					color: #ebe093;
					text-decoration: none;

					&:hover,
					&:focus {
						color: white;
					}
				}
			}

			.phone {
				&:before { content: $fa-var-phone; }
			}

			.email {
				&:before { content: $fa-var-envelope; }
			}

			.location {
				&:before { content: $fa-var-map-marker; }
			}
		}
	}

	.leftovers {
		background: #003b74;
		padding: (16/16*1em) 0;
		overflow: hidden;

		.legal {
			color: #5f9cd7;
			@include font-size(16);

			@include mq(large) {
				float: left;
			}

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				text-align: center;

				@include mq(large) {
					display: inline;
					text-align: left;
				}
			}

			li {
				display: inline-block;
				margin-right: 8/16*1em;

				&:last-child {
					margin-right: 0;
				}

				@include mq(large) {
					margin-right: 17/16*1em;

					&:last-child {
						margin-right: 17/16*1em;
					}
				}
			}

			a {
				color: #c8e4ff;
				text-decoration: none;
				text-transform: uppercase;

				&:hover,
				&:focus {
					color: white;
				}
			}

			.copyright {
				@include font-size(14);
				text-align: center;

				@include mq(large) {
					display: inline;
					text-align: left;
				}
			}
		}

		.clickrain {
			@include mq(large) {
				float: right;
			}

			color: #4e89c2;
			@include font-size(12);

			p {
				margin: 0;
				margin-top: 30/12*1em;
				text-align: center;

				@include mq(large) {
					margin-top: 3/12*1em;
					text-align: left;
				}
			}

			a {
				display: inline-block;
				width: 114/12*1em;
				height: 22/12*1em;
				position: relative;
				top: -8/12*1em;

				background: url(/assets/images/clickrain.png) no-repeat center center;
				background-size: 100%;

				text-indent: -9999px;

				html.svg & {
					background-image: url(/assets/images/clickrain.svg);
				}
			}
		}
	}
}
