.form {
	label {
		display: block;
		margin-bottom: 5/22*1em;

		color: #0054a4;
		@include font-size(22);
		font-weight: normal;

		&.error {
			margin-top: 10/22*1em;
			margin-bottom: 0;

			color: #d70000;
			@include font-size(16);
			font-style: italic;
			font-weight: normal;
		}
	}

	.field.required label {
		&:after {
			content: "*";
			color: #999;
		}

		&.error {
			&:after {
				content: "";
				content: none;
			}
		}
	}

	input,
	textarea,
	select {
		width: 100%;
		padding: (7/20*1em) (12/20*1em);
		margin: 0;

		border: 1px solid #b8c128;
		border-radius: 4/20*1em;
		background: #f8f8f8;

		color: #555555;
		@extend %proxima-nova;
		@include font-size(20);
		font-weight: normal;

		&.error {
			border-color: #d70000;
		}

		&:focus {
			border-color: #00aeef;
			outline: none;
			background: white;
		}
	}

	.unit {
		margin-bottom: 21/16*1em;
		padding-right: 16/16*1em;
	}

	@include mq(medium) {
		.size1of2,
		.size2of2,
		.size1of3,
		.size2of3,
		.size3of3,
		.size1of4,
		.size2of4,
		.size3of4,
		.size4of4 {
			float: left;
		}

		.size1of2,
		.size2of2 {
			width: 50%;
		}

		.size1of3,
		.size2of3,
		.size3of3 {
			width: 33.33333%;
		}

		.size1of4,
		.size2of4,
		.size3of4,
		.size4of4 {
			width: 25%;
		}
	}

	.row {
		overflow: hidden; /* Clearfix */
	}

	ul, // Checkboxes, radio buttons
	ol {
		input {
			display: inline;
			width: auto;
			border: none;
			background: none;
		}
		label {
			display: inline;

			color: #555555;
			@extend %proxima-nova;
			@include font-size(20);
			font-weight: normal;

			&.error {
				display: block;
			}
		}
	}

	.field-nonfield_submit {
		margin-top: 20/16*1em;
		border-top: 1px solid #d6d6d6;
		padding-top: 34/16*1em;
	}

	button {
		position: relative;
		padding-left: 18/22*1em;
		padding-right: (18+43)/22*1em;
		padding-top: 10/22*1em;
		padding-bottom: 10/22*1em;

		cursor: pointer;

		background: #f2a900;
		border: none;
		border-radius: 5/22*1em;

		color: white;
		@extend %proxima-nova;
		@include font-size(22);
		text-transform: uppercase;

		&:after {
			content: $fa-var-chevron-right;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 43/18*1em;
			padding-top: 14/18*1em;

			background: #d69500;
			border-radius: 0 (5/18*1em) (5/18*1em) 0;

			color: #fff200;
			font-family: FontAwesome;
			@include font-size(18);
		}

		&:hover,
		&:focus {
			background: #4b4b4b;
			color: #fcf006;

			&:after {
				background: #727272;
				color: white;
			}
		}
	}
}
