#mobilenavigationbutton {
	display: none;
}

#page-top {
	position: relative;
	z-index: 2;
	transition: 0.4s transform;
}

#page-header {
	background: #000e37 url(/assets/images/header.jpg) no-repeat top center;
	background-size: auto 100%;

	.container {
		overflow: hidden;
		position: relative;
	}

	.logolink {
		display: block;
		float: left;
		padding-top: 11/16*1em;
		padding-bottom: 12/16*1em;

		img {
			height: 47/16*1em;
			display: block;
		}

		@include mq(medium) {
			padding-top: 15/16*1em;
			padding-bottom: 19/16*1em;

			img {
				height: 66/16*1em;
			}
		}
	}

	.portallink {
		display: none;

		@include mq(medium) {
			display: inline-block;
			position: absolute;
			right: 65/13*1em;
			top: 5/13*1em;
			color: #d5cfb5;
			text-decoration: none;

			&:before {
				content: $fa-var-user;
				color: #b5c22a;
				font-family: 'FontAwesome';
				margin-right: 5px;
			}

			&:focus,
			&:hover {
				color: #f2a900;
			}
		}
	}

	nav.secondary {
		display: none;
		float: right;
		padding-top: 34/16*1em;

		@include mq(medium) {
			display: block;
			padding-right: 40/16*1em;
		}
		@include mq(navigation-large) {
			padding-right: 0;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			float: left;
		}

		li {
			float: left;
		}

		a {
			display: inline-block;
			padding: 5/18*1em;

			color: white;
			@include font-size(18);
			text-decoration: none;
		}

		.callouts {
			a {
				background: #0054a4;
				background: rgba(#0054a4, 0.5);
				border-radius: 5px;
				padding-left: 13/18*1em;
				padding-right: 13/18*1em;

				&:after {
					color: #fff200;
					content: "\203a";
					@include font-size(23);
					line-height: 18/23*1em;
					margin-left: 10/23*1em;
				}

				&:hover,
				&:focus {
					background: #0054a4;

					&:after {
						color: white;
					}
				}
			}

			li + li {
				margin-left: 11/16*1em;
			}
		}

		.links {
			a {
				margin-left: 10/18*1em;
				padding-right: 0;

				&:focus,
				&:hover {
					color: #f2a900;
				}
			}
		}
	}
}
