// An in page search field. (Programs, Staff Directory)
// <div class="searchfield"><input></div>

%searchfield {
	position: relative;

	input {
		background: none;
		display: block;
		width: 100%;
		border: 1px solid #b8c128;
		border-radius: 5/16*1em;

		// When this is here, SCSS compilation fails subtly: it puts
		// %searchfield in the compiled CSS selector literally, which causes
		// Proxima Nova to not load for anything. So, when using %searchfield,
		// also make sure to @extend %proxima-nova inside the search field's
		// input.
		// @extend %proxima-nova;

		@include font-size(20);
		padding-left: 37/20*1em;
		margin: 0;

		padding-top: 7/20*1em;
		padding-bottom: 7/20*1em;

		&:focus {
			border-color: #00aeef;
			outline: none;
		}
	}

	&:before {
		content: $fa-var-search;
		position: absolute;

		left: 11/20*1em;
		top: 9/20*1em;

		color: #2368ae;
		font-family: FontAwesome;
		@include font-size(20);
	}
}

[data-ismatch=false],
[data-containsmatch=false] {
	display: none;
}

[data-containsmatch=true] ~ .noresults {
	display: none;
}

.noresults {
	font-style: italic;
	text-align: center;
	margin-top: 102/16*1em;

	span {
		font-style: normal;
		font-weight: bold;
	}
}

