.linkcallout {
	@extend %blockquotebox;
	@include font-size(20);

	h1, h2, h3, h4, h5, h6 {
		margin: 0;

		color: #0054a4;
		@include font-size(33);
		font-weight: $semibold;
	}

	p {
		margin-top: 2/20*1em;
		margin-bottom: 10/20*1em;
		color: #303030;
	}

	a {
		color: #008cc0;

		&:focus,
		&:hover {
			color: #ffb200;
		}
	}
	a.button {
		display: inline-block;
		background: #6488a0;
		border-radius: 5/20*1em;
		background: #6488a0;

		padding: (8/20*1em) (32/20*1em);

		color: white;
		text-decoration: none;
		text-transform: uppercase;

		&[rel=external] {
			padding-left: 20/20*1em;
			padding-right: 20/20*1em;

			&:after {
				content: $fa-var-external-link;

				margin-left: 8/16*1em;

				color: #b4d6ed;
				font-family: FontAwesome;
				@include font-size(16);
			}
		}

		&:hover,
		&:focus {
			color: #fff200;
			background-color: #4b4b4b;
		}
	}
}
