.bodywrapper1 {
	@if $old-ie == false {
		overflow-x: hidden;
	}
}
.bodywrapper2 {
	transition: 0.4s transform;
	position: relative;
}
.mobilenavigationvisible .bodywrapper2 {
	@include mq(small, only) {
		transform: translate(0%, 0);

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(black, 0.4);
			z-index: 1001;
		}
	}
}
.mobilenavigationvisible.mobilenavigationhiding .bodywrapper2 {
	@include mq(small, only) {
		transform: translate(0, 0);
	}
}

@include mq(small, only) {
	html.js.csstransitions.csstransforms {
		#mobilenavigationbutton {
			display: block;
			float: right;
			position: absolute;
			right: 0;

			width: 56/16*1em;
			height: 49/16*1em;
			margin-right: 17/16*1em;
			margin-top: 10/16*1em;
			background: #103e89;
			border: none;
			vertical-align: top;

			&.active {
				//background: red;

				span:nth-of-type(3) {
					display: none;
				}

				span:first-of-type {
					transform: rotate(45deg);
					margin-top: 12px;
				}

				span:nth-of-type(2) {
					transform: rotate(-45deg);
				}
			}

			@include font-size(16);
			text-indent: -9999px;

			span {
				position: absolute;
				background: #ffffff;
				left: 12/16*1em;
				right: 12/16*1em;
				height: 5/16*1em;

				top: 10/16*1em;
			}
			span + span {
				top: (10 + 5 + 7)/16*1em;
			}
			span + span + span {
				top: (10 + 5 + 7 + 5 + 7)/16*1em;
			}

			&:hover,
			&:focus {
				background: white;

				span {
					background: #103e89;
				}
			}
		}
		.logolink {
			position: relative;
			left: 0;
		}
	}
}

#mobile-navigation {

	position: absolute;
	top: 0;
	right: -80%;
	width: 80%;
	min-height: 100%;
	z-index: 1000;
	display: none;

	ul {
		position: absolute;
		right: -100%;
		top: 0;
		width: 100%;

		background: #e8e2bf;
		transition: 0.4s transform;
		min-height: 100%;
		display: none;

		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: block;

			&.direct, &.haschildren {
				a {
					color: #353534;
				}
			}
		}

		&.animation-displaying {
			display: block;
			transform: translate(-100%, 0);
		}

		&.active {
			display: block;
			transform: translate(-100%, 0);
		}

		&.animation-hiding {
			display: block;
			transform: translate(500%, 0);
		}

		&.obscured {
			//display: none;

		}
	}

	a, button {
		@include font-size(18);
		font-weight: $semibold;
		display: block;
		border: none;
		background: none;
	}

	button.back {
		width: 100%;
		margin: 0;
		padding: 0;
		padding-top: 9/24*1em;
		padding-bottom: 9/24*1em;
		padding-left: 29/18*1em;

		background: #b3ac7f;

		color: white;
		text-align: left;
		text-transform: uppercase;

		&:before {
			content: "\2039";
			color: #e8e2bf;

			@include font-size(24);
			line-height: 18/24*1em;

			margin-right: 6/24*1em;
		}
	}

	a {
		padding-top: 6/18*1em;
		padding-bottom: 6/18*1em;
		padding-left: 29/18*1em;
		padding-right: 42/18*1em;
		border-bottom: 1px solid #cdc69d;

		color: #0054a4;
		text-decoration: none;
	}

	.haschildren > a {
		//color: black;

		position: relative;

		&:before {
			content: "\203A";
			display: block;

			position: absolute;
			top: 7/24*1em;
			right: 12/24*1em;

			color: #88803e;
			font-size: 45px !important;
    	line-height: .15 !important;
		}
	}

	li.direct a {
		padding-top: 11/22*1em;
		padding-bottom: 11/22*1em;
		padding-left: 29/22*1em;
		padding-right: 10/22*1em;

		//background: #d6cfa0;
		border-bottom: 1px solid #cdc69d;

		color: #0054a4;
		@include font-size(22);
		text-transform: uppercase;
	}

	.navigationroot a {
		@include font-size(22);
		padding-top: 11/22*1em;
		padding-bottom: 11/22*1em;
		padding-left: 29/22*1em;
		padding-right: 42px;
		text-transform: uppercase;
	}
	.navigationroot .haschildren > a {
		&:before {
			top: 12/28*1em;

			@include font-size(28);
			line-height: 22/28*1em;
		}
	}
	.navigationroot .secondary {
		& > a,
		& > button {
			@include font-size(21);
			padding-top: 6/21*1em;
			padding-bottom: 6/21*1em;
			padding-left: 29/21*1em;
			padding-right: 10/21*1em;
			text-transform: none;
			border-bottom: none;
		}
	}

	.nav-athletics-callout {
		display: none;
	}
}

.mobilenavigationvisible #mobile-navigation {
	display: block;
}
.mobilenavigationshowing-start #mobile-navigation,
.mobilenavigationshowing #mobile-navigation,
.mobilenavigationhiding-start #mobile-navigation,
.mobilenavigationhiding #mobile-navigation {
	display: block;
}
