#page-navigation {
	background: #fdf9df;
	position: relative;
	z-index: 2;

	@include mq(small, only) {
		html.js.csstransitions.csstransforms & {
			display: none;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	& > .container > ul {
		text-align: center;

		& > li {
			display: block;
			@include mq(medium) {
				display: inline-block;
			}
			position: relative;

			a {
				@include font-size(13);
				font-weight: $semibold;
				text-decoration: none;

				@include mq(navigation-large) {
					@include font-size(18);
				}

				@if $old-ie {
					@include font-size(15);
				}
			}

			& > a {
				display: block;
				padding: (15/13*1em) (4/13*1em);

				@include mq(navigation-large) {
					padding: (15/18*1em) (10/18*1em);
				}

				@if $old-ie {
					padding: (15/15*1em) (10/15*1em);
				}

				color: #0054a4;
				text-transform: uppercase;
			}
		}

		@include mq(medium) {
			& > li > ul, & > li > .nav-athletics-callout { background: #6488a0 url(/assets/images/menu-backgrounds/about.jpg) no-repeat bottom right; }
			#nav-sub-about-dsu > ul { background-image: url(/assets/images/menu-backgrounds/about.jpg); }
			#nav-sub-admissions > ul { background-image: url(/assets/images/menu-backgrounds/admissions.jpg); }
			#nav-sub-academics > ul { background-image: url(/assets/images/menu-backgrounds/academics.jpg); }
			#nav-sub-grad-students > ul { background-image: url(/assets/images/menu-backgrounds/grad-students.jpg); }
			#nav-sub-student-life > ul { background-image: url(/assets/images/menu-backgrounds/student-life.jpg); }
			#nav-sub-alumni-and-friends > ul { background-image: url(/assets/images/menu-backgrounds/alumni.jpg); }
			#nav-sub-athletics > .nav-athletics-callout { background-image: url(/assets/images/menu-backgrounds/athletics.jpg); }

			& > li {
				&.here > a,
				&.parent-here > a,
				&:hover > a,
				&.selected > a,
				& > a.focus {
					color: white;
					background: #b8c128;
				}

				&.selected > ul,
				& > ul.open,
				&.selected > .nav-athletics-callout,
				& > .nav-athletics-callout.open {
					position: absolute;
					left: 0;
					display: block;
					width: 354/16*1em;
					@include mq(large) {
						width: 510/16*1em;
					}
					padding: (25/16*1em) 0;

					text-align: left;

					& > li {
						& > a {
							display: block;
							padding: (6/18*1em) (17/18*1em);

							color: white;

							&:hover,
							&:focus {
								color: #fff200;
							}
						}
					}
				}

				& > .nav-athletics-callout,
				&:hover > .nav-athletics-callout,
				&.selected > .nav-athletics-callout,
				& > .nav-athletics-callout.open {
					min-height: 297px;
					padding: (15/16*1em) (17/16*1em);
					padding-right: (180/16*1em);

					p {
						color: #fdf9df;
						@include font-size(16);
						line-height: 21/16*1em;
						font-weight: $semibold;
					}
					a {
						color: #ffffff;
						@include font-size(18);
						font-weight: $semibold;
						text-decoration: none;

						&:after {
							content: $fa-var-external-link;
							@include font-size(16);
							font-family: FontAwesome;
							margin-left: 6/16*1em;
						}

						&:hover,
						&:focus {
							color: #fff200;
						}
					}
				}

				& + li + li + li + li {
					&:hover > ul,
					&.selected > ul,
					& > ul.open,
					&:hover > .nav-athletics-callout,
					&.selected > .nav-athletics-callout,
					& > .nav-athletics-callout.open {
						left: auto;
						right: 0;
					}
				}
			}
		}

		ul, .nav-athletics-callout {
			display: none;
		}
	}

	ul ul ul {
		display: none;
	}

	.nav-athletics-callout {
		display: none;
	}
}


/* Sticky Navigation */
.stickynavigation {
	#page-navigation {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999;
	}

	@include mq(medium) {
		#page-top {
			z-index: 999;

			// When we make #page-navigation fixed, it takes it out of the
			// document flow. This, in turn, moves everything up by height of
			// #page-navigation. That sucks. So, try to make something that is
			// the exact same size as #page-navigation. We do this by
			// emulating the same properties as #page-navigation > .container
			// > ul > li > a above. (Instead of making some mixin and doing
			// some crap to make sure they're always exactly the same, I'm
			// copy/pasting. It aids in readability, but it suffers in
			// maintainability. Tradeoffs.)
			&:after {
				// Non-breaking space.
				content: "\00a0";

				background: #fdf9df;

				@include font-size(13);
				font-weight: $semibold;
				text-decoration: none;

				@include mq(navigation-large) {
					@include font-size(18);
				}

				@if $old-ie {
					@include font-size(15);
				}

				display: block;
				padding: (15/13*1em) (4/13*1em);

				@include mq(navigation-large) {
					padding: (15/18*1em) (10/18*1em);
				}

				@if $old-ie {
					padding: (15/15*1em) (10/15*1em);
				}

				color: #0054a4;
				text-transform: uppercase;
			}
		}
	}
}
