.pagination {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden; /* Clearfix */
	}

	li {
		display: block;
		float: left;
		margin-right: 8/16*1em;
	}

	a {
		display: inline-block;
		background: #ededed;
		height: 27/16*1em;
		min-width: 27/16*1em;
		border-radius: 5/16*1em;
		padding-top: 3/16*1em;
		padding-left: 3/16*1em;
		padding-right: 3/16*1em;
		border: 1px solid #ededed;

		color: #454545;
		text-align: center;
		text-decoration: none;

		&:focus,
		&:hover {
			color: #ededed;
			background: #454545;
			border-color: #454545;
		}
	}

	a.active {
		color: white;
		background: #bcc438;
		border-color: #bcc438;

		&:hover,
		&:focus {
			background: #4da6cd;
			border-color: #4da6cd;
		}
	}

	a.page-first,
	a.page-last {
		background: white;
		border-color: #dedede;
		padding-left: 8/16*1em;
		padding-right: 8/16*1em;

		color: #797979;
		text-transform: uppercase;

		&:hover,
		&:focus {
			color: #303030;
			border-color: #797979;
		}
	}

	a.page-first {
		margin-right: 7/16*1em;

		&:before {
			content: $fa-var-chevron-left;
			margin-right: 5/11*1em;

			@include font-size(11);
			font-family: FontAwesome;
		}
	}

	a.page-last {
		margin-left: 7/16*1em;

		&:after {
			content: $fa-var-chevron-right;
			margin-left: 5/11*1em;

			@include font-size(11);
			font-family: FontAwesome;
		}
	}

	a.page-previous,
	a.page-next {
		text-indent: -9999px;
		width: 27/16*1em;
		position: relative;

		&:before {
			text-indent: 0;
			position: absolute;
			top: 8/11*1em;
			left: 0;
			right: 0;
			font-family: FontAwesome;
			@include font-size(11);
			text-align: center;
		}
	}
	a.page-previous:before { content: $fa-var-chevron-left; }
	a.page-next:before { content: $fa-var-chevron-right; }
}
