.quotationbox {
	header {
		background: #6488a0;

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			padding: (8/29*1em) (8/29*1em);

			color: white;
			@include font-size(29);
			font-weight: $semibold;
			text-align: center;
		}
	}

	.sectioncontent {
		border: 1px solid #c6c6c6;
		border-top: none;
		padding: 20/16*1em;
		margin-bottom: 21/16*1em;

		@include font-size(16);
		line-height: 23/16*1em;
		color: #303030;

		img {
			float: left;
			margin-right: 20/16*1em;
			margin-bottom: 20/16*1em;
		}

		blockquote {
			margin: 0;
			padding: 0;

			p {
				margin-top: 0;
			}

			cite {
				color: #525252;
			}

			.name {
				font-weight: $semibold;
			}
			.name,
			.hometown,
			.job-title {
				padding-right: 5/16*1em;
			}
		}
	}
}
