#searchboxbutton {
	display: none;
	@include font-size(13);
	background: transparent url(/assets/images/search-button-background.png) no-repeat top right;
	background-size: 100%;
	width: 61/13*1em;
	height: 40/13*1em;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;

	html.svg & {
		background-image: url(/assets/images/search-button-background.svg);
	}

	text-indent: -9999px;

	&:before {
		content: $fa-var-search;
		font-family: FontAwesome;
		text-indent: 0;

		color: #d7cfb5;

		position: absolute;
		top: 6/13*1em;
		left: 0;
		right: 0;
		text-align: center;

		@if $old-ie {
			top: -3px;
		}
	}

	&:hover,
	&:focus {
		outline: none;

		&:before {
			color: white;
		}
	}
}

html.js #searchboxbutton {
	display: block;
	position: absolute;
	right: 9px;
	right: 9/16*1rem;
	top: 0;

	@media (max-width: 767px) {
		display: block;
		position: absolute;
		right: 90px;
		//right: 9/16*1rem;
		top: 14px;
		height: 40px;
		width: 40px;
		background-image: none;
		background: #103e89;
		border-radius: 50%;
		vertical-align: middle;
		line-height: 1.35;
		color: #fff;
		font-size: 18px;

		&::before {
			color: #fff;
		}
	}
}

html.searchboxvisible #searchboxbutton {
	&:before {
		content: $fa-var-times;
	}
}

#searchbox {
	background: #004ea8;

	.container {
		overflow: hidden; /* Clearfix */
		height: 74/16*1em;
		padding-top: 5/16*1em;
		padding-bottom: 5/16*1em;

		@include mq(medium) {
			height: 48/16*1em;

			@if $old-ie {

				// Elsewhere, we change .container to be box-sizing:border-box
				// when it is typically box-sizing:content-box, so we need to
				// set the height here to be 58, not 48, to account for the
				// padding.
				height: 58/16*1em;
			}
		}
	}

	html.js & {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 100%;

		display: none;
	}

	/* Only show the searchbox when it's visible. If we just put it off
	/* screen, then it is still in the keyboard focus ring. */
	html.js.searchboxvisible &,
	html.js.searchboxvisible-hide &,
	html.js.searchboxvisible-hide-start & {
		display: block;
	}

	label,
	input,
	button {
		display: block;
	}

	label {
		color: #9fccff;
		@include font-size(20);
		line-height: 26/20*1em;

		margin: 0;
		padding: (8/20*1em) 0 (3/20*1em);

		@include mq(medium) {
			@include font-size(36);
			padding: 3/36*1em;
			padding-right: 10/36*1em;
			padding-left: 0;
		}
	}

	input {
		@extend %proxima-nova;
		color: white;
		@include font-size(20);
		line-height: 26/20*1em;
		padding: (3/20*1em) 0;

		border: none;
		background: none;

		margin: 0;

		/* I don't know what to do if calc is not supported! */
		width: calc(100% - 3em); /* Leave space for the button */

		@include mq(medium) {
			@include font-size(36);
			padding: 3/36*1em;
		}
	}

	button {
		height: 48/16*1em;
		background: none;
		border: none;
		min-width: 48/16*1em;
		text-indent: -9999px;
		margin: 0;
		padding: 6/16*1em;

		@include font-size(16);
		cursor: pointer;

		position: absolute;
		right: 16/16*1em;
		bottom: 0;

		@include mq(medium) {
			position: relative;
			right: 0;
		}

		&:before {
			content: "";
			background: #00336d;
			border-radius: 100%;
			width: 36/16*1em;
			height: 36/16*1em;
			position: absolute;
			top: 6/16*1em;
			right: 6/16*1em;
		}

		&:after {
			@include font-size(13);
			content: $fa-var-search;
			font-family: FontAwesome;
			color: #d7cfb5;
			position: absolute;
			top: 16/13*1em;
			right: 6/13*1em;
			width: 36/13*1em;
			text-indent: 0;
			text-align: center;
		}

		&:hover,
		&:focus {
			&:after {
				color: white;
			}
		}
	}

	@include mq(medium) {
		label,
		input,
		button {
			float: left;
		}

		label {
			width: 20%;
		}

		input {
			width: 60%;
		}

		button {
			width: 20%;
		}

		html.flexbox &, html.flexboxlegacy & {
			.container {
				display: flex;
			}

			label,
			input,
			button {
				width: auto;
			}

			input {
				flex: 1;
			}
		}
	}

	// http://stackoverflow.com/a/9422689/314971
	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration {
		display: none;
	}
}

html.searchboxvisible {
	#page-top {
		top: 84/16*1em;

		@include mq(medium) {
			top: 58/16*1em;
		}
	}

	&.csstransitions.csstransforms {
		#page-top {
			top: 0;
			transform: translate(0, 84/16*1em);

			@include mq(medium) {
				top: 0;
				transform: translate(0, 58/16*1em);
			}
		}
	}
}

#searchbox-inline {
	@extend %searchfield;
}
