#skiptocontent {
	position: absolute;
	top: -40/16*1em;
	left: 0;
	z-index: 4;

	display: block;
	background: #fff200;
	color: #0054a4;
	border-radius: 0 0 (5/16*1em) (5/16*1em);
	text-decoration: none;
	padding: (5/16*1rem) (10/16*1em);

	&:focus {
		top: 0;
	}

	.csstransforms.csstransitions & {
		transition: 0.6s transform;

		&:focus {
			transition: 0.1s transform;
			top: -40/16*1em;
			transform: translate(0, 2.5em); // 40/16=2.5
		}
	}
}
