.states-by-program,
.programs-by-state {
	form {
		margin-bottom: 20/16*1em;

		select {
			background: none;
			display: block;
			width: 100%;
			border: 1px solid #b8c128;
			border-radius: 5/16*1em;

			@extend %proxima-nova;

			@include font-size(20);
			padding-left: 7/20*1em;
			margin: 0;

			padding-top: 7/20*1em;
			padding-bottom: 7/20*1em;

			&:focus {
				border-color: #00aeef;
				outline: none;
			}
		}
	}
}
