%blockquotebox {
	position: relative;

	background: #fdf9df;
	margin: 0 0 (21/20*1em);
	padding: (21/20*1em) (40/20*1em);

	p {
		margin: 0;
	}
	p + p,
	p + h1,
	p + h2,
	p + h3,
	p + h4,
	p + h5,
	p + h6 {
		margin-top: 21/20*1em;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 5/20*1em;
		background: #b8c128;
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -16/20*1em;
		border-left: (16/20*1em) solid #b8c128;
		border-top: (16/20*1em) solid transparent;
		border-bottom: (16/20*1em) solid transparent;
	}
}

.usercontent {
	@include font-size(16);
	line-height: 24/16*1;

	@include mq(medium) {
		@include font-size(20);
		line-height: 29/20*1;
	}

	h2, h3, h4, h5 {
		margin: 0;
		color: #b8c128;
		font-weight: $semibold;
	}

	h2 {
		@include font-size(30);
		line-height: 46/46*1em;
		margin-bottom: 7/30*1em;

		@include mq(medium) {
			@include font-size(46);
			margin-bottom: 7/46*1em;
		}
	}

	h3 {
		@include font-size(22);
		line-height: 35/33*1em;
		margin-bottom: 7/22*1em;

		@include mq(medium) {
			@include font-size(33);
			margin-bottom: 7/33*1em;
		}
	}

	h4, h5 {
		@include font-size(18);
		line-height: 28/24*1em;
		margin-bottom: 7/18*1em;

		@include mq(medium) {
			@include font-size(24);
			margin-bottom: 7/24*1em;
		}
	}

	h5 {
		color: black;
	}

	a {
		color: #008cc0;

		&:focus,
		&:hover {
			color: #ffb200;
		}
	}
	a.button {
		display: inline-block;
		padding: (6/16*1em) (11/16*1em);
		// If these would happen to stack (two long buttons on a narrow
		// screen), make sure they don't just butt right up together. We can
		// add this without much fear of throwing off other margins, because
		// it should be in an empty paragraph, which has a larger bottom
		// margin.
		margin-bottom: 3/16*1em;

		border-radius: 3/16*1em;
		background: #b8c128;

		color: white;
		@include font-size(16);
		line-height: normal;
		text-decoration: none;
		text-transform: uppercase;

		&:after {
			content: $fa-var-chevron-right;
			margin-left: 10/12*1em;

			color: #fff200;
			@include font-size(12);
			font-family: FontAwesome;
		}

		&:hover,
		&:focus {
			background: #4b4b4b;
		}
	}

	p, ul, ol {
		margin-top: 0;
		margin-bottom: 21/20*1em;
	}

	ul li {
		position: relative;
		list-style-type: none;

		&:before {
			content: "";
			display: block;
			position: absolute;
			background: #00aeef;

			width: 7/20*1em;
			height: 7/20*1em;
			top: 10/20*1em;
			left: -20/20*1em;
		}
	}

	ul li + li,
	ol li + li {
		margin-top: 11/20*1em;
	}

	blockquote {
		@extend %blockquotebox;
	}

	img {
		margin: 0;
		margin-bottom: 1em;
		max-width: 100% !important;
		height: auto !important;

		&.left {
			float: left;
			margin-right: 1em;
		}

		&.right {
			float: right;
			margin-left: 1em;
		}
	}

	sup, sub {
		@include font-size(12);
	}

	.disclaimer {
		@include font-size(15);
	}
}
