{exp:stash:parse}
{exp:stash:set name='html-title' type='snippet'}Page Elements | Slices | DSU{/exp:stash:set}

{snippet:html-tag}
<head>
	{snippet:html-head}
</head>
<body>
	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:slices_header}

			{!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
			<main role="main" id="page-content" class="subpage-content two-column">
				<header id="content-header">
					<div class="content-titlebox">
						<div class="container">
							<h1 class="content-title">Admissions</h1>
						</div>
					</div>
				</header>
				<nav id="content-breadcrumb">
					<div class="container">
						<ul class="breadcrumbs">
							<li><a href="/slices/home" class="home" aria-label="Home"><i class="fa fa-home"></i></a></li>
							<li><a href="#">Admissions</a></li>
							<li><span>Visit DSU</span></li>
						</ul>
					</div>
				</nav>
				<div class="sectioncontent">
					<div class="container">
						<nav class="sidebar-nav">
							<section class="sidebarcomponent sidebarcomponent-navigation">
								<div class="sectioncontent">
									<ul class="links">
										<li><a href="#">Apply Now</a></li>
										<li><a href="#">Visit DSU</a></li>
										<li><a href="#">Financial Aid and Tuition</a></li>
										<li><a href="#">Get Free Stuff</a></li>
										<li><a href="#">Request More Info</a></li>
										<li><a href="#">Admissions Requirements</a></li>
										<li><a href="#" class="active">Meet Our Admissions Team</a></li>
										<li><a href="#">Admissions FAQs</a></li>
									</ul>
								</div>
							</section>
						</nav>
						<div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
							<div class="content-content"> {!-- I'm running out of good, semantic names. --}
								<div class="usercontent">
									<h2>H2 lorem ipsum dolor sit ame nsect etur adipi sicing elit.</h2>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
								<div class="facultylist">
									<div class="facultymember">
										<div class="imagecontainer">
											<img src="http://placekitten.com/164/164" alt="">
										</div>
										<div class="contentcontainer">
											<h3 class="name">Austin Slaughter</h3>
											<p class="title">Admission Counselor</p>
											<a href="#" class="details">About Me</a>
											<div class="contact">
												<a href="tel:800.123.6523" class="tel">800.123.6523</a>
												<a href="#" class="email">Email</a>
											</div>
										</div>
									</div>
									<div class="facultymember">
										<div class="imagecontainer">
											<img src="http://placekitten.com/164/164" alt="">
										</div>
										<div class="contentcontainer">
											<h3 class="name">Austin Slaughter</h3>
											<p class="title">Admission Counselor</p>
											<a href="#" class="details">About Me</a>
											<div class="contact">
												<a href="tel:800.123.6523" class="tel">800.123.6523</a>
												<a href="#" class="email">Email</a>
											</div>
										</div>
									</div>
									<div class="facultymember">
										<div class="imagecontainer">
											<img src="http://placekitten.com/164/164" alt="">
										</div>
										<div class="contentcontainer">
											<h3 class="name">Austin Slaughter</h3>
											<p class="title">Admission Counselor</p>
											<a href="#" class="details">About Me</a>
											<div class="contact">
												<a href="tel:800.123.6523" class="tel">800.123.6523</a>
												<a href="#" class="email">Email</a>
											</div>
										</div>
									</div>
									<div class="facultymember">
										<div class="imagecontainer">
											<img src="http://placekitten.com/164/164" alt="">
										</div>
										<div class="contentcontainer">
											<h3 class="name">Austin Slaughter</h3>
											<p class="title">Admission Counselor</p>
											<a href="#" class="details">About Me</a>
											<div class="contact">
												<a href="tel:800.123.6523" class="tel">800.123.6523</a>
												<a href="#" class="email">Email</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<aside class="sidebar-other">
						</aside>
					</div>
				</div>
			</main>

			{snippet:slices_footer}
		</div>
	</div>

	{snippet:slices_scripts}
</body>
</html>
{/exp:stash:parse}
