{exp:stash:parse}
{exp:stash:set name='html-title' type='snippet'}Event list | Slices | DSU{/exp:stash:set}

{snippet:html-tag}
<head>
	{snippet:html-head}
</head>
<body>
	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:slices_header}

			{!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
			<main role="main" id="page-content" class="subpage-content two-column">
				<header id="content-header">
					<div class="content-titlebox">
						<div class="container">
							<h1 class="content-title">Events</h1>
						</div>
					</div>
				</header>
				<nav id="content-breadcrumb">
					<div class="container">
						<ul class="breadcrumbs">
							<li><a href="/slices/home" class="home" aria-label="Home"><i class="fa fa-home"></i></a></li>
							<li><span>Events</span></li>
						</ul>
					</div>
				</nav>
				<div class="sectioncontent">
					<div class="container">
						<nav class="sidebar-nav">
							<section class="sidebarcomponent sidebarcomponent-navigation">
								<div class="sectioncontent">
									<ul class="links">
										<li><a href="#">Latest News</a></li>
										<li><a href="#">Student Life</a></li>
										<li><a href="#">Athletics</a></li>
										<li><a href="#">Faculty</a></li>
									</ul>
								</div>
							</section>
						</nav>
						<div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
							<div class="content-content"> {!-- I'm running out of good, semantic names. --}
								<div class="eventlist">
									<article itemscope itemtype="http://schema.org/Event" class="eventlist-item">
										<header>
											<a href="#" itemprop="url">
												<h2 class="title" itemprop="name">Lorem ipsum</h2>
												<h3 class="subhead"><time datetime="2014-05-25T20:00-05:00" itemprop="datePublished"><span class="month">May</span> <span class="day">25</span></time></h3>
											</a>
											<p class="tagline"><span class="time">9:00 AM</span></p>
										</header>
									</article>
									<article itemscope itemtype="http://schema.org/Event" class="eventlist-item">
										<header>
											<a href="#" itemprop="url">
												<h2 class="title" itemprop="name">Lorem ipsum dolor sit amet con sect etur sicing elit.</h2>
												<h3 class="subhead"><time datetime="2014-05-25T20:00-05:00" itemprop="datePublished"><span class="month">May</span> <span class="day">25</span></time></h3>
											</a>
											<p class="tagline"><span class="time">9:00 AM</span></p>
										</header>
									</article>
									<article itemscope itemtype="http://schema.org/Event" class="eventlist-item">
										<header>
											<a href="#" itemprop="url">
												<h2 class="title" itemprop="name">Lorem ipsum dolor sit amet con sect etur sicing elit.</h2>
												<h3 class="subhead"><time datetime="2014-05-25T20:00-05:00" itemprop="datePublished"><span class="month">May</span> <span class="day">25</span></time></h3>
											</a>
											<p class="tagline"><span class="time">9:00 AM</span></p>
										</header>
									</article>
									<article itemscope itemtype="http://schema.org/Event" class="eventlist-item">
										<header>
											<a href="#" itemprop="url">
												<h2 class="title" itemprop="name">Lorem ipsum dolor sit amet con sect etur sicing elit.</h2>
												<h3 class="subhead"><time datetime="2014-05-25T20:00-05:00" itemprop="datePublished"><span class="month">May</span> <span class="day">25</span></time></h3>
											</a>
											<p class="tagline"><span class="time">9:00 AM</span></p>
										</header>
									</article>
								</div>
								<div class="pagination">
									<ul>
										<li><a href="#" class="page-first" aria-label="First Page">First</a></li>
										<li><a href="#" class="page-previous">Previous Page</a></li>
										<li><a href="#" class="page active" aria-label="Page 1">1</a></li>
										<li><a href="#" class="page" aria-label="Page 2">2</a></li>
										<li><a href="#" class="page" aria-label="Page 3">3</a></li>
										<li><a href="#" class="page-next">Next Page</a></li>
										<li><a href="#" class="page-last" aria-label="Last Page">Last</a></li>
									</ul>
								</div>
							</div>
						</div>
						<aside class="sidebar-other">
							<section class="sidebarcomponent sidebarcomponent-calendar">
								<header class="emphasis">
									<h3>Calendar</h3>
								</header>
								<div class="sectioncontent">
									{snippet:slices_sidebar-minicalendar}
								</div>
							</section>

							<section class="sidebarcomponent sidebarcomponent-gift">
								<header>
									<h3>Give a Gift</h3>
								</header>
								<div class="sectioncontent">
									<img src="http://placekitten.com/196/113" alt="">
									<p>Every gift to DSU matters. Whether you contribute $25 or $25,000, you can make a difference.</p>
									<a href="#" class="button">Learn More</a>
								</div>
							</section>
						</aside>
					</div>
				</div>
			</main>

			{snippet:slices_footer}
		</div>
	</div>

	{snippet:slices_scripts}
</body>
</html>
{/exp:stash:parse}
