{exp:stash:parse}
{exp:stash:set name='html-title' type='snippet'}Form | Slices | DSU{/exp:stash:set}

{snippet:html-tag}
<head>
	{snippet:html-head}
</head>
<body>
	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:slices_header}

			{!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
			<main role="main" id="page-content" class="subpage-content three-column">
				<header id="content-header">
					<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						{!-- Largest sizes are cut to always be 572 pixels high. Including two images (crop from the center) so that smaller screens don't have to download the parts of the images on the end that they won't see. --}
						<source srcset="http://placehold.it/1920x572/f2a900/ffffff" media="(min-width:65.64em)">
						<source srcset="http://placehold.it/1050x572/f2a900/ffffff" media="(min-width:48em)">
						{!-- Smallest three sizes are for mobile, and they hold their aspect ratio --}
						<source srcset="http://placehold.it/768x672/f2a900/ffffff" media="(min-width:40.01em)">
						<source srcset="http://placehold.it/640x560/f2a900/ffffff" media="(min-width:20.01em)">
						<source srcset="http://placehold.it/320x280/f2a900/ffffff" />
						<!--[if IE 9]></video><![endif]-->
						<img src="http://placehold.it/320x280/f2a900/ffffff" alt="Picture that extends far too largely" class="content-largeimage">
					</picture>
					<div class="content-titlebox">
						<div class="container">
							<h1 class="content-title">Admissions</h1>
						</div>
					</div>
				</header>
				<nav id="content-breadcrumb">
					<div class="container">
						<ul class="breadcrumbs">
							<li><a href="/slices/home" class="home" aria-label="Home"><i class="fa fa-home"></i></a></li>
							<li><a href="#">Admissions</a></li>
							<li><span>Visit DSU</span></li>
						</ul>
					</div>
				</nav>
				<div class="sectioncontent">
					<div class="container">
						<nav class="sidebar-nav">
							<section class="sidebarcomponent sidebarcomponent-navigation">
								<div class="sectioncontent">
									<ul class="links">
										<li><a href="#">Apply Now</a></li>
										<li>
											<a href="#" class="active">Visit DSU</a>
											<ul>
												<li><a href="#">Subpage 1</a></li>
												<li><a href="#">Subpage 2</a></li>
											</ul>
										</li>
										<li><a href="#">Financial Aid and Tuition</a></li>
										<li><a href="#">Get Free Stuff</a></li>
										<li><a href="#">Request More Info</a></li>
										<li><a href="#">Admissions Requirements</a></li>
										<li><a href="#">Meet Our Admissions Team</a></li>
										<li><a href="#">Admissions FAQs</a></li>
									</ul>
								</div>
							</section>
						</nav>
						<div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
							<div class="content-content"> {!-- I'm running out of good, semantic names. --}
								<div class="content-featuredimage">
									{!-- In a two-column layout, this is 761×342 --}
									<img src="http://placekitten.com/489/302" alt="A kitten">
								</div>
								<div class="usercontent">
									<h2>H2 lorem ipsum dolor sit ame nsect etur adipi sicing elit.</h2>

									<p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit, <strong>strong text</strong> sed do eiusmod <em>emphasized text</em> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>

<div class="form">
	<form accept-charset="utf-8" method="get">
		<div style="display:none">
			<input type="hidden" name="params_id" value="15" />
			<input type="hidden" name="csrf_token" value="b57e45523c4d672ee18eb0db730513277106cb70" />
		</div>
		<div class="forminterior">

			<div class="row">
				<div class="unit size1of1">
					<div class="field">
						<h2>Test Form</h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="unit size1of2">
					<div class="field field-text required">
						<label class="fieldlabel" for="freeform_first_name">First Name</label>
						<input type="text" name="first_name" value="" id="freeform_first_name" maxlength="150"  />
					</div>
				</div>

				<div class="unit size2of2">
					<div class="field field-text required">
						<label class="fieldlabel" for="freeform_last_name">Last Name</label>
						<input type="text" name="last_name" value="" id="freeform_last_name" maxlength="150"  />
					</div>
				</div>
			</div>

			<div class="row">

				<div class="unit size1of3">
					<div class="field field-text">
						<label class="fieldlabel" for="freeform_email">Email</label>
						<input type="email" name="email" value="" id="freeform_email" maxlength="150"  />
					</div>
				</div>
				<div class="unit size2of3">
					<div class="field field-text">
						<label class="fieldlabel" for="freeform_first_name_2">First Name</label>
						<input type="text" name="first_name" value="" id="freeform_first_name_2" maxlength="150"  />
					</div>
				</div>
				<div class="unit size3of3">
					<div class="field field-text">
						<label class="fieldlabel" for="freeform_last_name_2">Last Name</label>
						<input type="text" name="last_name" value="" id="freeform_last_name_2" maxlength="150"  />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="unit size1of1">
					<div class="field field-textarea required">
						<label class="fieldlabel" for="freeform_user_message">Message</label>
						<textarea name="user_message" cols="50" rows="6" id="freeform_user_message" ></textarea>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="unit size1of1">
					<div class="field field-textarea required">
						<label class="fieldlabel" for="freeform_user_select">Select</label>
						<select id="freeform_user_select" name="user_select">
							<option>One</option>
							<option>Two</option>
							<option>Three</option>
							<option>Four</option>
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="unit size1of1">
					<div class="field field-checkbox_group">
						<label class="fieldlabel" for="freeform_checkboxes">Checkboxes</label>
						<ul  style="list-style:none; padding:0;"><li><input type="checkbox" name="checkboxes[]" value="one" id="freeform_checkboxes_1"  />&nbsp;&nbsp;<label for="freeform_checkboxes_1">One</label></li><li><input type="checkbox" name="checkboxes[]" value="two" id="freeform_checkboxes_2"  />&nbsp;&nbsp;<label for="freeform_checkboxes_2">Two</label></li><li><input type="checkbox" name="checkboxes[]" value="three" id="freeform_checkboxes_3"  />&nbsp;&nbsp;<label for="freeform_checkboxes_3">Three</label></li></ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="unit size1of1">
					<div class="field field-radio">
						<label class="fieldlabel" for="freeform_radio_buttons">Radio Buttons</label>
						<ul style="list-style:none; padding:0;" ><li>
	<input type="radio" name="radio_buttons" id="freeform_radio_buttons_1" value="one" />&nbsp;&nbsp;
	<label for="freeform_radio_buttons_1">One</label></li>
	<li>
	<input type="radio" name="radio_buttons" id="freeform_radio_buttons_2" value="two" />&nbsp;&nbsp;
	<label for="freeform_radio_buttons_2">Two</label></li>
	<li>
	<input type="radio" name="radio_buttons" id="freeform_radio_buttons_3" value="three" />&nbsp;&nbsp;
	<label for="freeform_radio_buttons_3">Three</label></li>
	</ul>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="unit size1of1">
					<div class="field field-nonfield_submit">
						<button type="submit" name="submit">Apply Now</button>
					</div>
				</div>
			</div>

			<div style="position:absolute; left: -1000em; overflow: hidden">
				<label for="honeypot">This field is intended to catch out spammers - please leave it blank.</label>
				<input type="text" name="honeypot" id="honeypot" autocomplete="off" />
			</div>
		</div>
	</form>
</div>

							</div>
							<aside class="sidebar-related">{!-- Doesn't exist in .two-column --}
								<section class="sidebarcomponent sidebarcomponent-callouts">
									<div class="sectioncontent">
										<a href="#" class="button">Apply Now</a>
										<a href="#" class="button">Visit DSU</a>
										<a href="#" class="button">Net Cost Calculator</a>
										<a href="#" class="button secondary">Contact Admissions</a>
									</div>
								</section>
							</aside>
						</div>
						<aside class="sidebar-other">

						</aside>
					</div>
				</div>
			</main>

			{snippet:slices_footer}
		</div>
	</div>

	{snippet:slices_scripts}
</body>
</html>
{/exp:stash:parse}
