{exp:stash:parse}
{exp:stash:set name='html-title' type='snippet'}Home | Slices | DSU{/exp:stash:set}

{snippet:html-tag}
<head>
	{snippet:html-head}
</head>
<body>
	<div class="bodywrapper1">
		<div class="bodywrapper2">
			<div id="campusalert" role="alert">
				<div class="container">
					<p><em>AMBER ALERT: A freshman has gone missing from Baines Dorm. Campus is on lockdown until further notice.</em></p>
				</div>
			</div>

			{snippet:slices_header}

			<main role="main" id="page-content" class="home-content">
				<section class="home-lead" style="background-image:url(/assets/images/slices/homepage-background.jpg)">
					<div class="container">
						<header>
							<h2>Stand out, challenge yourself, and discover who you truly are.</h2>
						</header>
						<script>
						// typewritter effect.
						if (document.querySelector) {
							var campusalert = document.querySelector('#campusalert');
							if (campusalert !== null) {
								// Don't run the type effect if we're trying
								// to draw attention to the alert.
							}
							else {
								var timeout = 100;
								var header = document.querySelector('#page-content.home-content .home-lead h2');
								var newstr = '';
								var str = header.innerHTML;
								var strlen = str.length;
								for (var i = 0; i < strlen; i++) {
									newstr += '<span>' + str[i] + '</span>';
								}
								header.innerHTML = newstr;
								var spans = header.querySelectorAll('span');
								var show = function(k) {
									if (spans[k]) {
										spans[k].className = 'visible';
										setTimeout(function() {
											show(k+1);
										}, timeout);
									}
								}
								setTimeout(function() {
									show(0);
								}, timeout);
							}
						}
						</script>
						<div class="sectioncontent">
							<ul>
								<li>
									<a href="#">
										<img src="http://placekitten.com/189/189" alt="People smiling">
										<p>Be someone at DSU. Be part of something great.</p>
										<span class="spacer"></span>
										<div class="buttoncontainer"><span class="button inside-link">Student Life</span></div>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="http://placekitten.com/189/189" alt="Look. Computers!">
										<p>There are a ton of reasons you should choose DSU over any other school in South Dakota—technically, we're better.</p>
										<span class="spacer"></span>
										<div class="buttoncontainer"><span class="button inside-link">Why DSU?</span></div>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="http://placekitten.com/189/189" alt="Arches and sidewalks">
										<p>You're looking for a four-year college, but it's about more than that—it's about finding somewhere you belong.</p>
										<span class="spacer"></span>
										<div class="buttoncontainer"><span class="button inside-link">Plan your visit</span></div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<section class="home-content">
					<div class="container">
						<header>
							<h2>We're not your typical four-year university.</h2>
						</header>
						<div class="sectioncontent">
							<div class="contentregion">
								<p>What you find at DSU might surprise you. We offer an update on the traditional college experience that’s both rigorous and fun, with a technological twist that will prep you for a successful career in any field.</p>

								<p>We know you have a lot of schools to choose from. And we’re confident that with our unique blend of academic prestige and cutting-edge technology, we can blow them out of the water. When we say “Technically, we’re better”, we really do mean it—from in-classroom technologies to some of the finest academic experts in the state. Be part of something great—schedule you campus visit today.</p>

								<p class="link"><a href="#">About DSU</a></p>
							</div>
							<div class="video">
								<div class="iframecontainer">
									<iframe width="560" height="315" src="//www.youtube.com/embed/6KeG_i8CWE8" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
							<div class="testimonials">
								<div class="testimonial">
									<blockquote>
										<p>"DSU integrates the latest technologies into the curriculum to educate their students and prepare us for the future. Our professors are always introducing stimulating ideas and hands on projects because they are dedicated to helping us succeed. I wouldn’t have it any other way!"</p>
										<cite><img src="http://placekitten.com/133/133"><span class="text"><span class="name">Stacy Mueller</span> <span class="hometown"><span class="label">Hometown:</span> <span class="value">Scotland, SD</span></span> <span class="major"><span class="label">Major:</span> <span class="value">Digital Arts & Design</span></span></span></cite>
									</blockquote>
								</div>
								<div class="testimonial">
									<blockquote>
										<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
										<cite><img src="http://placekitten.com/g/133/133"><span class="text"><span class="name">Stacy Mueller</span> <span class="hometown"><span class="label">Hometown:</span> <span class="value">Scotland, SD</span></span> <span class="major"><span class="label">Major:</span> <span class="value">Digital Arts & Design</span></span></span></cite>
									</blockquote>
								</div>
								<div class="testimonial">
									<blockquote>
										<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
										<cite><img src="http://placekitten.com/133/133"><span class="text"><span class="name">Stacy Mueller</span> <span class="hometown"><span class="label">Hometown:</span> <span class="value">Scotland, SD</span></span> <span class="major"><span class="label">Major:</span> <span class="value">Digital Arts & Design</span></span></span></cite>
									</blockquote>
								</div>
								<div class="testimonial">
									<blockquote>
										<p>"This place is awesome!"</p>
										<cite><img src="http://placekitten.com/g/133/133"><span class="text"><span class="name">Stacy Mueller</span> <span class="hometown"><span class="label">Hometown:</span> <span class="value">Scotland, SD</span></span> <span class="major"><span class="label">Major:</span> <span class="value">Digital Arts & Design</span></span></span></cite>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="home-reasons">
					<div class="container">
						<header>
							<h2>Why choose DSU?</h2>
						</header>
						<div class="sectioncontent">
							<div class="reason">
								<div class="imgcontainer"><img src="/assets/images/slices/technology.png" alt="DSU tablet"><div class="background"></div></div>
								<h3>Technology Infusion</h3>
								<p>Our in-classroom technologies and academic experts will prepare you for a successful career in any field.</p>
								<p><a href="#">Learn More</a></p>
							</div>
							<div class="reason">
								<div class="imgcontainer"><img src="/assets/images/slices/jobs.png" alt="DSU tablet"><div class="background"></div></div>
								<h3>Job Placement</h3>
								<p>95% of 2013 DSU grads found jobs, even in the current economy—businesses seek out our grads.</p>
								<p><a href="#">Learn More</a></p>
							</div>
							<div class="reason">
								<div class="imgcontainer"><img src="/assets/images/slices/majors.png" alt="DSU tablet"><div class="background"></div></div>
								<h3>Majors</h3>
								<p>Most people aren’t aware of the breadth of academic programs we offer—nor their level of excellence. Get educated here.</p>
								<p><a href="#">Learn More</a></p>
							</div>
						</div>
					</div>
				</section>
				<section class="home-happening">
					<div class="container">
						<header>
							<h2>What’s happening at DSU.</h2>
						</header>
						<div class="sectioncontent">
							<section class="news">
								<header>
									<h3>News</h3>
								</header>
								<div class="sectioncontent">
									<p class="all"><a href="#">See all news</a></p>
									<article class="newsitem lead">
										<img src="http://placekitten.com/g/509/364" alt="Three graduates">
										<header>
											<h4 class="headline"><a href="#">DSU spring commencement is Saturday, May 10th</a></h4>
											<h5 class="subhead"><time datetime="2014-05-01T20:00-05:00">May 1, 2014</time> in <a href="#">News</a></h5>
										</header>
										<div class="sectioncontent">
											<p>Dakota State will award approximately 263 baccalaureate, master’s, doctor of science and associate degrees. The baccalaureate and associate degrees awarded also include summer graduates.</p>
											<div class="spacer"></div>
											<p><a href="#">Read More</a></p>
										</div>
									</article>
									<div class="others">
										<article class="newsitem">
											<header>
												<h4 class="headline"><a href="#">Howard to speak at East Coast Games Conference</a></h4>
												<h5 class="subhead"><time datetime="2014-05-01T20:00-05:00">May 1, 2014</time> in <a href="#">News</a></h5>
											</header>
											<div class="sectioncontent">
												<p class="summary">Jeff Howard, Assistant Professor of Game Development and Design at Dakota State University will speak at the 6th annual East Coast Games Conference (ECGC), on April 24, in Raleigh, N.C.</p>
												<div class="spacer"></div>
												<p><a href="#">Read More</a></p>
											</div>
										</article>
										<article class="newsitem">
											<header>
												<h4 class="headline"><a href="#">DSU spring commencement is Saturday, May 10th</a></h4>
												<h5 class="subhead"><time datetime="2014-05-01T20:00-05:00">May 1, 2014</time> in <a href="#">News</a></h5>
											</header>
											<div class="sectioncontent">
												<p class="summary">Dakota State will award approximately 263 baccalaureate, master’s, doctor of science and associate degrees.</p>
												<div class="spacer"></div>
												<p><a href="#">Read More</a></p>
											</div>
										</article>
										<article class="newsitem">
											<header>
												<h4 class="headline"><a href="#">Howard to speak at East Coast Games Conference</a></h4>
												<h5 class="subhead"><time datetime="2014-05-01T20:00-05:00">May 1, 2014</time> in <a href="#">News</a></h5>
											</header>
											<div class="sectioncontent">
												<p class="summary">Jeff Howard, Assistant Professor of Game Development and Design at Dakota State University will speak at the 6th annual East Coast Games Conference (ECGC), on April 24, in Raleigh, N.C.</p>
												<div class="spacer"></div>
												<p><a href="#">Read More</a></p>
											</div>
										</article>
									</div>
								</div>
							</section>
							<section class="events">
								<header>
									<h3>Events</h3>
								</header>
								<div class="sectioncontent">
									<p class="all"><a href="#">See all events</a></p>
									<article class="event lead">
										<img src="http://placekitten.com/g/509/364" alt="Three graduates">
										<header>
											<h4 class="headline"><a href="#">DSU spring commencement is Saturday, May 10th</a></h4>
											<h5 class="subhead"><time datetime="2014-05-25T20:00-05:00"><span class="month">May</span> <span class="day">25</span></time></h5>
										</header>
										<div class="sectioncontent">
											<p>Dakota State will award approximately 263 baccalaureate, master’s, doctor of science and associate degrees. The baccalaureate and associate degrees awarded also include summer graduates. Dakota State will award approximately 263 baccalaureate, master’s, doctor of science and associate degrees. The baccalaureate and associate degrees awarded also include summer graduates.</p>
											<div class="spacer"></div>
											<p><a href="#">Read More</a></p>
										</div>
									</article>
									<div class="others">
										<article class="event">
											<header>
												<h4 class="headline"><a href="#">Howard to speak at East Coast Games Conference</a></h4>
												<h5 class="subhead"><time datetime="2014-05-25T20:00-05:00"><span class="month">May</span> <span class="day">25</span></time></h5>
											</header>
											<div class="sectioncontent">
												<p class="summary">Jeff Howard, Assistant Professor of Game Development and Design at Dakota State University will speak at the 6th annual East Coast Games Conference (ECGC), on April 24, in Raleigh, N.C.</p>
												<div class="spacer"></div>
												<p><a href="#">Read More</a></p>
											</div>
										</article>
										<article class="event">
											<header>
												<h4 class="headline"><a href="#">DSU spring commencement is Saturday, May 10th</a></h4>
												<h5 class="subhead"><time datetime="2014-06-02T20:00-05:00"><span class="month">Jun</span> <span class="day">2</span></time></h5>
											</header>
											<div class="sectioncontent">
												<p class="summary">Dakota State will award approximately 263 baccalaureate, master’s, doctor of science and associate degrees.</p>
												<div class="spacer"></div>
												<p><a href="#">Read More</a></p>
											</div>
										</article>
										<article class="event">
											<header>
												<h4 class="headline"><a href="#">Howard to speak at East Coast Games Conference</a></h4>
												<h5 class="subhead"><time datetime="2014-11-01T20:00-05:00"><span class="month">Nov</span> <span class="day">1</span></time></h5>
											</header>
											<div class="sectioncontent">
												<p class="summary">Jeff Howard, Assistant Professor of Game Development and Design at Dakota State University will speak at the 6th annual East Coast Games Conference (ECGC), on April 24, in Raleigh, N.C.</p>
												<div class="spacer"></div>
												<p><a href="#">Read More</a></p>
											</div>
										</article>
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>
			</main>

			{snippet:slices_footer}
		</div>
	</div>

	{snippet:slices_scripts}
</body>
</html>
{/exp:stash:parse}
