{exp:stash:parse}
{exp:stash:set name='html-title' type='snippet'}Map and Directions | Slices | DSU{/exp:stash:set}

{snippet:html-tag}
<head>
	{snippet:html-head}
</head>
<body>
	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:slices_header}

			{!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
			<main role="main" id="page-content" class="subpage-content two-column">
				<header id="content-header">
					<div class="content-titlebox">
						<div class="container">
							<h1 class="content-title">Map and Directions</h1>
						</div>
					</div>
				</header>
				<nav id="content-breadcrumb">
					<div class="container">
						<ul class="breadcrumbs">
							<li><a href="/slices/home" class="home" aria-label="Home"><i class="fa fa-home"></i></a></li>
							<li><span>Map and Directions</span></li>
						</ul>
					</div>
				</nav>
				<div class="sectioncontent">
					<div class="container contains-campusmap">
						<div class="campusmap-pusher"></div>

						<nav class="sidebar-nav">
							<section class="sidebarcomponent sidebarcomponent-navigation">
								<div class="sectioncontent">
									<ul class="links">
										<li><a href="#">Apply Now</a></li>
										<li><a href="#">Visit DSU</a></li>
										<li><a href="#">Financial Aid and Tuition</a></li>
										<li><a href="#">Get Free Stuff</a></li>
										<li><a href="#">Request More Info</a></li>
										<li><a href="#">Admissions Requirements</a></li>
										<li><a href="#">Meet Our Admissions Team</a></li>
										<li><a href="#">Admissions FAQs</a></li>
									</ul>
								</div>
							</section>
						</nav>

						<div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
							<div class="content-content"> {!-- I'm running out of good, semantic names. --}

								<div class="campusmap">
									<div class="campusmap-fullbleed-container">
										<div class="campusmap-container">
											<div id="campusmap-canvas"></div>
										</div>
									</div>

									<div class="usercontent">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. </p>
									</div>

									<div class="accordiongroup">
										<section class="accordionitem">
											<header>
												<h4>From I-90</h4>
											</header>
											<div class="sectioncontent">
												<ol>
													<li>Go North.</li>
													<li>Turn right.</li>
													<li>Ask the guy at the gas station.</li>
												</ol>
											</div>
										</section>
										<section class="accordionitem">
											<header>
												<h4>From I-29</h4>
											</header>
											<div class="sectioncontent">
												<ol>
													<li>Go West, young man.</li>
												</ol>
											</div>
										</section>
									</div>

									<div class="points hidden">
										{!-- valid icons names: 1, 2, 3, ... 31, star, parking --}
										<div class="point{!-- You can also hide individual points with a hidden class here. --}" data-latlng="44.0120534,-97.1135585" data-icon="star">
											<div class="header">
												<span class="num">1</span> <span class="title">Lowry Hall</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>Lowry Hall</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0122859,-97.1130254" data-icon="star">
											<div class="header">
												<span class="num">2</span> <span class="title">Technology Classroom Building</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>Technology Classroom Building</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0121445,-97.1122779" data-icon="star">
											<div class="header">
												<span class="num">3</span> <span class="title">Beadle Hall</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>Beadle Hall</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0122142,-97.1113515" data-icon="star">
											<div class="header">
												<span class="num">4</span> <span class="title">Kennedy Center</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>Kennedy Center</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0121210,-97.1102789" data-icon="star">
											<div class="header">
												<span class="num">5</span> <span class="title">East Hall</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>East Hall</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0123978,-97.1098015" data-icon="star">
											<div class="header">
												<span class="num">6</span> <span class="title">Arch Entrance</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>Arch Entrance</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0126870,-97.1100042" data-icon="star">
											<div class="header">
												<span class="num">7</span> <span class="title">Zimmerman Hall</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>Zimmerman Hall</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0130593,-97.1106226" data-icon="star">
											<div class="header">
												<span class="num">8</span> <span class="title">Higbie Hall</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>Higbie Hall</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0130250,-97.1113462" data-icon="star">
											<div class="header">
												<span class="num">9</span> <span class="title">State Museam</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>State Museam</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0129420,-97.1118162" data-icon="star">
											<div class="header">
												<span class="num">10</span> <span class="title">Physical Plant</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>Physical Plant</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0129586,-97.1125588" data-icon="star">
											<div class="header">
												<span class="num">11</span> <span class="title">Science Center</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>Science Center</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0129988,-97.1133886" data-icon="star">
											<div class="header">
												<span class="num">12</span> <span class="title">Karl E. Mundt Library</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>Karl E. Mundt Library</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0126491,-97.1087493" data-icon="star">
											<div class="header">
												<span class="num">13</span> <span class="title">Richardson Hall</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>Richardson Hall</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0131494,-97.1088387" data-icon="star">
											<div class="header">
												<span class="num">14</span> <span class="title">Emry Hall</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>Emry Hall</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0131164,-97.1093388" data-icon="star">
											<div class="header">
												<span class="num">15</span> <span class="title">Heston Hall</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>Heston Hall</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0135365,-97.1131841" data-icon="star">
											<div class="header">
												<span class="num">16</span> <span class="title">Community Center</span>
											</div>
											<div class="pincontent">
												<img src="http://placekitten.com/190/161" alt="">
												<div class="content">
													<h3>Community Center</h3>
													<p>Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do eiusmod tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
													<p class="links">
														<a href="#">Learn More</a>
														<a href="#">Directions</a>
													</p>
												</div>
											</div>
										</div>

										<!-- Parking -->
										<div class="point" data-latlng="44.0124086,-97.1134298" data-icon="parking">
											<div class="header">
												<span class="title">Parking Lot 1</span>
											</div>
											<div class="pincontent">
												<div class="content">
													<h3>Parking Lot 1</h3>
													<p>Available to Freshmen</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0132827,-97.1118727" data-icon="parking">
											<div class="header">
												<span class="title">Parking Lot 2</span>
											</div>
											<div class="pincontent">
												<div class="content">
													<h3>Parking Lot 2</h3>
													<p>Available to Freshmen</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0138315,-97.1106246" data-icon="parking">
											<div class="header">
												<span class="title">Hospital Parking</span>
											</div>
											<div class="pincontent">
												<div class="content">
													<h3>Hospital Parking</h3>
													<p>Fake an injury and you can park here for a week</p>
												</div>
											</div>
										</div>
										<div class="point" data-latlng="44.0124971,-97.1093066" data-icon="parking">
											<div class="header">
												<span class="title">Parking Lot 3</span>
											</div>
											<div class="pincontent">
												<div class="content">
													<h3>Parking Lot 3</h3>
													<p>For all of your east campus needs</p>
												</div>
											</div>
										</div>

									</div>

									{!-- Note to implementor: this script
									     needs to be included. It doesn't
									     matter if it's included here or in
									     the {snippet:scripts}, or right below
									     the actual map div. Do whatever is
									     easiest. If you do decide to put it
									     in {snippet:scripts}, put it above
									     script.js.
									--}
									<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBaZ8LSfKER780EhAXxvVhd29wOLwaHotc"></script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>

			{snippet:slices_footer}
		</div>
	</div>

	{snippet:slices_scripts}
</body>
</html>
{/exp:stash:parse}
