{exp:stash:parse}
{exp:stash:set name='html-title' type='snippet'}News Item | Slices | DSU{/exp:stash:set}

{snippet:html-tag}
<head>
	{snippet:html-head}
</head>
<body>
	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:slices_header}

			{!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
			<main role="main" id="page-content" class="subpage-content two-column">
				<header id="content-header">
					<div class="content-titlebox">
						<div class="container">
							{!-- Note to integrator: This isn't {title}. It's just "News". {title} shows up later. --}
							<h1 class="content-title">News</h1>
						</div>
					</div>
				</header>
				<nav id="content-breadcrumb">
					<div class="container">
						<ul class="breadcrumbs">
							<li><a href="/slices/home" class="home" aria-label="Home"><i class="fa fa-home"></i></a></li>
							<li><a href="/slices/news-list">News</a></li>
							<li><span>Lorem ipsum dolor sit amet con sect etur sicing elit</span></li>
						</ul>
					</div>
				</nav>
				<div class="sectioncontent">
					<div class="container">
						<nav class="sidebar-nav">
							<section class="sidebarcomponent sidebarcomponent-navigation">
								<div class="sectioncontent">
									<ul class="links">
										<li><a href="#">Latest News</a></li>
										<li><a href="#">Student Life</a></li>
										<li><a href="#">Athletics</a></li>
										<li><a href="#">Faculty</a></li>
									</ul>
								</div>
							</section>
						</nav>
						<div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
							<div class="content-content" itemscope itemtype="http://schema.org/Article"> {!-- I'm running out of good, semantic names. --}
								<div class="content-featuredimage">
									{!-- In a two-column layout, this is 761×342 --}
									<img itemprop="image" src="http://placehold.it/761x342" alt="A kitten">
								</div>
								<div class="usercontent">
									{!-- Note to integrator: while usually this H2 is just part of the content, in the News Item case, it's the {title} of the news item. --}
									<h2 itemprop="name">Lorem ipsum dolor sit amet con sect etur sicing elit</h2>
									<p class="news-tagline"><time datetime="2014-04-24T08:00{!--{entry_date format='{DATE_ISO8601}'}--}" itemprop="datePublished">4.24.14</time> <span class="categories"><a href="#">Atheltics</a>, <a href="#">Student Life</a></span></p>

									<div itemprop="articleBody">
										<p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit, <strong>strong text</strong> sed do eiusmod <em>emphasized text</em> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

										<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut text link unde hover iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									</div>
								</div>
							</div>
						</div>
						<aside class="sidebar-other">
							<section class="sidebarcomponent sidebarcomponent-events">
								<header class="emphasis">
									<h3>Events</h3> {!-- What's the proper heading level for these? CSS should work with any heading level, so feel free to change --}
								</header>
								<div class="sectioncontent">
									<ul>
										<li>
											<time datetime="2014-06-06T09:30"><span class="month">Jun</span> <span class="day">6</span></time>
											<div>
												<a href="#">Summer Registration</a>
												<span class="time">9:30am</span>
											</div>
										</li>
										<li>
											<time datetime="2014-06-07T09:30"><span class="month">Jun</span> <span class="day">7</span></time>
											<div>
												<a href="#">Summer Registration</a>
												<span class="time">11:00am</span>
											</div>
										</li>
										<li>
											<time datetime="2014-12-31T20:00"><span class="month">Dec</span> <span class="day">31</span></time>
											<div>
												<a href="#">New Year's Eve Bash</a>
												<span class="time">8:00pm</span>
											</div>
										</li>
									</ul>
								</div>
								<footer>
									<a href="#">See All Events</a>
								</footer>
							</section>

							<section class="sidebarcomponent sidebarcomponent-gift">
								<header>
									<h3>Give a Gift</h3>
								</header>
								<div class="sectioncontent">
									<img src="http://placekitten.com/196/113" alt="">
									<p>Every gift to DSU matters. Whether you contribute $25 or $25,000, you can make a difference.</p>
									<a href="#" class="button">Learn More</a>
								</div>
							</section>
						</aside>
					</div>
				</div>
			</main>

			{snippet:slices_footer}
		</div>
	</div>

	{snippet:slices_scripts}
</body>
</html>
{/exp:stash:parse}
