{exp:stash:parse}
{exp:stash:set name='html-title' type='snippet'}News list | Slices | DSU{/exp:stash:set}

{snippet:html-tag}
<head>
	{snippet:html-head}
</head>
<body>
	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:slices_header}

			{!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
			<main role="main" id="page-content" class="subpage-content two-column">
				<header id="content-header">
					<div class="content-titlebox">
						<div class="container">
							<h1 class="content-title">News</h1>
						</div>
					</div>
				</header>
				<nav id="content-breadcrumb">
					<div class="container">
						<ul class="breadcrumbs">
							<li><a href="/slices/home" class="home" aria-label="Home"><i class="fa fa-home"></i></a></li>
							<li><span>News</span></li>
						</ul>
					</div>
				</nav>
				<div class="sectioncontent">
					<div class="container">
						<nav class="sidebar-nav">
							<section class="sidebarcomponent sidebarcomponent-navigation">
								<div class="sectioncontent">
									<ul class="links">
										<li><a href="#">Latest News</a></li>
										<li><a href="#">Student Life</a></li>
										<li><a href="#">Athletics</a></li>
										<li><a href="#">Faculty</a></li>
									</ul>
								</div>
							</section>
						</nav>
						<div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
							<div class="content-content"> {!-- I'm running out of good, semantic names. --}
								<div class="newslist">
									<article itemscope itemtype="http://schema.org/Article" class="newslist-item">
										<img class="headerimage" itemprop="image" src="http://placekitten.com/168/168" alt="A kitten">

										<header>
											<h2 itemprop="name"><a href="#" itemprop="url">Lorem ipsum dolor sit amet con sect etur sicing elit.</a></h2>
											<p class="tagline"><time datetime="2014-04-24T08:00{!--{entry_date format='{DATE_ISO8601}'}--}" itemprop="datePublished">4.24.14</time> <span class="categories"><a href="#">Atheltics</a>, <a href="#">Student Life</a></span></p>
										</header>

										<div class="sectioncontent">
											<p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

											<a href="#">Read More</a>
										</div>
									</article>
									<article itemscope itemtype="http://schema.org/Article" class="newslist-item">
										<img class="headerimage" itemprop="image" src="http://placekitten.com/168/168" alt="A kitten">

										<header>
											<h2 itemprop="name"><a href="#" itemprop="url">Lorem ipsum dolor sit amet con sect etur sicing elit.</a></h2>
											<p class="tagline"><time datetime="2014-04-24T08:00{!--{entry_date format='{DATE_ISO8601}'}--}" itemprop="datePublished">4.24.14</time> <span class="categories"><a href="#">Atheltics</a>, <a href="#">Student Life</a></span></p>
										</header>

										<div class="sectioncontent">
											<p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

											<a href="#">Read More</a>
										</div>
									</article>
									<article itemscope itemtype="http://schema.org/Article" class="newslist-item">
										<header>
											<h2 itemprop="name"><a href="#" itemprop="url">Lorem ipsum dolor sit amet con sect etur sicing elit.</a></h2>
											<p class="tagline"><time datetime="2014-04-24T08:00{!--{entry_date format='{DATE_ISO8601}'}--}" itemprop="datePublished">4.24.14</time> <span class="categories"><a href="#">Atheltics</a>, <a href="#">Student Life</a></span></p>
										</header>

										<div class="sectioncontent">
											<p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

											<a href="#">Read More</a>
										</div>
									</article>
									<article itemscope itemtype="http://schema.org/Article" class="newslist-item">
										<header>
											<h2 itemprop="name"><a href="#" itemprop="url">Lorem ipsum dolor sit amet con sect etur sicing elit.</a></h2>
											<p class="tagline"><time datetime="2014-04-24T08:00{!--{entry_date format='{DATE_ISO8601}'}--}" itemprop="datePublished">4.24.14</time> <span class="categories"><a href="#">Atheltics</a>, <a href="#">Student Life</a></span></p>
										</header>

										<div class="sectioncontent">
											<p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

											<a href="#">Read More</a>
										</div>
									</article>
									<article itemscope itemtype="http://schema.org/Article" class="newslist-item">
										<img class="headerimage" itemprop="image" src="http://placekitten.com/168/168" alt="A kitten">

										<header>
											<h2 itemprop="name"><a href="#" itemprop="url">Lorem ipsum dolor sit amet con sect etur sicing elit.</a></h2>
											<p class="tagline"><time datetime="2014-04-24T08:00{!--{entry_date format='{DATE_ISO8601}'}--}" itemprop="datePublished">4.24.14</time> <span class="categories"><a href="#">Atheltics</a>, <a href="#">Student Life</a></span></p>
										</header>

										<div class="sectioncontent">
											<p itemprop="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>

											<a href="#">Read More</a>
										</div>
									</article>
								</div>
								<div class="pagination">
									<ul>
										<li><a href="#" class="page-first" aria-label="First Page">First</a></li>
										<li><a href="#" class="page-previous">Previous Page</a></li>
										<li><a href="#" class="page active" aria-label="Page 1">1</a></li>
										<li><a href="#" class="page" aria-label="Page 2">2</a></li>
										<li><a href="#" class="page" aria-label="Page 3">3</a></li>
										<li><a href="#" class="page-next">Next Page</a></li>
										<li><a href="#" class="page-last" aria-label="Last Page">Last</a></li>
									</ul>
								</div>
							</div>
						</div>
						<aside class="sidebar-other">
							<section class="sidebarcomponent sidebarcomponent-events">
								<header class="emphasis">
									<h3>Events</h3> {!-- What's the proper heading level for these? CSS should work with any heading level, so feel free to change --}
								</header>
								<div class="sectioncontent">
									<ul>
										<li>
											<time datetime="2014-06-06T09:30"><span class="month">Jun</span> <span class="day">6</span></time>
											<div>
												<a href="#">Summer Registration</a>
												<span class="time">9:30am</span>
											</div>
										</li>
										<li>
											<time datetime="2014-06-07T09:30"><span class="month">Jun</span> <span class="day">7</span></time>
											<div>
												<a href="#">Summer Registration</a>
												<span class="time">11:00am</span>
											</div>
										</li>
										<li>
											<time datetime="2014-12-31T20:00"><span class="month">Dec</span> <span class="day">31</span></time>
											<div>
												<a href="#">New Year's Eve Bash</a>
												<span class="time">8:00pm</span>
											</div>
										</li>
									</ul>
								</div>
								<footer>
									<a href="#">See All Events</a>
								</footer>
							</section>

							<section class="sidebarcomponent sidebarcomponent-gift">
								<header>
									<h3>Give a Gift</h3>
								</header>
								<div class="sectioncontent">
									<img src="http://placekitten.com/196/113" alt="">
									<p>Every gift to DSU matters. Whether you contribute $25 or $25,000, you can make a difference.</p>
									<a href="#" class="button">Learn More</a>
								</div>
							</section>
						</aside>
					</div>
				</div>
			</main>

			{snippet:slices_footer}
		</div>
	</div>

	{snippet:slices_scripts}
</body>
</html>
{/exp:stash:parse}
