{exp:stash:parse}
{exp:stash:set name='html-title' type='snippet'}Page Elements | Slices | DSU{/exp:stash:set}

{snippet:html-tag}
<head>
	{snippet:html-head}
</head>
<body>
	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:slices_header}

			{!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
			<main role="main" id="page-content" class="subpage-content three-column">
				<header id="content-header">
					<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						{!-- Largest sizes are cut to always be 572 pixels high. Including two images (crop from the center) so that smaller screens don't have to download the parts of the images on the end that they won't see. --}
						<source srcset="http://placehold.it/1920x572/f2a900/ffffff" media="(min-width:65.64em)">
						<source srcset="http://placehold.it/1050x572/f2a900/ffffff" media="(min-width:48em)">
						{!-- Smallest three sizes are for mobile, and they hold their aspect ratio --}
						<source srcset="http://placehold.it/768x672/f2a900/ffffff" media="(min-width:40.01em)">
						<source srcset="http://placehold.it/640x560/f2a900/ffffff" media="(min-width:20.01em)">
						<!--[if IE 9]></video><![endif]-->

						<!--[if lte IE 8]>
						<img src="http://placehold.it/1920x572/f2a900/ffffff" alt="Picture that extends far too largely" class="content-largeimage">
						<![endif]-->

						<!--[if gt IE 8]><!-->
						<img src="http://placehold.it/320x280/f2a900/ffffff" alt="Picture that extends far too largely" class="content-largeimage">
						<!--<![endif]-->
					</picture>
					<div class="content-titlebox">
						<div class="container">
							<h1 class="content-title">Admissions</h1>
						</div>
					</div>
				</header>
				<nav id="content-breadcrumb">
					<div class="container">
						<ul class="breadcrumbs">
							<li><a href="/slices/home" class="home" aria-label="Home"><i class="fa fa-home"></i></a></li>
							<li><a href="#">Admissions</a></li>
							<li><span>Visit DSU</span></li>
						</ul>
					</div>
				</nav>
				<div class="sectioncontent">
					<div class="container">
						<nav class="sidebar-nav">
							<section class="sidebarcomponent sidebarcomponent-navigation">
								<div class="sectioncontent">
									<ul class="links">
										<li><a href="#">Apply Now</a></li>
										<li class="parent-here">
											<a href="#">Visit DSU</a>
											<ul>
												<li class="here"><a href="#">Subpage 1</a></li>
												<li><a href="#">Subpage 2</a></li>
											</ul>
										</li>
										<li><a href="#">Financial Aid and Tuition</a></li>
										<li><a href="#">Get Free Stuff</a></li>
										<li><a href="#">Request More Info</a></li>
										<li><a href="#">Admissions Requirements</a></li>
										<li class="here"><a href="#">Meet Our Admissions Team</a></li>
										<li><a href="#">Admissions FAQs</a></li>
									</ul>
								</div>
							</section>
						</nav>
						<div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
							<div class="content-content"> {!-- I'm running out of good, semantic names. --}
								<div class="content-featuredimage">
									{!-- In a two-column layout, this is 761×342 --}
									<img src="http://placekitten.com/489/302" alt="A kitten">
									<div class="caption">Magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</div>
								</div>
								<div class="usercontent">
									<h2>H2 lorem ipsum dolor sit ame nsect etur adipi sicing elit.</h2>

									<p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit, <strong>strong text</strong> sed do eiusmod <em>emphasized text</em> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

									<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut text link unde hover iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

									<p><a class="button" href="#">Button-styled link</a></p>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

									<h3>H3 lorem ipsum dolor sit ame nsect etur adipi sicing elit.</h3>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

									<h4>H4 lorem ipsum dolor sit ame nsect etur adipi sicing elit.</h4>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

									<p><a class="button" href="#">Button-styled link</a> <a class="button" href="#">Another one</a></p>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

									<h5>H5 lorem ipsum dolor sit amet con sect etur adipi sicing sed  cmo oodo ut labora elit</h5>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

									<ul>
										<li>Nisi ut aliquip ex ea commodo consequat.</li>
										<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
										<li>Nisi ut aliquip ex ea commodo consequat.</li>
									</ul>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

									<ol>
										<li>Nisi ut aliquip ex ea commodo consequat.</li>
										<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
										<li>Nisi ut aliquip ex ea commodo consequat.</li>
									</ol>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

									<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</blockquote>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

									<blockquote>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									</blockquote>

									<blockquote>
										<h2>Something</h2>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

										<h3>Something</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

										<h4>Something</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

										<h5>Something</h5>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									</blockquote>


									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
								<section class="quotationbox">
									<header>
										<h4>What Students Say</h4>
									</header>
									<div class="sectioncontent">
										<img src="http://placekitten.com/88/88" alt="">
										<blockquote>
											<p>"DSU integrates the latest technologies into the curriculum to educate their students and prepare us for the future. Our professors are always introducing stimulating ideas and hands on projects because they are  dedicated to helping us succeed. I wouldn’t have it any other way!"</p>
											<cite><span class="name">Stacy Mueller</span> <span class="hometown">Hometown: Scotland, SD</span> <span class="major">Major: Digital Arts &amp; Design</span></cite>
										</blockquote>
									</div>
								</section>
								<div class="accordiongroup">
									<section class="accordionitem">
										<header>
											<h4>Accordion Title</h4>
										</header>
										<div class="sectioncontent usercontent">
											<p>Accordion content</p>
										</div>
									</section>
									<section class="accordionitem">
										<header>
											<h4>Accordion Title</h4>
										</header>
										<div class="sectioncontent usercontent">
											<p>Accordion content</p>
										</div>
									</section>
								</div>
							</div>
							<aside class="sidebar-related">{!-- Doesn't exist in .two-column --}
								<section class="sidebarcomponent sidebarcomponent-callouts">
									<div class="sectioncontent">
										<a href="#" class="button">Apply Now</a>
										<a href="#" class="button">Visit DSU</a>
										<a href="#" class="button">Net Cost Calculator</a>
										<a href="#" class="button secondary">Contact Admissions</a>
									</div>
								</section>

								<section class="sidebarcomponent sidebarcomponent-photocallout">
									<header>
										<img src="http://placekitten.com/216/101" alt="">{!-- Image for decoration only. Should not be read via screenreader. --}
									</header>
									<div class="sectioncontent">
										<h4><a href="#">Admissions Team</a></h4>
										<p>Nulla conse ctetur, enim at cons equat dictum.</p>
										<a href="#">Meet Our Counselors</a>
									</div>
								</section>

								<section class="sidebarcomponent sidebarcomponent-photocallout">
									<header class="empty"></header>
									<div class="sectioncontent">
										<h4><a href="#">Tuition and Fees</a></h4>
										<p>Nulla conse ctetur, enim at cons equat dictum.</p>
										<a href="#">What's the cost?</a>
									</div>
								</section>

								<section class="sidebarcomponent sidebarcomponent-photocallout">
									<header>
										<img src="http://placekitten.com/216/101" alt="">
									</header>
									<div class="sectioncontent">
										<h4><a href="#">Scholarships</a></h4>
										<p>Nulla conse ctetur, enim at cons equat dictum.</p>
										<a href="#">See What's Available</a>
									</div>
								</section>

								<section class="sidebarcomponent sidebarcomponent-campuslink">
									<div class="sectioncontent">
										<a href="#">
											<h3>Take Online</h3>
											<p>Learn More</p>
											<span class="icon icon-online"></span>
										</a>
									</div>
								</section>

								<section class="sidebarcomponent sidebarcomponent-campuslink">
									<div class="sectioncontent">
										<a href="#">
											<h3>Take at the University Center</h3>
											<p>Learn More</p>
											<span class="icon icon-uc"></span>
										</a>
									</div>
								</section>

								<section class="sidebarcomponent sidebarcomponent-questions">
									<header class="emphasis">
										<h3>Questions?</h3>
									</header>
									<div class="sectioncontent">
										<p>Call our Admissions Office at 1.888.DSU.9988 or contact us.</p>
										<a href="#" class="button">Contact</a>
									</div>
								</section>

								<section class="sidebarcomponent sidebarcomponent-contact">
									<header class="emphasis">
										<h3>Contact Info</h3>
									</header>
									<div class="sectioncontent">
										<h4 class="name">Person's Name</h4>
										<h5 class="title">Their Title</h5>
										<a href="tel:800.000.0000" class="tel">800.000.0000</a>
										<a href="mailto:example@dsu.edu" class="mail">example@dsu.edu</a>
									</div>
								</section>

								<section class="sidebarcomponent sidebarcomponent-resources">
									<header class="emphasis">
										<h3>Resources</h3>
									</header>
									<div class="sectioncontent">
										<ul>
											<li><a href="#">2013-2014 FA Award Guide</a></li>
											<li><a href="#">Federal Release Authorization</a></li>
											<li><a href="#">Providing Tax Documentation</a></li>
										</ul>
									</div>
								</section>
							</aside>
						</div>
						<aside class="sidebar-other">
							<section class="sidebarcomponent sidebarcomponent-calendar">
								<header class="emphasis">
									<h3>Calendar</h3>
								</header>
								<div class="sectioncontent">
									{snippet:slices_sidebar-minicalendar}
								</div>
							</section>

							<section class="sidebarcomponent sidebarcomponent-events">
								<header class="emphasis">
									<h3>Events</h3> {!-- What's the proper heading level for these? CSS should work with any heading level, so feel free to change --}
								</header>
								<div class="sectioncontent">
									<ul>
										<li>
											<time datetime="2014-06-06T09:30"><span class="month">Jun</span> <span class="day">6</span></time>
											<div>
												<a href="#">Summer Registration</a>
												<span class="time">9:30am</span>
											</div>
										</li>
										<li>
											<time datetime="2014-06-07T09:30"><span class="month">Jun</span> <span class="day">7</span></time>
											<div>
												<a href="#">Summer Registration</a>
												<span class="time">11:00am</span>
											</div>
										</li>
										<li>
											<time datetime="2014-12-31T20:00"><span class="month">Dec</span> <span class="day">31</span></time>
											<div>
												<a href="#">New Year's Eve Bash</a>
												<span class="time">8:00pm</span>
											</div>
										</li>
									</ul>
								</div>
								<footer>
									<a href="#">See All Events</a>
								</footer>
							</section>

							<section class="sidebarcomponent sidebarcomponent-relatedlinks">
								<header class="emphasis">
									<h3>Related Links</h3>
								</header>
								<div class="sectioncontent">
									<ul class="links">
										<li><a href="#">Financial Aid</a></li>
										<li><a href="#">Admissions Requirements</a></li>
										<li><a href="#">Maps and Directions</a></li>
										<li><a href="#">Virtual Tour</a></li>
										<li><a href="#" rel="external" target="_blank">External Link</a></li>
									</ul>
								</div>
							</section>

							<section class="sidebarcomponent sidebarcomponent-photogallery">
								<header class="emphasis">
									<h3>DSU Student Life</h3>
								</header>
								<div class="sectioncontent">
									<a href="http://placekitten.com/1920/1240"><img src="http://placekitten.com/192/124" alt="Some caption"></a>
									<a href="http://placekitten.com/1921/1241"><img src="http://placekitten.com/192/124" alt="Second photo"></a>
									<a href="http://placekitten.com/1922/1242"><img src="http://placekitten.com/192/124" alt="Third photo"></a>
									<a href="http://placekitten.com/1923/1243"><img src="http://placekitten.com/192/124" alt="Fourth photo"></a>
									<a href="http://placekitten.com/1924/1244"><img src="http://placekitten.com/192/124" alt="Fifth photo"></a>
								</div>
							</section>

							<section class="sidebarcomponent sidebarcomponent-social">
								<header class="emphasis">
									<h3>Connect</h3>
								</header>
								<div class="sectioncontent">
									<h4>Admissions</h4>
									<a href="#" class="facebook">Facebook</a>
									<a href="#" class="twitter">Twitter</a>
									{!-- CSS also supports class names: youtube, linkedin, flickr, instagram, google-plus --}
								</div>
							</section>

							<section class="sidebarcomponent sidebarcomponent-relatedlinks">
								<header class="emphasis">
									<h3>Similar Programs</h3>
								</header>
								<div class="sectioncontent">
									<ul class="links">
										<li><a href="#">Computer Game Design</a></li>
										<li><a href="#">DAD Computer Graphics</a></li>
										<li><a href="#">DAD Digital Storytelling</a></li>
										<li><a href="#">DAD Production Animation</a></li>
										<li><a href="#">DAD Web Design and Production</a></li>
									</ul>
								</div>
							</section>

							<section class="sidebarcomponent sidebarcomponent-gift">
								<header>
									<h3>Give a Gift</h3>
								</header>
								<div class="sectioncontent">
									<img src="http://placekitten.com/196/113" alt="">
									<p>Every gift to DSU matters. Whether you contribute $25 or $25,000, you can make a difference.</p>
									<a href="#" class="button">Learn More</a>
								</div>
							</section>
						</aside>
					</div>
				</div>
			</main>

			{snippet:slices_footer}
		</div>
	</div>

	{snippet:slices_scripts}
</body>
</html>
{/exp:stash:parse}
