{exp:stash:parse}
{exp:stash:set name='html-title' type='snippet'}Degrees and Programs | Slices | DSU{/exp:stash:set}

{snippet:html-tag}
<head>
	{snippet:html-head}
</head>
<body>
	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:slices_header}

			{!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
			<main role="main" id="page-content" class="subpage-content two-column">
				<header id="content-header">
					<div class="content-titlebox">
						<div class="container">
							<h1 class="content-title">Degrees and Programs</h1>
						</div>
					</div>
				</header>
				<nav id="content-breadcrumb">
					<div class="container">
						<ul class="breadcrumbs">
							<li><a href="/slices/home" class="home" aria-label="Home"><i class="fa fa-home"></i></a></li>
							<li><a href="#">Admissions</a></li>
							<li><span>Visit DSU</span></li>
						</ul>
					</div>
				</nav>
				<div class="sectioncontent">
					<div class="container">
						<nav class="sidebar-nav">
							<section class="sidebarcomponent sidebarcomponent-navigation">
								<div class="sectioncontent">
									<ul class="links">
										<li><a href="#">Apply Now</a></li>
										<li><a href="#">Visit DSU</a></li>
										<li><a href="#">Financial Aid and Tuition</a></li>
										<li><a href="#">Get Free Stuff</a></li>
										<li><a href="#">Request More Info</a></li>
										<li><a href="#">Admissions Requirements</a></li>
										<li><a href="#">Meet Our Admissions Team</a></li>
										<li><a href="#">Admissions FAQs</a></li>
									</ul>
								</div>
							</section>
						</nav>
						<div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
							<div class="content-content"> {!-- I'm running out of good, semantic names. --}
								<div class="content-featuredimage">
									{!-- In a two-column layout, this is 761×342 --}
									<img src="http://placehold.it/761x342" alt="A kitten">
								</div>
								<div class="usercontent">
									<h2>H2 lorem ipsum dolor sit ame nsect etur adipi sicing elit.</h2>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
								<div id="programswrapper">
									<div id="programssearch">
										<input type="search" placeholder="Quick Search">
									</div>
									<div class="programs">
										<section class="programssection">
											<header>
												<h3 class="programssection-title">Bachelor's</h3>
											</header>
											<div class="sectioncontent programssection-programs accordiongroup">
												<article class="programssection-program accordionitem" data-keywords="annuities, numbers">
													<header>
														<h4>Accounting (BBA)</h4>
													</header>
													<div class="sectioncontent">
														<div class="usercontent">
															<h5>Amet con sect etur adipi sicing ut labora elit.</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
															<p><a href="#" class="button">Learn more</a></p>
														</div>
													</div>
												</article>
												<article class="programssection-program accordionitem" data-keywords="something other thing">
													<header>
														<h4>Digital Arts &amp; Design (BBA)</h4>
													</header>
													<div class="sectioncontent">
														<img src="http://placekitten.com/408/267" alt="">
														<div class="usercontent">
															<h5>Amet con sect etur adipi sicing ut labora elit.</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
															<p><a href="#" class="button">Learn more</a></p>
														</div>
													</div>
												</article>
												<article class="programssection-program accordionitem" data-keywords="something other thing">
													<header>
														<h4>Exercise Science (BS)</h4>
													</header>
													<div class="sectioncontent">
														<div class="usercontent">
															<h5>Amet con sect etur adipi sicing ut labora elit.</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
															<p><a href="#" class="button">Learn more</a></p>
														</div>
													</div>
												</article>
											</div>
										</section>
										<section class="programssection">
											<header>
												<h3 class="programssection-title">Associate's</h3>
											</header>
											<div class="sectioncontent programssection-programs accordiongroup">
												<article class="programssection-program accordionitem">
													<header>
														<h4>Business Management (AS)</h4>
													</header>
													<div class="sectioncontent">
														<div class="usercontent">
															<h5>Amet con sect etur adipi sicing ut labora elit.</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
														</div>
														<a href="#" class="button">Learn more</a>
													</div>
												</article>
												<article class="programssection-program accordionitem">
													<header>
														<h4>General Studies (AA)</h4>
													</header>
													<div class="sectioncontent">
														<img src="http://placekitten.com/408/267" alt="">
														<div class="usercontent">
															<h5>Amet con sect etur adipi sicing ut labora elit.</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
														</div>
														<a href="#" class="button">Learn more</a>
													</div>
												</article>
												<article class="programssection-program accordionitem">
													<header>
														<h4>Health Information Technology (AS)</h4>
													</header>
													<div class="sectioncontent">
														<div class="usercontent">
															<h5>Amet con sect etur adipi sicing ut labora elit.</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
														</div>
														<a href="#" class="button">Learn more</a>
													</div>
												</article>
											</div>
										</section>
										<section class="programssection">
											<header>
												<h3 class="programssection-title">Certificates</h3>
											</header>
											<div class="sectioncontent programssection-programs accordiongroup">
												<article class="programssection-program accordionitem">
													<header>
														<h4>English for New Media Certificate</h4>
													</header>
													<div class="sectioncontent">
														<div class="usercontent">
															<h5>Amet con sect etur adipi sicing ut labora elit.</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
														</div>
														<a href="#" class="button">Learn more</a>
													</div>
												</article>
												<article class="programssection-program accordionitem">
													<header>
														<h4>Health Care Coding Certificate</h4>
													</header>
													<div class="sectioncontent">
														<img src="http://placekitten.com/408/267" alt="">
														<div class="usercontent">
															<h5>Amet con sect etur adipi sicing ut labora elit.</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
														</div>
														<a href="#" class="button">Learn more</a>
													</div>
												</article>
												<article class="programssection-program accordionitem">
													<header>
														<h4>High-Performance Computing Certificate</h4>
													</header>
													<div class="sectioncontent">
														<div class="usercontent">
															<h5>Amet con sect etur adipi sicing ut labora elit.</h5>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
														</div>
														<a href="#" class="button">Learn more</a>
													</div>
												</article>
											</div>
										</section>
									</div>
								</div>
							</div>
						</div>
						<aside class="sidebar-other">
						</aside>
					</div>
				</div>
			</main>

			{snippet:slices_footer}
		</div>
	</div>

	{snippet:slices_scripts}
</body>
</html>
{/exp:stash:parse}
