{exp:stash:parse}
{exp:stash:set name='html-title' type='snippet'}Program | Slices | DSU{/exp:stash:set}

{snippet:html-tag}
<head>
	{snippet:html-head}
</head>
<body>
	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:slices_header}

			{!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
			<main role="main" id="page-content" class="subpage-content three-column">
				<header id="content-header">
					<div class="content-titlebox">
						<div class="container">
							<h1 class="content-title">Digital Arts and Design</h1>
							<form id="programjump">
								<select>
									<option value="">Jump to Program</option>
									<option value="http://google.com#1">Something</option>
									<option value="http://google.com#2">Something Else</option>
									<option value="http://google.com#3">Digital Arts and Design: Web Design and Production (BS)</option>
								</select>
								<button>Go</button>
							</form>
						</div>
					</div>
				</header>
				<nav id="content-breadcrumb">
					<div class="container">
						<ul class="breadcrumbs">
							<li><a href="/slices/home" class="home" aria-label="Home"><i class="fa fa-home"></i></a></li>
							<li><a href="#">Academics</a></li>
							<li><a href="/slices/programs">Degrees and Programs</a></li>
							<li><span>Digital Arts and Design</span></li>
						</ul>
					</div>
				</nav>
				<div class="sectioncontent">
					<div class="container">
						<nav class="sidebar-nav">
							<section class="sidebarcomponent sidebarcomponent-navigation">
								<div class="sectioncontent">
									<ul class="links">
										<li><a href="#">Course Requirements</a></li>
										<li><a href="#">Faculty</a></li>
									</ul>
								</div>
							</section>
						</nav>
						<div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
							<div class="content-content"> {!-- I'm running out of good, semantic names. --}
								<div class="content-featuredimage">
									<img src="http://placekitten.com/489/302" alt="A kitten">
								</div>
								<div class="usercontent">
									<h2>Lorem ipsum dolor sit ame nsect etur adipi sicing elit.</h2>

									<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

									<ul>
										<li>Nisi ut aliquip ex ea commodo consequat.</li>
										<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
										<li>Nisi ut aliquip ex ea commodo consequat.</li>
									</ul>
								</div>
							</div>
							<aside class="sidebar-related">
								<section class="sidebarcomponent sidebarcomponent-callouts">
									<div class="sectioncontent">
										<a href="#" class="button">Apply Now</a>
										<a href="#" class="button">Visit DSU</a>
									</div>
								</section>

								<section class="sidebarcomponent sidebarcomponent-campuslink">
									<div class="sectioncontent">
										<a href="#">
											<h3>Take Online</h3>
											<p>Learn More</p>
											<span class="icon icon-online"></span>
										</a>
									</div>
								</section>

								<section class="sidebarcomponent sidebarcomponent-campuslink">
									<div class="sectioncontent">
										<a href="#">
											<h3>Take at the University Center</h3>
											<p>Learn More</p>
											<span class="icon icon-uc"></span>
										</a>
									</div>
								</section>

								<section class="sidebarcomponent sidebarcomponent-contact">
									<header class="emphasis">
										<h3>Contact Info</h3>
									</header>
									<div class="sectioncontent">
										<h4 class="name">Person's Name</h4>
										<h5 class="title">Their Title</h5>
										<a href="tel:800.000.0000" class="tel">800.000.0000</a>
										<a href="mailto:example@dsu.edu" class="mail">example@dsu.edu</a>
									</div>
								</section>
							</aside>
						</div>
						<aside class="sidebar-other">
							<section class="sidebarcomponent sidebarcomponent-relatedlinks">
								<header class="emphasis">
									<h3>Similar Programs</h3>
								</header>
								<div class="sectioncontent">
									<ul class="links">
										<li><a href="#">Computer Game Design</a></li>
										<li><a href="#">DAD Computer Graphics</a></li>
										<li><a href="#">DAD Digital Storytelling</a></li>
										<li><a href="#">DAD Production Animation</a></li>
										<li><a href="#">DAD Web Design and Production</a></li>
									</ul>
								</div>
							</section>
						</aside>
					</div>
				</div>
			</main>

			{snippet:slices_footer}
		</div>
	</div>

	{snippet:slices_scripts}
</body>
</html>
{/exp:stash:parse}
