{exp:stash:parse}
{exp:stash:set name='html-title' type='snippet'}Stephanie Baatz | Faculty and Staff Directory | Slices | DSU{/exp:stash:set}

{snippet:html-tag}
<head>
	{snippet:html-head}
</head>
<body>
	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:slices_header}

			{!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
			<main role="main" id="page-content" class="subpage-content two-column">
				<header id="content-header">
					<div class="content-titlebox">
						<div class="container">
							<h1 class="content-title">Faculty and Staff Directory</h1>
						</div>
					</div>
				</header>
				<nav id="content-breadcrumb">
					<div class="container">
						<ul class="breadcrumbs">
							<li><a href="/slices/home" class="home" aria-label="Home"><i class="fa fa-home"></i></a></li>
							<li><a href="#">Faculty and Staff Directory</a></li>
							<li><span>Stephanie Baatz</span></li>
						</ul>
					</div>
				</nav>
				<div class="sectioncontent">
					<div class="container">
						<nav class="sidebar-nav">
							<section class="sidebarcomponent sidebarcomponent-navigation">
								<div class="sectioncontent">
									<ul class="links">
										<li><a href="#">Apply Now</a></li>
										<li><a href="#">Visit DSU</a></li>
										<li><a href="#">Financial Aid and Tuition</a></li>
										<li><a href="#">Get Free Stuff</a></li>
										<li><a href="#">Request More Info</a></li>
										<li><a href="#">Admissions Requirements</a></li>
										<li><a href="#">Meet Our Admissions Team</a></li>
										<li><a href="#">Admissions FAQs</a></li>
									</ul>
								</div>
							</section>
						</nav>
						<div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
							<div class="content-content"> {!-- I'm running out of good, semantic names. --}
								<div class="facultybio">
									<div class="lead">
										<h2 class="name">Stephanie Baatz</h2>
										<h3 class="title">Director of Help Desk Services</h3>
									</div>
									<div class="split">
										<div class="imagecontainer">
											<img src="http://placekitten.com/164/164" alt="">
										</div>
										<div class="usercontent">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

											<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed utiste natus error sit voluptatem.</p>
										</div>
										<div class="contact">
											<a href="tel:605-256-5191" class="tel">605-256-5191</a>
											<a href="#" class="mail">Email</a>
										</div>
									</div>
									<dl class="info">
										<dt>Department</dt>
										<dd>Information Technology Services</dd>
										<dt>Office Location</dt>
										<dd>Lowry Hall</dd>
										<dt>Website</dt>
										<dd><a href="#" rel="external" target="_blank">theirbloglink.com</a></dd>
									</dl>
								</div>
							</div>
						</div>
						<aside class="sidebar-other">
						</aside>
					</div>
				</div>
			</main>

			{snippet:slices_footer}
		</div>
	</div>

	{snippet:slices_scripts}
</body>
</html>
{/exp:stash:parse}
