{exp:stash:parse}
{exp:stash:set name='html-title' type='snippet'}Faculty and Staff Directory | Slices | DSU{/exp:stash:set}

{snippet:html-tag}
<head>
	{snippet:html-head}
</head>
<body>
	<div class="bodywrapper1">
		<div class="bodywrapper2">
			{snippet:slices_header}

			{!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
			<main role="main" id="page-content" class="subpage-content two-column">
				<header id="content-header">
					<div class="content-titlebox">
						<div class="container">
							<h1 class="content-title">Faculty and Staff Directory</h1>
						</div>
					</div>
				</header>
				<nav id="content-breadcrumb">
					<div class="container">
						<ul class="breadcrumbs">
							<li><a href="/slices/home" class="home" aria-label="Home"><i class="fa fa-home"></i></a></li>
							<li><a href="#">Faculty and Staff Directory</a></li>
							<li><span>Stephanie Baatz</span></li>
						</ul>
					</div>
				</nav>
				<div class="sectioncontent">
					<div class="container">
						<nav class="sidebar-nav">
							<section class="sidebarcomponent sidebarcomponent-navigation">
								<div class="sectioncontent">
									<ul class="links">
										<li><a href="#">Apply Now</a></li>
										<li><a href="#">Visit DSU</a></li>
										<li><a href="#">Financial Aid and Tuition</a></li>
										<li><a href="#">Get Free Stuff</a></li>
										<li><a href="#">Request More Info</a></li>
										<li><a href="#">Admissions Requirements</a></li>
										<li><a href="#">Meet Our Admissions Team</a></li>
										<li><a href="#">Admissions FAQs</a></li>
									</ul>
								</div>
							</section>
						</nav>
						<div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
							<div class="content-content"> {!-- I'm running out of good, semantic names. --}
								<div class="facultydirectory">
									<div id="facultydirectorysearch">
										<div class="searchbox">
											<input type="search" placeholder="Quick Search">
										</div>

										<div class="sortby">
											<span>Sort by:</span>
											<input type="radio" name="sortby" value="name" id="sortby-name" checked> <label for="sortby-name">Name</label>
											<input type="radio" name="sortby" value="department" id="sortby-department"> <label for="sortby-department">Department</label>
										</div>
									</div>

									<h2 id="facultydirectorycategory">Name</h2>

									<div class="accordiongroup">
										<section class="accordionitem">
											<header>
												<h4>B</h4>
											</header>
											<div class="sectioncontent">
												<div class="facultydirectoryitem" data-name="B" data-department="Information Technology Services">
													<h5><a href="#">Baatz, Stephanie</a></h5>
													<img src="http://placekitten.com/102/102" alt="">
													<div class="infos">
														<div class="info1">
															<p><span class="t">Position:</span> <span class="v">Directory of Help Desk Services</span></p>
															<p><span class="t">Department:</span> <span class="v">Information Technology Services</span></p>
															<p><span class="t">Phone:</span> <span class="v">605-256-5191</span></p>
														</div>
														<div class="info2">
															<p><span class="t">Office Location:</span> <span class="v">Lowry Hall</span></p>
															<p><span class="t">Email:</span> <span class="v">stephanie.baatz@dsu.edu</span></p>
															<p><span class="t">Website:</span> <span class="v">theirbloglink.com</span></p>
														</div>
													</div>
												</div>
												<div class="facultydirectoryitem" data-name="B" data-department="Other Department">
													<h5>Bakker, Kristel</h5> {!-- In what situations would a person have their own bio page? --}
													<img src="http://placekitten.com/102/102" alt="">
													<div class="infos">
														<div class="info1">
															<p><span class="t">Position:</span> <span class="v">Directory of Help Desk Services</span></p>
															<p><span class="t">Department:</span> <span class="v">Other Department</span></p>
															<p><span class="t">Phone:</span> <span class="v">605-256-5191</span></p>
														</div>
														<div class="info2">
															<p><span class="t">Office Location:</span> <span class="v">Lowry Hall</span></p>
															<p><span class="t">Email:</span> <span class="v">stephanie.baatz@dsu.edu</span></p>
															<p><span class="t">Website:</span> <span class="v">theirbloglink.com</span></p>
														</div>
													</div>
												</div>
												<div class="facultydirectoryitem" data-name="B" data-department="Third Department">
													<h5>Bingham, Jeff</h5>
													<div class="infos">
														<div class="info1">
															<p><span class="t">Position:</span> <span class="v">Directory of Help Desk Services</span></p>
															<p><span class="t">Department:</span> <span class="v">Third Department</span></p>
															<p><span class="t">Phone:</span> <span class="v">605-256-5191</span></p>
														</div>
														<div class="info2">
															<p><span class="t">Office Location:</span> <span class="v">Lowry Hall</span></p>
															<p><span class="t">Email:</span> <span class="v">stephanie.baatz@dsu.edu</span></p>
															<p><span class="t">Website:</span> <span class="v">theirbloglink.com</span></p>
														</div>
													</div>
												</div>
											</div>
										</section>
										<section class="accordionitem">
											<header>
												<h4>C</h4>
											</header>
											<div class="sectioncontent">
												<div class="facultydirectoryitem" data-name="C" data-department="Information Technology Services">
													<h5><a href="#">Caatz, Stephanie</a></h5>
													<img src="http://placekitten.com/102/102" alt="">
													<div class="infos">
														<div class="info1">
															<p><span class="t">Position:</span> <span class="v">Directory of Help Desk Services</span></p>
															<p><span class="t">Department:</span> <span class="v">Information Technology Services</span></p>
															<p><span class="t">Phone:</span> <span class="v">605-256-5191</span></p>
														</div>
														<div class="info2">
															<p><span class="t">Office Location:</span> <span class="v">Lowry Hall</span></p>
															<p><span class="t">Email:</span> <span class="v">stephanie.baatz@dsu.edu</span></p>
															<p><span class="t">Website:</span> <span class="v">theirbloglink.com</span></p>
														</div>
													</div>
												</div>
												<div class="facultydirectoryitem" data-name="C" data-department="Other Department">
													<h5>Cakker, Kristel</h5> {!-- In what situations would a person have their own bio page? --}
													<img src="http://placekitten.com/102/102" alt="">
													<div class="infos">
														<div class="info1">
															<p><span class="t">Position:</span> <span class="v">Directory of Help Desk Services</span></p>
															<p><span class="t">Department:</span> <span class="v">Other Department</span></p>
															<p><span class="t">Phone:</span> <span class="v">605-256-5191</span></p>
														</div>
														<div class="info2">
															<p><span class="t">Office Location:</span> <span class="v">Lowry Hall</span></p>
															<p><span class="t">Email:</span> <span class="v">stephanie.baatz@dsu.edu</span></p>
															<p><span class="t">Website:</span> <span class="v">theirbloglink.com</span></p>
														</div>
													</div>
												</div>
												<div class="facultydirectoryitem" data-name="C" data-department="Third Department">
													<h5>Cingham, Jeff</h5>
													<div class="infos">
														<div class="info1">
															<p><span class="t">Position:</span> <span class="v">Directory of Help Desk Services</span></p>
															<p><span class="t">Department:</span> <span class="v">Third Department</span></p>
															<p><span class="t">Phone:</span> <span class="v">605-256-5191</span></p>
														</div>
														<div class="info2">
															<p><span class="t">Office Location:</span> <span class="v">Lowry Hall</span></p>
															<p><span class="t">Email:</span> <span class="v">stephanie.baatz@dsu.edu</span></p>
															<p><span class="t">Website:</span> <span class="v">theirbloglink.com</span></p>
														</div>
													</div>
												</div>
											</div>
										</section>
										<section class="accordionitem">
											<header>
												<h4>D</h4>
											</header>
											<div class="sectioncontent">
												<div class="facultydirectoryitem" data-name="D" data-department="Information Technology Services">
													<h5><a href="#">Daatz, Stephanie</a></h5>
													<img src="http://placekitten.com/102/102" alt="">
													<div class="infos">
														<div class="info1">
															<p><span class="t">Position:</span> <span class="v">Directory of Help Desk Services</span></p>
															<p><span class="t">Department:</span> <span class="v">Information Technology Services</span></p>
															<p><span class="t">Phone:</span> <span class="v">605-256-5191</span></p>
														</div>
														<div class="info2">
															<p><span class="t">Office Location:</span> <span class="v">Lowry Hall</span></p>
															<p><span class="t">Email:</span> <span class="v">stephanie.baatz@dsu.edu</span></p>
															<p><span class="t">Website:</span> <span class="v">theirbloglink.com</span></p>
														</div>
													</div>
												</div>
												<div class="facultydirectoryitem" data-name="D" data-department="Other Department">
													<h5>Dakker, Kristel</h5> {!-- In what situations would a person have their own bio page? --}
													<img src="http://placekitten.com/102/102" alt="">
													<div class="infos">
														<div class="info1">
															<p><span class="t">Position:</span> <span class="v">Directory of Help Desk Services</span></p>
															<p><span class="t">Department:</span> <span class="v">Other Department</span></p>
															<p><span class="t">Phone:</span> <span class="v">605-256-5191</span></p>
														</div>
														<div class="info2">
															<p><span class="t">Office Location:</span> <span class="v">Lowry Hall</span></p>
															<p><span class="t">Email:</span> <span class="v">stephanie.baatz@dsu.edu</span></p>
															<p><span class="t">Website:</span> <span class="v">theirbloglink.com</span></p>
														</div>
													</div>
												</div>
												<div class="facultydirectoryitem" data-name="D" data-department="Third Department">
													<h5>Dingham, Jeff</h5>
													<div class="infos">
														<div class="info1">
															<p><span class="t">Position:</span> <span class="v">Directory of Help Desk Services</span></p>
															<p><span class="t">Department:</span> <span class="v">Third Department</span></p>
															<p><span class="t">Phone:</span> <span class="v">605-256-5191</span></p>
														</div>
														<div class="info2">
															<p><span class="t">Office Location:</span> <span class="v">Lowry Hall</span></p>
															<p><span class="t">Email:</span> <span class="v">stephanie.baatz@dsu.edu</span></p>
															<p><span class="t">Website:</span> <span class="v">theirbloglink.com</span></p>
														</div>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
							</div>
						</div>
						<aside class="sidebar-other">
						</aside>
					</div>
				</div>
			</main>

			{snippet:slices_footer}
		</div>
	</div>

	{snippet:slices_scripts}
</body>
</html>
{/exp:stash:parse}
