<footer role="contentinfo" id="page-footer">
	<div class="callouts">
		<div class="container">
			<ul class="internal">
				<li><a href="#">Visit DSU</a></li>
				<li><a href="#">Apply Now</a></li>
			</ul>
			<ul class="social">
				<li><a href="#" class="facebook">Facebook</a></li>
				<li><a href="#" class="twitter">Twitter</a></li>
				<li><a href="#" class="googleplus">Google+</a></li>
				<li><a href="#" class="linkedin">Linked In</a></li>
			</ul>
		</div>
	</div>
	<div class="primary">
		<div class="container">
			<div class="quicklinks">
				<h6>Quick Links</h6>
				<ul>
					<li><a href="#">Admissions Requirements</a></li>
					<li><a href="#">Financial Aid</a></li>
					<li><a href="#">Maps and Directions</a></li>
					<li><a href="#">Give a Gift</a></li>
					<li><a href="#">Job Openings</a></li>
				</ul>
			</div>
			<div class="logos">
				<div class="dsu">
					<img src="/assets/images/logo.svg" onerror="this.onerror=null;this.src='/assets/images/logo.png'" alt="Dakota State University">
				</div>
				<div class="trojans">
					<img src="/assets/images/trojans@2x.png" alt="Trojans">
				</div>
			</div>
			<div class="contact">
				<h6>Dakota State University</h6>
				<ul>
					<li><a href="tel:+1-888-378-9988" class="phone">888.DSU.9988</a></li>
					<li><a href="#" class="email">Contact DSU</a></li>
					<li><span class="location">820 N Washington Ave.<br>Madison, SD 57042</span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="leftovers">
		<div class="container">
			<div class="legal">
				<ul>
					<li><a href="#">Sitemap</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Terms of Use</a></li>
				</ul>
				<p class="copyright">&copy; 2000&ndash;{current_time format="%Y"} Dakota State University.</p>
			</div>
			<div class="clickrain">
				<p>Site by <a href="http://clickrain.com" rel="nofollow">Click Rain</a></p>
			</div>
		</div>
	</div>
</footer>
