<div id="page-top">
	<form id="searchbox" class="searchbox">
		<div class="container">
			<label for="headersearch">Search:</label>
			<input id="headersearch" type="search" name="q">
			<button>Search</button>
		</div>
	</form>
	<header role="banner" id="page-header">
		<div class="container">
			<a class="logolink" href="/">
				<img class="logo" src="/assets/images/logo.svg" onerror="this.onerror=null;this.src='/assets/images/logo.png'" alt="Dakota State University">
			</a>
			<button id="mobilenavigationbutton">Show navigation<span></span><span></span><span></span></button>
			<button id="searchboxbutton">Search</button>
			<nav class="secondary">
				<ul class="callouts">
					<li><a href="#">Visit DSU</a></li>
					<li><a href="#">Apply Now</a></li>
				</ul>
				<ul class="links">
					<li><a href="#">Contact</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Jobs</a></li>
					{!--
					<!--<li><a href="{structure:page_uri_for:7}">{structure:page_title_for:7}</a></li>-->
					<li><a href="{structure:page_uri_for:8}">{structure:page_title_for:8}</a></li>
					<li><a href="{structure:page_uri_for:9}">{structure:page_title_for:9}</a></li>
					--}
				</ul>
			</nav>
		</div>
	</header>
	<nav role="navigation" class="primary" id="page-navigation">
		<div class="container">
			{snippet:slices_primary-navigation}
		</div>
	</nav>
</div>
