  <ul class="navigationroot">
    <li id="nav-sub-about-dsu"><a href="#about">About DSU</a>
      <ul>
        <li><a href="#secondlevel">Why DSU?</a>
        <li><a href="#secondlevel">Virtual Tour</a>
        <li><a href="#secondlevel">Maps and Directions</a>
        <li><a href="#secondlevel">History</a>
        <li><a href="#secondlevel">Accreditation</a>
        <li><a href="#presidentsoffice">President's Office</a>
          <ul>
            <li><a href="#thirdlevel">Support Staff</a>
          </ul>
        </li>
        <li><a href="#secondlevel">Faculty & Staff Directory</a>
          <ul>
            <li><a href="#thirdlevel">David Borofsky</a>
            <li><a href="#thirdlevel">David Overby</a>
            <li><a href="#thirdlevel">(Additional Faculty Members)</a>
          </ul>
        </li>
        <li><a href="#secondlevel">Foundation</a>
          <ul>
            <li><a href="#thirdlevel">Board of Trustees</a>
            <li><a href="#thirdlevel">Foundation Staff</a>
          </ul>
        </li>
        <li><a href="#secondlevel">Consumer Information</a>
      </ul>
    </li>
    <li id="nav-sub-admissions"><a href="#firstlevel">Admissions</a>
      <ul>
        <li><a href="#secondlevel">Apply Now</a>
          <ul>
            <li><a href="#thirdlevel">Undergraduate Application</a>
            <li><a href="#thirdlevel">Non-Degree Application</a>
          </ul>
        </li>
        <li><a href="#secondlevel">Visit DSU</a>
        <li><a href="#secondlevel">Financial Aid & Tuition</a>
          <ul>
            <li><a href="#thirdlevel">Scholarships</a>
            <li><a href="#thirdlevel">Tuition and Fees</a>
          </ul>
        </li>
        <li><a href="#secondlevel">Get Free Stuff</a>
        <li><a href="#secondlevel">Request More Info</a>
        <li><a href="#secondlevel">Admissions Requirements</a>
          <ul>
            <li><a href="#thirdlevel">Baccalaureate Degree Program</a>
            <li><a href="#thirdlevel">Associate Degree Programs</a>
            <li><a href="#thirdlevel">Admission on Probation</a>
            <li><a href="#thirdlevel">Transfer Students</a>
            <li><a href="#thirdlevel">International Students</a>
            <li><a href="#thirdlevel">Veteran Affairs</a>
          </ul>
        </li>
        <li><a href="#secondlevel">Meet Our Admissions Team</a>
        <li><a href="#secondlevel">Admissions FAQs</a>
        <li><a href="#secondlevel">New Student Registration (Hidden)</a>
      </ul>
    </li>
    <li id="nav-sub-academics"><a href="#firstlevel">Academics</a>
      <ul>
        <li><a href="#secondlevel">Degrees and Programs</a>
          <ul>
            <li><a href="#thirdlevel">Bachelor's Degrees</a>
              <ul>
                <li><a href="#fourthlevel">Accounting (BBA)</a>
                <li><a href="#fourthlevel">Biology Education (BSE)</a>
                <li><a href="#fourthlevel">Biology for Information Systems (BS)</a>
                <li><a href="#fourthlevel">Business Education (BSE)</a>
                <li><a href="#fourthlevel">Business Technology (BBA)</a>
                <li><a href="#fourthlevel">Computer Education (BSE)</a>
                <li><a href="#fourthlevel">Computer Game Design (BS)</a>
                <li><a href="#fourthlevel">Computer Science (BS)</a>
                <li><a href="#fourthlevel">Cyber Operations (BS)</a>
                <li><a href="#fourthlevel">Digital Arts and Design: Audio Production (BS)</a>
                <li><a href="#fourthlevel">Digital Arts and Design: Computer Graphics (BS)</a>
                <li><a href="#fourthlevel">Digital Arts and Design: Digital Storytelling (BS)</a>
                <li><a href="#fourthlevel">Digital Arts and Design: Production Animation (BS)</a>
                <li><a href="#fourthlevel">Digital Arts and Design: Web Design and Production (BS)</a>
                <li><a href="#fourthlevel">Elementary Education/Special Education (BSE)</a>
                <li><a href="#fourthlevel">Elementary Education (BSE)</a>
                <li><a href="#fourthlevel">English Education (BSE)</a>
                <li><a href="#fourthlevel">English for New Media (BS)</a>
                <li><a href="#fourthlevel">Exercise Science (BS)</a>
                <li><a href="#fourthlevel">Finance (BBA)</a>
                <li><a href="#fourthlevel">General Studies (BGS)</a>
                <li><a href="#fourthlevel">Health Information Administration (BS)</a>
                <li><a href="#fourthlevel">Information Systems (BS)</a>
                <li><a href="#fourthlevel">Management (BBA)</a>
                <li><a href="#fourthlevel">Marketing (BBA)</a>
                <li><a href="#fourthlevel">Mathematics Education (BSE)</a>
                <li><a href="#fourthlevel">Mathematics for Information Systems (BS)</a>
                <li><a href="#fourthlevel">Network and Security Administration (BS)</a>
                <li><a href="#fourthlevel">Physical Education (BSE)</a>
                <li><a href="#fourthlevel">Physical Science (BS)</a>
                <li><a href="#fourthlevel">Professional Accountancy (BS)</a>
                <li><a href="#fourthlevel">Professional and Technical Communications (BS)</a>
                <li><a href="#fourthlevel">Respiratory Care (BS)</a>
              </ul>
            </li>
            <li><a href="#thirdlevel">Associate's Degrees</a>
              <ul>
                <li><a href="#fourthlevel">Business Management (AS)</a>
                <li><a href="#fourthlevel">General Studies (AA)</a>
                <li><a href="#fourthlevel">Health Information Technology (AS)</a>
                <li><a href="#fourthlevel">Network and System Administration (AS)</a>
                <li><a href="#fourthlevel">Respiratory Care (AS)</a>
              </ul>
            </li>
            <li><a href="#thirdlevel">Certificates</a>
              <ul>
                <li><a href="#fourthlevel">English for New Media Certificate</a>
                <li><a href="#fourthlevel">Health Care Coding Certificate</a>
                <li><a href="#fourthlevel">High-Performance Computing Certificate</a>
                <li><a href="#fourthlevel">IS Management Digital Photography Certificate</a>
                <li><a href="#fourthlevel">IS Management Information Technology Management Certificate</a>
                <li><a href="#fourthlevel">IS Management Multimedia Certificate</a>
                <li><a href="#fourthlevel">IS Management Multimedia Design and Production Certificate</a>
                <li><a href="#fourthlevel">IS Management Network and Telecommunications Administration Certificate</a>
                <li><a href="#fourthlevel">IS Management Object Oriented Programming Certificate</a>
                <li><a href="#fourthlevel">IS Management Technology Database Management Systems Certificate</a>
                <li><a href="#fourthlevel">IS Management Web Application Development Certificate</a>
                <li><a href="#fourthlevel">IS Management Website Administration Certificate</a>
                <li><a href="#fourthlevel">IS Management Website Design and Development Certificate</a>
                <li><a href="#fourthlevel">Information Technology Entrepreneurship Certificate</a>
                <li><a href="#fourthlevel">Online Secondary Education Certificate</a>
                <li><a href="#fourthlevel">Professional and Technical Communication Certificate</a>
                <li><a href="#fourthlevel">Teacher Education - Certification Only Program</a>
              </ul>
            </li>
            <li><a href="#thirdlevel">Minors</a>
              <ul>
                <li><a href="#fourthlevel">Minors</a>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#secondlevel">Distance & Online Education & Other text that will make this item wrap</a>
          <ul>
            <li><a href="#thirdlevel">Online Programs</a>
            <li><a href="#thirdlevel">Tuition and Payment</a>
            <li><a href="#thirdlevel">Fast Track Courses</a>
            <li><a href="#thirdlevel">University Center Programs</a>
            <li><a href="#thirdlevel">Distance Education Faculty and Staff</a>
          </ul>
        </li>
        <li><a href="#secondlevel">Academic Opportunities</a>
          <ul>
            <li><a href="#thirdlevel">Advanced Informatics Research Lab (AIRL)</a>
            <li><a href="#thirdlevel">Center for Theoretical Underground Physics and Related Areas (CETUP)</a>
            <li><a href="#thirdlevel">Center for the Protection of the Financial Infrastructure (CPFI)</a>
            <li><a href="#thirdlevel">Center for Security Technology (CST)</a>
            <li><a href="#thirdlevel">Information Assurance (IA) Programs</a>
            <li><a href="#thirdlevel">Faculty Research Initiative</a>
            <li><a href="#thirdlevel">Research Experiences for Undergraduates (REU)</a>
          </ul>
        </li>
        <li><a href="#secondlevel">Tablet Program</a>
        <li><a href="#secondlevel">Library</a>
        <li><a href="#secondlevel">Bookstore</a>
        <li><a href="#secondlevel">ADA Accommodations</a>
      </ul>
    </li>
    <li id="nav-sub-grad-students"><a href="#firstlevel">Grad Students</a>
      <ul>
        <li><a href="#secondlevel">Grad Admissions</a>
          <ul>
            <li><a href="#thirdlevel">Graduate Application</a>
            <li><a href="#thirdlevel">Tuition and Fees</a>
            <li><a href="#thirdlevel">Graduate Assistanceships</a>
            <li><a href="#thirdlevel">International Admissions</a>
            <li><a href="#thirdlevel">Request More Information</a>
          </ul>
        </li>
        <li><a href="#secondlevel">Doctor of Science in Information Systems</a>
          <ul>
            <li><a href="#thirdlevel">Course Summary</a>
            <li><a href="#thirdlevel">Faculty</a>
            <li><a href="#thirdlevel">Timelines and Guidelines</a>
            <li><a href="#thirdlevel">(Additional as needed)</a>
          </ul>
        </li>
        <li><a href="#secondlevel">MBA</a>
          <ul>
            <li><a href="#thirdlevel">Course Summary</a>
            <li><a href="#thirdlevel">Faculty</a>
            <li><a href="#thirdlevel">Timelines and Guidelines</a>
            <li><a href="#thirdlevel">(Additional as needed)</a>
          </ul>
        </li>
        <li><a href="#secondlevel">MSA</a>
          <ul>
            <li><a href="#thirdlevel">Course Summary</a>
            <li><a href="#thirdlevel">Faculty</a>
            <li><a href="#thirdlevel">Timelines and Guidelines</a>
            <li><a href="#thirdlevel">(Additional as needed)</a>
          </ul>
        </li>
        <li><a href="#secondlevel">MSACS</a>
          <ul>
            <li><a href="#thirdlevel">Course Summary</a>
            <li><a href="#thirdlevel">Faculty</a>
            <li><a href="#thirdlevel">Timelines and Guidelines</a>
            <li><a href="#thirdlevel">(Additional as needed)</a>
          </ul>
        </li>
        <li><a href="#secondlevel">MSET</a>
          <ul>
            <li><a href="#thirdlevel">Course Summary</a>
            <li><a href="#thirdlevel">Faculty</a>
            <li><a href="#thirdlevel">Timelines and Guidelines</a>
            <li><a href="#thirdlevel">(Additional as needed)</a>
          </ul>
        </li>
        <li><a href="#secondlevel">MSHI</a>
          <ul>
            <li><a href="#thirdlevel">Course Summary</a>
            <li><a href="#thirdlevel">Faculty</a>
            <li><a href="#thirdlevel">Timelines and Guidelines</a>
            <li><a href="#thirdlevel">(Additional as needed)</a>
          </ul>
        </li>
        <li><a href="#secondlevel">MSIA</a>
          <ul>
            <li><a href="#thirdlevel">Course Summary</a>
            <li><a href="#thirdlevel">Faculty</a>
            <li><a href="#thirdlevel">Timelines and Guidelines</a>
            <li><a href="#thirdlevel">(Additional as needed)</a>
          </ul>
        </li>
        <li><a href="#secondlevel">MSIS</a>
          <ul>
            <li><a href="#thirdlevel">Course Summary</a>
            <li><a href="#thirdlevel">Faculty</a>
            <li><a href="#thirdlevel">Timelines and Guidelines</a>
            <li><a href="#thirdlevel">(Additional as needed)</a>
          </ul>
        </li>
        <li><a href="#secondlevel">Business Analytics Certificate</a>
        <li><a href="#secondlevel">Ethical Hacking Certificate</a>
      </ul>
    </li>
    <li id="nav-sub-student-life"><a href="#firstlevel">Student Life</a>
      <ul>
        <li><a href="#secondlevel">Residence Life</a>
          <ul>
            <li><a href="#thirdlevel">Residence Halls</a>
            <li><a href="#thirdlevel">FYRE (First-Year Residence Experience)</a>
            <li><a href="#thirdlevel">What to Bring</a>
            <li><a href="#thirdlevel">Housing FAQs</a>
          </ul>
        </li>
        <li><a href="#secondlevel">Clubs and Organizations</a>
          <ul>
            <li><a href="#thirdlevel">Art Club</a>
            <li><a href="#thirdlevel">Cheer Dance Team</a>
            <li><a href="#thirdlevel">Colleges Against Cancer</a>
            <li><a href="#thirdlevel">Computer Club</a>
            <li><a href="#thirdlevel">Delta Mu Delta</a>
            <li><a href="#thirdlevel">DSU2</a>
            <li><a href="#thirdlevel">Gaming Club</a>
            <li><a href="#thirdlevel">English Club</a>
            <li><a href="#thirdlevel">International Club</a>
            <li><a href="#thirdlevel">Intervarsity Christian Fellowship</a>
            <li><a href="#thirdlevel">Intramurals</a>
            <li><a href="#thirdlevel">Kappa Sigma Iota</a>
            <li><a href="#thirdlevel">KDSU</a>
            <li><a href="#thirdlevel">Martial Arts Club</a>
            <li><a href="#thirdlevel">PBL</a>
            <li><a href="#thirdlevel">PE</a>
            <li><a href="#thirdlevel">Respiratory Care Club</a>
            <li><a href="#thirdlevel">SAB</a>
            <li><a href="#thirdlevel">SDEA</a>
            <li><a href="#thirdlevel">SIFE</a>
            <li><a href="#thirdlevel">Student Association Senate</a>
            <li><a href="#thirdlevel">WIST</a>
          </ul>
        </li>
        <li><a href="#secondlevel">Dining Services</a>
        <li><a href="#secondlevel">Student Health</a>
        <li><a href="#secondlevel">Study Abroad Opportunities</a>
          <ul>
            <li><a href="#thirdlevel">Tamagawa Program</a>
            <li><a href="#thirdlevel">Exchange Programs</a>
          </ul>
        </li>
        <li><a href="#secondlevel">Campus Security</a>
        <li><a href="#secondlevel">Diversity</a>
        <li><a href="#secondlevel">Disability Services</a>
        <li><a href="#secondlevel">Student Success Center</a>
        <li><a href="#secondlevel">Student Handbook</a>
      </ul>
    </li>
    <li id="nav-sub-alumni-and-friends"><a href="#firstlevel">Alumni and Friends</a>
      <ul>
        <li><a href="#secondlevel">Give a Gift</a>
        <li><a href="#secondlevel">Update Your Information</a>
        <li><a href="#secondlevel">DSU License Plates</a>
        <li><a href="#secondlevel">Alumni Magazine</a>
        <li><a href="#secondlevel">Alumni Testimonials</a>
          <ul>
            <li><a href="#thirdlevel">Rebecca Bessman '07</a>
            <li><a href="#thirdlevel">[Other testimonials as needed]</a>
          </ul>
        </li>
        <li><a href="#secondlevel">Official Transcripts</a>
        <li><a href="#secondlevel">Alumni Board</a>
        <li><a href="#secondlevel">Career Services</a>
      </ul>
    </li>
    <li id="nav-sub-athletics"><a href="http://www.dsuathletics.com/" rel="external" target="_blank">Athletics</a>
      <div class="nav-athletics-callout">
        <p>Lorem ipsum dolor sit amet, consectetur adipis icing elit, sed do eiusmod tempor incidi dunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
        <a href="http://www.dsuathletics.com/" rel="external" target="_blank">Trojan Athletics</a>
      </div>
    </li>
  </ul>
