<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/libs/jquery/jquery-1.11.1.min.js"><\/script>')</script>
<script src="/assets/libs/jquery-validation-1.13.0/jquery.validate.min.js"></script>
{!--<script src="/assets/libs/jquery-scrollTo-1.4.6/jquery.scrollTo.min.js"></script>--}
{!--<script src="/assets/libs/owl-carousel/owl.carousel.min.js"></script>--}
{!--<script src="/assets/libs/jquery-validation-1.11.1/dist/jquery.validate.min.js"></script>--}
{!--<script src="/assets/libs/jquery.placeholder.js"></script>--}
{!--<script src="/assets/libs/doubletaptogo/doubletaptogo.js"></script>--}
{!--<script src="/assets/libs/jquery-cookie/jquery.cookie.js"></script>--}
<script src="/assets/libs/accessible-mega-menu-bd20b1f7-custom/jquery-accessibleMegaMenu.js"></script>
<script src="{exp:buster src='/assets/js/script.js'}"></script>

{!--
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-50000615-1', 'journeyconstruction.com');
ga('send', 'pageview');
</script>
--}
