{!-- Copied from WinnaVegas which was, if I remember correctly, copied from
     Morningside. The actual code that I used on WinnaVegas is listed below
     the example. --}

        <div id="mini_calendar">
                <table>
                    <thead>
                        <tr>
                            <th colspan="1" class="prev_month">
                                <a id="mc_prev_month" class="icon left" href="/events/date/2014/07/">«</a>
                            </th>
                            <th colspan="5">
                                <a href="/events/date/2014/08/">
                                    August 2014
                                </a>
                            </th>
                            <th colspan="1" class="next_month">
                                <a id="mc_next_month" class="icon right" href="/events/date/2014/09/">
                                    »
                                </a>
                            </th>
                        </tr>
                        <tr id="mc_days">

                            <th class="weekend ">
                                S
                            </th>

                            <th class=" ">
                                M
                            </th>

                            <th class=" ">
                                T
                            </th>

                            <th class=" ">
                                W
                            </th>

                            <th class=" ">
                                T
                            </th>

                            <th class=" current">
                                F
                            </th>

                            <th class="weekend ">
                                S
                            </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td cellpadding="0" cellspacing="0" class="
                            mc_pad                                                                                                                weekend                                                    "><div class="mc_date				outside_month">
                        	27
                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                            mc_pad                            has_events                                                                                                                weekday                        "><div class="mc_date				outside_month">
                        	28
                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                            mc_pad                            has_events                                                                                                                weekday                        "><div class="mc_date				outside_month">
                        	29
                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                            mc_pad                            has_events                                                                                                                weekday                        "><div class="mc_date				outside_month">
                        	30
                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                            mc_pad                            has_events                                                                                                                weekday                        "><div class="mc_date				outside_month">
                        	31
                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                        today                                                        weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/01/">              			1
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                    weekend                                                    "><div class="mc_date

									">
				<a href="/events/date/2014/08/02/">              			2
                        </a>                        </div></td>

                    </tr>
<tr>
                        <td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                    weekend                                                    "><div class="mc_date

									">
				<a href="/events/date/2014/08/03/">              			3
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        weekday                        "><div class="mc_date

									">
				              			4
                                                </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/05/">              			5
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/06/">              			6
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/07/">              			7
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/08/">              			8
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                    weekend                                                    "><div class="mc_date

									">
				<a href="/events/date/2014/08/09/">              			9
                        </a>                        </div></td>

                    </tr>
<tr>
                        <td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                    weekend                                                    "><div class="mc_date

									">
				<a href="/events/date/2014/08/10/">              			10
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/11/">              			11
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/12/">              			12
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/13/">              			13
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/14/">              			14
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/15/">              			15
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                    weekend                                                    "><div class="mc_date

									">
				<a href="/events/date/2014/08/16/">              			16
                        </a>                        </div></td>

                    </tr>
<tr>
                        <td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                    weekend                                                    "><div class="mc_date

									">
				<a href="/events/date/2014/08/17/">              			17
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/18/">              			18
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/19/">              			19
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/20/">              			20
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/21/">              			21
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/22/">              			22
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                    weekend                                                    "><div class="mc_date

									">
				<a href="/events/date/2014/08/23/">              			23
                        </a>                        </div></td>

                    </tr>
<tr>
                        <td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                    weekend                                                    "><div class="mc_date

									">
				<a href="/events/date/2014/08/24/">              			24
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/25/">              			25
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/26/">              			26
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/27/">              			27
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/28/">              			28
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                                                weekday                        "><div class="mc_date

									">
				<a href="/events/date/2014/08/29/">              			29
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                    weekend                                                    "><div class="mc_date

									">
				<a href="/events/date/2014/08/30/">              			30
                        </a>                        </div></td>

                    </tr>
<tr>
                        <td cellpadding="0" cellspacing="0" class="
                                                        has_events                                                                                    weekend                                                    "><div class="mc_date

									">
				<a href="/events/date/2014/08/31/">              			31
                        </a>                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                            mc_pad                            has_events                                                                                                                weekday                        "><div class="mc_date				outside_month">
                        	1
                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                            mc_pad                            has_events                                                                                                                weekday                        "><div class="mc_date				outside_month">
                        	2
                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                            mc_pad                            has_events                                                                                                                weekday                        "><div class="mc_date				outside_month">
                        	3
                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                            mc_pad                            has_events                                                                                                                weekday                        "><div class="mc_date				outside_month">
                        	4
                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                            mc_pad                            has_events                                                                                                                weekday                        "><div class="mc_date				outside_month">
                        	5
                        </div></td>
<td cellpadding="0" cellspacing="0" class="
                            mc_pad                            has_events                                                                                    weekend                                                    "><div class="mc_date				outside_month">
                        	6
                        </div></td>

                    </tr>

                </tbody>
            </table>

            </div>

{!--
	From the WinnaVegas site:



        {exp:calendar:cal
            {if segment_2 != 'date'}
                date_range_start="year-month-01"
                date_range_end="year-month-last"
            {/if}
            {if segment_2 == 'date'}
                date_range_start="{segment_3}-{segment_4}-01"
                date_range_end="{segment_3}-{segment_4}-last"
            {/if}

            cache='yes' refresh='30'
        }
            <div id="mini_calendar">
                {display_each_month}
                <table>
                    <thead>
                        <tr>
                            <th colspan="1" class="prev_month">
                                <a
                                    id="mc_prev_month"
                                    class="icon left"
                                    href="/{segment_1}/date/{prev_month format="%Y/%m"}/">&laquo;</a>
                            </th>
                            <th colspan="5">
                                <a href="/{segment_1}/date/{month format="%Y/%m"}/">
                                    {date format="%F %Y"}
                                </a>
                            </th>
                            <th colspan="1" class="next_month">
                                <a
                                    id="mc_next_month"
                                    class="icon right"
                                    href="/{segment_1}/date/{next_month format="%Y/%m"}/">
                                    &raquo;
                                </a>
                            </th>
                        </tr>
                        <tr id="mc_days">
                        {display_each_day_of_week}
                            <th class="{if day_of_week_is_weekend}weekend{/if} {if day_of_week_is_current}current{/if}">
                                {day_of_week_one}
                            </th>
                        {/display_each_day_of_week}
                    </tr>
                </thead>
                <tbody>
                    {display_each_week}
                    <tr>
                        {display_each_day}
                        <td cellpadding="0" cellspacing="0" class="
                            {if day_in_current_month == FALSE}mc_pad{/if}
                            {if day_event_total > 0}has_events{/if}
                            {if count == 7}selected{/if}
                            {if day_is_today}today{/if}
                            {if day_is_weekend}weekend{/if}
                            {if day_is_weekday}weekday{/if}
                        "><div class="mc_date{if day_in_current_month}

                       			{events}
						{if '{last_segment}' == '{event_url_title}'} active{/if}
                     			{/events}
					{if '{last_segment}' == '{day}'} active{/if}
				">
				{if day_event_total}<a href="/{segment_1}/date/{date format="%Y/%m/%d"}/">{/if}
              			{day}
                        {if day_event_total}</a>{/if}
                        {if:else}
				outside_month">
                        	{day}
                        {/if}</div></td>
                        {/display_each_day}
                    </tr>
                    {/display_each_week}
                </tbody>
            </table>
            {/display_each_month}
            </div>
        {/exp:calendar:cal}

--}
