#content-header {
	position: relative;
	background: #7e7e7e url(/assets/images/diagonals/5/6a6a6a.png) repeat;

	@if $old-ie {
		overflow: hidden;
	}

	@include mq(medium) {
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 6/16*1em;
			background: rgba(black, 0.25);
			z-index: 1;
		}
	}
}
.content-largeimage {
	display: block;
	width: 100%;

	@include mq(medium) {
		width: auto;
		position: relative;
		left: 50%;
		margin-left: (-1050/2)/16*1em;
	}

	@media screen and (min-width: 65.64em) {
		margin-left: (-1920/2)/16*1em;
	}

	@if $old-ie {
		// On IE8, we have a conditional comment that always uses the 1920x572
		// image, so if this is IE8, always move it over appropriate to that
		// image.
		margin-left: (-1920/2)/16*1em;
	}
}

.content-titlebox {
	@include mq(small, only) {
		background: #6488a0;
	}

	.container {
		padding-top: 16/16*1em;
		padding-bottom: 16/16*1em;

		/* Clearfix */
		&:before,
		&:after {
			content: ".";
			display: block;
			height: 0;
			overflow: hidden;
		}
		&:after { clear: both; }
		& { zoom: 1; } /* IE < 8 */
	}

	.content-title {
		margin: 0;
		position: relative;
		float: left;

		color: white;
		@include font-size(21);
		font-weight: $semibold;

		width: calc(100% - 1.57em); /* 33/21*1em */

		@include mq(medium) {
			@include font-size(43);
			width: auto;
		}
	}

	.mobile-section-navigation-button {
		float: right;
		@include font-size(16);
		width: 23/16*1em;
		height: 23/ 16*1em;
		position: relative;
		background: none;
		border: none;

		span {
			position: absolute;
			display: block;
			background: white;
			top: 3/16*1em;
			left: 0;
			width: 100%;
			height: 3/16*1em;;
		}

		span + span {
			top: 10/16*1em;
		}

		span + span + span {
			top: 17/16*1em;
		}

		&:focus,
		&:hover {
			span {
				background: #b8c128;
			}
		}

		@include mq(medium) {
			display: none;
		}
	}

}

@include mq(medium) {
	picture + .content-titlebox {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: black;
		background: rgba(black, 0.4);
	}
}

#content-breadcrumb {
	display: none;
	padding-top: 10/16*1em;

	@include mq(medium) {
		display: block;
	}
}

.content-grouped {
	padding-top: 1em;
	@include mq(medium) {
		padding-top: 0;
	}
}

.content-content {
	margin-bottom: 40/16*1em;
}

/* Layout */
#page-content {
	& > .sectioncontent {
		.sidebar-nav {
			// Extend the sidebar-nav to the edges on mobile.
			margin-left: -1em;
			margin-right: -1em;

			@include mq(medium) {
				margin-left: 0;
				margin-right: 0;
			}
		}

		@include mq(medium) {
			padding-top: 50/16*1em;
		}

		/* Assume two column */
		@include mq(medium) {
			& > .container {
				overflow: hidden; /* clearfix */
			}

			.content-grouped {
				width: percentage(780/1050);
				float: right;

				.sidebar-related {
					background: red; /* This shouldn't exist in two-column. */
				}
			}

			.sidebar-nav,
			.sidebar-other {
				width: percentage(240/1050);
				float: left;
			}
		}
	}
}

#page-content {
	& > .sectioncontent {
		@include mq(medium) {
			.content-grouped {
				overflow: hidden; /* Clearfix */
				margin-bottom: 75/16*1em;
			}
		}
	}
}

#page-content.one-column {
	& > .sectioncontent {
		@include mq(medium) {
			.content-grouped {
				width: 100%;
				float: none;
			}
		}
	}
}

#page-content.three-column {
	& > .sectioncontent {
		@include mq(medium) {
			.content-grouped {
				.content-content {
					width: percentage(510/780);
					float: left;
				}

				.sidebar-related {
					background: none;
					width: percentage(240/780);
					float: right;
				}
			}
		}
	}
}

.content-featuredimage {
	margin-bottom: 25/16*1em;
	padding: 11/16*1em;
	background: url(/assets/images/diagonals/7/d1d1d1.png) repeat;

	img {
		display: block;
		width: 100%;
	}

	.caption {
		display: none;
	}

	&.scripted {
		position: relative;

		button {
			@include font-size(16);
			position: absolute;

			border: none;
			background: #2a2823;
			background: rgba(0, 0, 0, 0.54);

			bottom: 0;
			right: 0;

			width: 43/16*1em;
			height: 39/16*1em;

			&:after {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

				padding-top: 11/20*1em;

				color: white;
				font-family: FontAwesome;
				@include font-size(20);
			}

			&:hover,
			&:focus {
				outline: none;

				&:after {
					color: #b8c128;
				}
			}
		}

		.caption {
			display: none;
			position: absolute;
			right: 11/16*1em;
			left: 11/16*1em;
			bottom: 11/16*1em;

			padding-top: 12/16*1em;
			padding-bottom: 12/16*1em;
			padding-left: 16/16*1em;
			padding-right: 50/16*1em; /* Space for button */

			background: #605a4f;
			background: rgba(0, 0, 0, 0.54);

			color: white;
			@include font-size(16);
			line-height: 23/16*1em;

			.hide {
				&:after {
					content: $fa-var-times;
				}
			}
		}

		.show {
			bottom: 11/16*1em;
			right: 11/16*1em;

			&:after {
				content: $fa-var-align-left;
			}
		}

		&.visible {
			.caption {
				display: block;
			}
			.show {
				display: none;
			}
		}
	}
}
