.pincontent {
	display: none;
}

.contains-campusmap {
	position: relative;
}

.campusmap-pusher {
	@include mq(medium) {
		padding-bottom: percentage(661/1050);
		margin-bottom: 43/16*1em;
	}
}

.campusmap-fullbleed-container {
	padding-top: 1em;

	@include mq(medium) {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		padding-top: 0;
		padding-left: 1em;
		padding-right: 1em;
	}
}

.campusmap-container {
	position: relative;
	padding-bottom: percentage(661/1050);
	margin-bottom: 43/16*1em;
}

#campusmap-canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.pincontent {
		display: block;
		max-width: 414/16*1em;
		overflow: hidden; /* Clearfix */
		@extend %proxima-nova;
		@include font-size(16);

		img {
			max-width: 100%;
			float: left;
			width: percentage(189/414);
			display: block;
		}

		img + .content {
			@include mq(medium) {
				width: percentage(212/414);
				float: right;
			}
		}

		h1, h2, h3, h4, h5, h6 {
			color: #002270;
			@include font-size(18);
			font-weight: $semibold;
			margin: 0 0 (5/18*1em);
		}

		p {
			@include font-size(13);
			line-height: 18/13*1em;
		}

		p.links {
			border-top: 1px solid #d4d4d4;
			text-align: right;
			padding-top: 5/13*1em;

			a {
				color: #00adee;
				text-decoration: none;
				text-transform: uppercase;

				&:after {
					content: $fa-var-chevron-right;
					margin-left: 5/9*1em;

					color: #4c4c4c;
					font-family: FontAwesome;
					@include font-size(9);

				}

				&:hover,
				&:focus {
					color: #b8c128;
				}
			}
			a + a {
				margin-left: 6/13*1em;
			}
		}

		img, p {
			display: none;
			@include mq(medium) {
				display: block;
			}
		}
	}
}

.campusmap .points {
	margin: (34/16*1em) 0 (50/16*1em);
	@include mq(medium) {
		column-count: 2;
		column-gap: 26/16*1em;
	}

	&.hidden {
		display: none;
	}
}

.campusmap .point {
	padding: (8/20*1em) (10/20*1em);
	padding-right: 40/20*1em;
	margin-bottom: 12/20*1em;

	background: #6488a0;
	background: #6488a0 url(/assets/images/mapmarker-small.png) no-repeat calc(100% - 9px) 9px;
	border-radius: 5/20*1em;

	// Both Chrome and IE will sometimes put a column break within the point.
	// Using overflow:hidden seems to prevent that.
	overflow: hidden;

	color: white;
	@include font-size(20);

	&.clickable {
		cursor: pointer;
	}

	.num {
		display: inline-block;
		width: 30/17*1em;
		height: 30/17*1em;
		padding-top: 5px;

		background: #002270;
		border-radius: 100%;

		color: #f0e400;
		@include font-size(17);
		font-weight: $semibold;
		text-align: center;
	}

	&.active {
		.num {
			color: black;
			background: #f0e400;
		}
	}

	&.hidden {
		display: none;
	}

	// If this is the only point, screw it. Chrome has a bug.
	&:first-child:last-child {
		display: none;
	}
}
