%event-title-sm {
	margin: 0;
	padding-bottom: 4/37*1em;
	padding-left: 82px;
	padding-left: 82/16*1rem;
	min-height: 82px;
	min-height: 82/16*1rem;

	color: #bcc438;
	@include font-size(27);
	line-height: 28/27*1em;
	font-weight: $semibold;
}
%event-title-md {
	@include font-size(37);
	line-height: 39/37*1em;
}

%event-subhead {
	width: 67/16*1em;
	padding: (6/16*1em) 0 (8/16*1em);
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 0;

	display: block;
	background: #b8c128;

	@include font-size(16);

	border-radius: 4px;

	text-align: center;

	.month {
		display: block;

		color: #fff200;
		@include font-size(22);
		font-weight: $semibold;
		line-height: 29/22*1em;
		text-transform: uppercase;
	}

	.day {
		display: block;

		color: white;
		@include font-size(35);
		font-weight: $semibold;
		line-height: 35/35*1em;
	}
}

.event-usercontent {
	position: relative;

	.event-title {
		@extend %event-title-sm;

		@include mq(medium) {
			@include font-size(37);
			line-height: 39/37*1em;
		}
	}

	.event-subhead {
		@extend %event-subhead;
		background: #7d7d7d;
	}
}

.eventlist-item {
	overflow: hidden; /* Clearfix */
	margin-bottom: 39/16*1em;
	color: #303030;

	header {
		position: relative;

		.title {
			@extend %event-title-sm;

			@include mq(medium) {
				@include font-size(37);
				line-height: 39/37*1em;
			}
		}

		.subhead {
			@extend %event-subhead;
		}

		a {
			text-decoration: none;

			&:hover,
			&:focus {
				.title {
					color: #ffb200;
				}
				.subhead {
					background: #4b4b4b;
				}
			}
		}
	}

	.sectioncontent {
		@include font-size(20);
		line-height: 29/20*1em;

		p {
			margin: 0;
		}

		a {
			display: block;
			margin-top: 13/20*1em;

			&:after {
				content: $fa-var-chevron-right;
				margin-left: 4/15*1em;

				color: #b8c128;
				font-family: FontAwesome;
				@include font-size(15);
			}
		}
	}

	a {
		color: #4da6cd;
		text-decoration: none;

		&:focus,
		&:hover {
			color: #ffb200;
		}
	}

	.tagline {
		@extend %tagline;
		clear: right;
	}
}

.event-tagline {
	@extend %tagline;
}
