.facultydirectory {
	#facultydirectorysearch {
		overflow: hidden; /* clearfix */
		margin-bottom: 30/16*1em;

		.searchbox {
			@extend %searchfield;

			input {
				@extend %proxima-nova;
			}
		}
		.sortby {
			padding-top: 7/20*1em;

			color: #555555;
			@include font-size(20);
		}

		@include mq(medium) {
			.searchbox {
				width: percentage(400/780);
				float: left;
			}
			.sortby {
				width: percentage(380/780);
				min-width: 315/20*1em; /* Don't want the text to wrap. */
				float: left;
				padding-left: 20/20*1em;
			}
		}

		html.no-js & {
			display: none;
		}
	}

	#facultydirectorycategory {
		margin-top: 0;
		margin-bottom: 10/46*1em;

		color: #b8c128;
		@include font-size(46);
		font-weight: $semibold;
	}
}

// A faculty member on the faculty directory
.facultydirectoryitem {
	//padding-bottom: 25/16*1em;
	border-bottom: 1px solid #dedede;
	margin-bottom: 25/16*1em;
	overflow: hidden; /* Clearfix */
	border: 1px solid #dedede;

	color: #303030;

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		margin-bottom: 10/24*1em;

		@include font-size(24);
		font-weight: $semibold;

		a {
			color: #b8c128;
			text-decoration: none;
		}
	}

	img {
		display: block;
		border: (7/16*1em) solid #f4f0d6;
		margin: 0 auto (10/16*1em);
		width: 100%;
	}

	.info1, .info2 {
		p {
			margin: 0;
			margin-bottom: 5/16*1em;
		}

		.t {
			font-weight: bold;
		}
	}

	.info2 {
		p {
			display: inline-block;
			margin-right: 10px;

			&:first-of-type {
				display: block;
			}
			i {
				margin-right: 2px;
				text-align: center;
			}





			@media (max-width: 768px) {
				display: block;
			}
		}

	}

	@include mq(content-small-expanded) {
		h1, h2, h3, h4, h5, h6 {
			float: right;
			width: percentage(644/780);
			width: calc(100% - 116px - 1.25rem); // 20/16*1rem;

		}
		@media (min-width: 481px) {
			h5 {
				width: 100%;
			}
		}

		img {
			float: left;
			//width: percentage(116/780);
			//width: calc(116px);
			max-width: 100%;
		}

		.infos {
			float: right;
			//width: percentage(644/780);
			width: calc(100%); // 20/16*1rem;
			overflow: hidden;
		}

		.info1, .info2 {
			width: 100%;
			float: left;
			//padding-right: 1em;


		}
	}

	.facultydirectory-top {
		background: #f1f1f1;
    padding: 15px 15px;
    float: left;
    border-bottom: 1px solid #dedede;
    width: 100%;

		.directory-image {
			width: 85px;
    	margin-right: 15px;
    	float: left;

			img {
				border: none;
			}

			@media (min-width: 769px) {
				width: 165px;
			}
		}

		.info1 {
			display: block;
			float: left;
			width: calc(100% - 110px);
			text-align: left;
			font-size: 16px;

			.v {
				display: block;
			}

			@media (min-width: 769px) {
				width: calc(100% - 180px);
				font-size: 20px;
				.v {
					display: inline-block;
				}
			}
		}

	}

	.infos {
		padding: 10px 15px 5px;
		clear: left;

		a {
			color: #2369b1;
			text-decoration: none;
		}

		i {
			background: #b8c128;
			//padding: 5px;
			color: #fff;
			width: 20px;
			height: 20px;
			text-align: center;
			font-size: 14px;
			line-height: 20px;
			margin-right: 5px;
		}


	}
	.learn-more {
		@media (min-width: 769px) {
			display: none;
		}
		width: 100%;
		border-top: 1px solid #dedede;
		padding: 12px 10px;
		text-align: center;
		clear: both;

		a {
			color: #2369b1;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: $semibold;

			i {
				color: #614d4d;
				font-weight: bold;
				margin-left: 10px;
				font-size: 20px;
			}
		}

	}

	.info2 {
		.website {
			@media (max-width: 768px) {
				display: none;
			}
		}
	}
}

// A faculty member as shown on pages that aren't the employee directory page.
.facultymember {
	//background: #fdf9df;
	//padding: 16/16*1em;
	overflow: hidden; /* Clearfix */
	margin-bottom: 21/16*1em;
	border: 1px solid #dedede;

	.facultydirectory-top {
		background: #f1f1f1;
    padding: 15px 15px;
    float: left;
    border-bottom: 1px solid #dedede;
    width: 100%;
		font-size: 20px;

		@media (max-width: 768px) {
			font-size: 16px;
		}

		h5 {
			margin-top: 0;
			margin-bottom: 10px;
			a {
				color: #b8c128;
				text-decoration: none;
				font-size: 33px;
				font-weight: $semibold;
			}

		}

		p {
			margin: 10px 0;
		}

		.t {
			font-weight: $semibold;
		}

		.mobile-faculty {
			display:  none;

			@media (max-width: 767px) {
				display: block;
				width: 85px;
				margin-right: 15px;
	    	float: left;
			}
		}

		.imagecontainer {
			@media (max-width: 767px) {
				display: none;
			}
		}

		.directory-image {
			width: 85px;
    	margin-right: 15px;
    	float: left;



			img {
				border: none;
			}

			@media (min-width: 768px) {
				width: 165px;
			}
		}

		.info1 {
			display: block;
			float: left;
			width: calc(100% - 110px);
			text-align: left;

			@media (max-width: 768px) {
				width: 100%;
			}

			.v {
				display: block;
			}

			@media (min-width: 768px) {
				width: calc(100% - 180px);

				.v {
					display: inline-block;
				}
			}
		}

	}

	.contentcontainer {
		a {
			color: #2369b1;
			text-decoration: none;
		}


	}

	.imagecontainer {
		position: relative;

		img {
			display: block;
			width: 100%;
		}

		&:after {
		//	content: "";
			position: absolute;
			right: 0;
			bottom: 0;
			border-top: (32/16*1em) solid transparent;
			border-right: (32/16*1em) solid #fdf9df;
		}
	}

	.name {
		margin: 0;

		color: #0054a4;
		@include font-size(33);
		font-weight: $semibold;
	}

	.title {
		margin: 0;

		color: #303030;
		@include font-size(20);
		font-weight: normal;
		text-style: italic;
	}

	.details {
		display: inline-block;

		color: #4da6cd;
		@include font-size(20);
		font-weight: normal;
		text-decoration: none;

		margin: (14/20*1em) 0;

		&:after {
			content: $fa-var-chevron-right;
			color: #b8c128;
			font-family: FontAwesome;
			@include font-size(15);
			margin-left: 8/15*1em;
		}

		&:hover,
		&:focus {
			color: #f2a900;

			&:after {
				color: #4b4b4b;
			}
		}
	}

	.contact {
		//border-top: 1px solid #e0dbba;
		padding-top: 10px;
		overflow: hidden; /* Clearfix */
		margin-bottom: 10px;

		a {
			display: block;
			float: left;
			margin: 0 (11/16*1em) 0 0;

			@media (max-width: 768px) {
				display: block;
				clear: left;
			}

			//background: #6488a0;
			border-radius: 5/16*1em;
			padding: (4/16*1em) (11/16*1em) (4/16*1em) 0;

			//color: white;
			@include font-size(16);
			text-decoration: none;
			//text-transform: uppercase;

			&:before {
				margin-right: 7/14*1em;
				//background:
				font-family: FontAwesome;

					background: #b8c128;
					//padding: 5px;
					color: #fff;
					width: 25px;
					height: 25px;
					text-align: center;
					font-size: 16px;
					line-height: 27px;
					margin-right: 5px;
					display: inline-block;
			}

			&:hover,
			&:focus {
				color: #b8c128;
				//background-color: #4b4b4b;

				&:before {
					//color: #fff200;
				}
			}
		}

		.tel:before { content: $fa-var-phone; }
		.email:before { content: $fa-var-envelope; }
		.website:before { content: $fa-var-link; font-weight: normal;}

		@media (max-width: 768px) {
			.website {
				display: none;
			}

		}
	}

	.imagecontainer {
		width: 100%;
		margin: 0 auto 1em;
	}

	.contentcontainer {
		@media (max-width: 768px) {
			width: 100%;
			clear: both;
			padding: 0 15px;
		}
	}

	@include mq(content-small-expanded) {
		// 748
		.imagecontainer {
			float: left;
			width: percentage(166/748);
			width: calc(10.38rem); // 166/16
			margin: 0;
			padding-right: 15px;


			img {
				width: 100%;
				max-width: 100%;
			}
		}
		.contentcontainer {
			float: right;
			width: percentage(564/748);
			width: 100%; // 184/16
			padding: 0 15px;
		}
	}

	.bio {
		@media (max-width: 768px) {
			display: none;
		}
	}

	.learn-more {
		@media (min-width: 769px) {
			display: none;
		}
		width: calc(100% + 30px);
		border-top: 1px solid #dedede;
		padding: 12px 10px;
		text-align: center;
		clear: both;
		margin-left: -15px;

		a {
			color: #2369b1;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: $semibold;

			i {
				color: #614d4d;
				font-weight: bold;
				margin-left: 10px;
				font-size: 20px;
			}
		}

	}
}

// A faculty member's page.
.facultybio {
	.lead {
		margin-bottom: 29/16*1em;
	}

	.name {
		margin: 0;

		color: #b8c128;
		font-weight: $semibold;
		@include font-size(39);
		line-height: 39/39*1em;

		@include mq(medium) {
			@include font-size(59);
			line-height: 56/59*1em;
		}
	}

	.title {
		margin: 0;

		color: #303030;
		@include font-size(26);
		font-weight: normal;
	}

	.split {
		border-bottom: 1px solid #dedede;
		padding-bottom: 8/16*1em;
	}


	img {
		margin: 0 auto (20/16*1em);
		display: block;
		border: (8/16*1em) solid #f4f0d6;
		width: 100%;
	}

	.contact {
		a {
			display: block;
			margin-bottom: 8/16*1em;

			color: #59abd0;
			@include font-size(19);
			text-decoration: none;

			&:before {
				display: inline-block;
				width: 26/16*1em;
				height: 26/16*1em;
				margin-right: 8/16*1em;
				padding-top: 4px;

				vertical-align: baseline;

				background: #b8c128;

				color: white;
				font-family: FontAwesome;
				@include font-size(16);
				text-align: center;
			}

			&:focus,
			&:hover {
				color: #ffb200;

				&:before {
					color: #fff200;
					background-color: #4b4b4b;
				}
			}
		}
		a.tel:before { content: $fa-var-phone; }
		a.mail:before { content: $fa-var-envelope; }
		a.linkedin:before { content: $fa-var-linkedin; }
		a.facebook:before { content: $fa-var-facebook; }
		a.twitter:before { content: $fa-var-twitter; }
		a.googleplus:before { content: $fa-var-google-plus; }
		a.instagram:before { content: $fa-var-instagram; }
	}

	@include mq(content-small-expanded) {
		.split {
			overflow: hidden; /* Clearfix */
		}

		img {
			width: percentage(180/780);
			width: calc(180px);
			max-width: 100%;
			float: left;
		}

		.usercontent {
			width: percentage(578/780);
			width: calc(100% - 180px - 1.38rem); // 22/16*1rem;
			float: right;
		}

		.contact {
			width: percentage(180/780);
			width: calc(180px);
			float: left;
		}
	}

	.info {
		color: #303030;
		overflow: hidden; /* Clearfix */

		dt {
			clear: left;
			float: left;

			font-weight: $semibold;

			&:after {
				content: ":\00a0";
			}
		}
		dd {
			float: left;
			margin: 0;
			padding: 0;
		}

		a {
			color: #008cc0;
			text-decoration: none;

			&:focus,
			&:hover {
				color: #ffb200;
			}
		}
	}
}
