@mixin previoussectionarrowhelper($color) {
	position: relative;

	// Create the little arrow affect by overlaying some $color onto the
	// previous section.
	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: -30/16*1em;
		width: 50%;
		height: 0;
		border-bottom: (30/16*1em) solid $color;
	}

	&:before {
		right: 50%;
		border-right: (30/16*1em) solid transparent;
	}
	&:after {
		left: 50%;
		border-left: (30/16*1em) solid transparent;
	}
}

#page-content.home-content {
	position: relative;
	z-index: 1;

	.home-lead {
		background-color: black;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;

		padding-top: 0;
		@include mq(medium) {
			padding-top: 63/16*1em;
			padding-bottom: 112/16*1em;
			background-attachment: fixed;
		}

		.container {
			@include mq(small, only) {
				background: rgba(black, 0.38);
				padding-left: 0;
				padding-right: 0;
			}
		}

		header {
			margin-bottom: 52/16*1em;
			margin-left: auto;
			margin-right: auto;
			max-width: percentage(814/1050);

			@include mq(small, only) {
				padding-top: 14/16*1em;
				margin-bottom: 14/16*1em;
			}

			h1, h2, h3, h4, h5, h6 {
				color: white;
				@include font-size(24);
				font-weight: $semibold;
				line-height: 28/24*1em;
				text-align: center;
				text-shadow: 0 0 9px rgba(black, 0.75);
				margin: 0;
				padding: 0;

				@include mq(medium) {
					@include font-size(54);
					line-height: 1em;
				}

				span {
					visibility: hidden;
					transition: 0.1s transform;
					transform: translate3d(0, 6px, 0);
				}

				span.visible {
					visibility: visible;
					transform: translate3d(0, 0, 0);
				}
			}
		}

		.sectioncontent {
			@include mq(small, only) {
				padding-top: 57/16*1em;
				padding-bottom: 25/16*1em;
				padding-top: 0;

				position: relative;

				&:before {
					content: "";
					position: absolute;
					top: 66/16*1em;
					left: 0;
					right: 0;
					bottom: 0;
					background: #beb883 url(/assets/images/diagonals/3/756b0d.png) repeat center center;
				}

				.carouselbutton {
					position: absolute;
					top: 132/16*1em;
					height: 88/16*1em;
					width: 44/16*1em;
					border: none;
					background: none;
					overflow: hidden;

					text-indent: -9999px;

					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;

						background: #a59e5f;
						background: rgba(#7a7226, 0.4);

						border-radius: 100%;
					}

					&:after {
						position: absolute;
						top: 50%;
						margin-top: -0.5em;

						font-family: FontAwesome;

						@include font-size(36);
						line-height: 1em;
						color: white;
						text-indent: 0;
					}

					&:hover,
					&:focus {
						&:before {
							background: #7a7226;
						}
					}
				}

				.carouselbutton-previous {
					left: 0;

					&:before {
						left: -44/16*1em;
					}
					&:after {
						content: $fa-var-angle-left;
						right: 15/36*1em;
					}
				}
				.carouselbutton-next {
					right: 0;

					&:before {
						right: -44/16*1em;
					}
					&:after {
						content: $fa-var-angle-right;
						left: 15/36*1em;
					}
				}
			}

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			li {
				display: block;
				width: 100%;

				a {
					text-decoration: none;
					padding-left: percentage(53/320);
					padding-right: percentage(53/320);
					padding-top: 0;
					padding-bottom: 78/16*1em;
					display: block;
					position: relative;
					min-height: 100%;
					width: 100%;

					img {
						display: block;
						margin: 0 auto;
						border: (10/16*1em) solid white;
						border-color: rgba(white, 0.3);

						margin-top: -101/16*1em;
						margin-bottom: 23/16*1em;
						position: relative;
						z-index: 2;

						box-shadow: 0 0 20px rgba(black, 0.67);
						max-width: 100%;

						@include mq(small, only) {
							margin-top: 0;
						}
					}

					p {
						display: none;
					}

					.buttoncontainer {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						margin-bottom: 32/16*1em;
						padding: 0 (20/16*1em);
					}

					.button {
						display: block;
						padding: 10/18*1em;
						margin: 0 auto;
						max-width: 194/18*1em;

						background: #fff200;
						border-radius: 4/18*1em;

						color: #0054a4;
						@include font-size(18);
						text-align: center;
						text-transform: uppercase;
					}

					&:focus,
					&:hover {
						.button {
							color: black;
							background: white;
						}
					}
				}
			}

			li + li {
				display: none;
			}


			@include mq(medium) {
				ul {
					padding-top: 72/16*1em;
					overflow: hidden;

					html.flexbox &,
					html.flexboxlegacy & {
						display: flex;
					}
				}

				// Medium dimensions:
				// |-- 210 --||- 30 -||-- 210 --||- 30 -||-- 210 --|
				// |--------------------- 690 ---------------------|

				li {
					float: left;
					width: percentage(210/690);

					html.flexbox &,
					html.flexboxlegacy & {
						display: flex;
					}

					a {
						padding: 20/16*1em;
						padding-top: 0;
						padding-bottom: 78/16*1em;
						background: black;
						background: rgba(black, 0.37);

						&:before {
							content: "";
							display: block;
							position: absolute;
							left: 0;
							right: 0;
							top: -36/16*1em;
							height: 36/16*1em;
							background: black;
							background: rgba(black, 0.37);
						}

						img {
							width: 100%;
							margin-top: -72/16*1em;
							margin-bottom: 0;
							box-shadow: none;
						}

						p {
							display: block;
							color: white;
							@include font-size(18);
							line-height: 25/18*1em;
							text-align: center;
							text-shadow: 0 0 6px rgba(black, 0.8);
						}

						&:focus,
						&:hover {
							background-color: #0054a4;
							border-top-color: transparent;

							.button {
								color: black;
								background: white;
							}

							&:before {
								left: 36/16*1em;
								background-color: #0054a4;
							}

							&:after {
								content: "";
								display: block;
								position: absolute;
								width: 0;
								height: 0;
								left: 0;
								top: -36/16*1em;
								border-top: (36/16*1em) solid transparent;
								border-right: (36/16*1em) solid #5b9bd7;
							}
						}

						html.flexbox &,
						html.flexboxlegacy & {
							// If we can do flexbox, let's do that to push the
							// button to the bottom of the a, rather than using
							// absolute positioning. Because that means that, when
							// a button does need to wrap to a second line, it
							// will take up more space rather than covering the
							// blurb content.
							display: flex;
							flex-direction: column;
							padding-bottom: 0;

							.spacer {
								flex: auto;
							}

							.buttoncontainer {
								position: static;
								padding-left: 0;
								padding-right: 0;
							}
						}
					}
				}
				li + li {
					margin-left: percentage(30/690);
					display: block;
				}
			}

			@include mq(large) {
				// Large dimensions:
				// |-- 306 --||- 66 -||-- 306 --||- 66 -||-- 306 --|
				// |-------------------- 1050 ---------------------|

				li {
					width: percentage(306/1050);

					a {
						img {
							width: percentage(257/306);
						}
					}
				}
				li + li {
					margin-left: percentage(66/1050);
				}
			}
		}
	}

	.home-content {
		@include previoussectionarrowhelper(white);


		background: white url(/assets/images/outline-text-background.png) no-repeat bottom center;

		html.svg & {
			background-image: url(/assets/images/outline-text-background.svg);
		}

		background-size: contain;
		padding-top: 64/16*1em;
		padding-bottom: 102/16*1em;
		@include mq(medium) {
			padding-top: 72/16*1em;
			padding-bottom: 174/16*1em;
		}

		header {
			margin-bottom: 40/16*1em;
			margin-left: auto;
			margin-right: auto;
			max-width: 720/16*1em;

			h1, h2, h3, h4, h5, h6 {
				color: #303030;
				@include font-size(50);
				font-weight: $semibold;
				line-height: 45/50*1em;
				text-align: center;
				margin: 0;
				padding: 0;

				@include mq(medium) {
					@include font-size(72);
					line-height: 1em;
				}
			}
		}

		.sectioncontent {
			.contentregion {
				margin-bottom: 39/16*1em;

				color: #303030;
				@include font-size(16);
				line-height: 20/16*1em;

				@include mq(medium) {
					@include font-size(20);
					line-height: 29/20*1em;
				}
				@include mq(large) {
					text-align: left;
				}

				p, ul, ol {
					margin-top: 0;
					margin-bottom: 20/16*1em;

					@include mq(medium) {
						margin-bottom: 29/20*1em;
					}
				}

				.link {
					margin-bottom: 0;
				}

				a {
					color: #0054a4;
					font-weight: $semibold;
					text-decoration: none;

					&:after {
						content: "\203a";
						color: #b8c128;

						@include font-size(22);
						line-height: 16/22*1em;
						margin-left: 6/22*1em;

						@include mq(medium) {
							@include font-size(25);
							line-height: 20/25*1em;
							margin-left: 10/25*1em;
						}
					}

					&:hover,
					&:focus {
						color: black;
					}
				}
			}

			.video {
				margin-bottom: 22/16*1em;
				// This somehow fixes a bug where IE8 was not applying the
				// bottom margin.
				overflow: hidden;

				@include mq(medium) {
					width: percentage(510/690);
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 38/16*1em;
				}
				@include mq(large) {
					width: 100%;
					margin-bottom: 22/16*1em;
				}

				.iframecontainer {
					position: relative;
					height: 0;
					padding-top: percentage(315/560);

					iframe {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}
			}

			@include mq(large) {
				.contentregion {
					width: percentage(510/1050);
					float: left;
					margin-bottom: 49/16*1em;
				}
				.video {
					width: percentage(510/1050);
					float: right;
					margin-bottom: 49/16*1em;
				}
			}

			.testimonials {
				clear: both;

				background: #f4eec8;

				@include mq(medium) {
					width: percentage(510/690);
					margin-left: auto;
					margin-right: auto;
				}
				@include mq(large) {
					width: 100%;
				}

				.testimonial {
					padding: 20/16*1em;

					& + .testimonial {
						// We'll use JavaScript to turn the testimonials into
						// a rotator. In the meantime (or if that fails), only
						// show the first one.
						display: none;
					}

					blockquote {
						margin: 0;

						p {
							margin-top: 0;

							color: #303030;
							@include font-size(16);
							line-height: 24/16*1em;

							@include mq(medium) {
								@include font-size(20);
								line-height: 29/20*1em;
							}
						}

						cite {
							display: block;
							@include font-size(14);
							line-height: 18/14*1em;
							position: relative;
							min-height: 72px;

							img {
								display: block;
								// Size the image in pixels, because that's
								// going to be best for the picture. A
								// picture's ideal size is based on its
								// intrinsic size, and not the font-size of
								// the root element.
								width: 72px;
								float: left;

								position: absolute;
								top: 0;
								left: 0;
							}

							.text {
								display: block;
								// The image is sized in pixels, so we need to
								// do the padding-left in pixels, too.
								padding-left: 72px + 14px;
								// Unless, of course, the browser supports
								// calc. In which case, we can leave a pixel-
								// sized gap for the image, and an em-sized
								// gap for the margin between the picture and
								// the text.
								padding-left: calc(72px + 1em); // 14/14=1
							}

							.name {
								font-weight: bold;
							}

							.name, .hometown, .major {
								display: block;
							}
						}
					}
				}

				@include mq(medium) {
					// The entire layout of the testimonial changes at a
					// larger size. So, here we go.

					.testimonial {
						padding: 24/16*1em;
						position: relative;

						// The image is sized in pixels, so we need to do the
						// min-height in pixels, too.
						min-height: 24px + 133px + 24px;
						// Unless, of course, the browser supports calc. In
						// which case, we can leave a pixel-sized gap for the
						// image, and em-sized gaps for the margin above and
						// below the image.
						min-height: calc(1.5em + 133px + 1.5em); // 24/16=1.5

						blockquote {
							margin: 0;

							// The image is sized in pixels, so we need to do
							// the padding-left in pixels, too.
							padding-left: 133px + 24px;
							// Unless, of course, the browser supports calc.
							// In which case, we can leave a pixel-sized gap
							// for the image, and an em-sized gap for the
							// margin between the picture and the text.
							padding-left: calc(133px + 1.5em); // 24/16=1.5

							cite {
								@include font-size(18);
								line-height: 29/20*1em;
								// The small breakpoint has position: relative
								// here, but we need to reverse that because
								// we want the image positioned relative the
								// the blockquote at this size.
								position: static;
								min-height: 0;

								img {
									display: block;
									position: absolute;
									top: 24px;
									top: calc(1.5em); // 24/16=1.5
									left: 24px;
									left: calc(1.5em); // 25/16=1.5

									@include font-size(16);

									// Size the image in pixels, because that's
									// going to be best for the picture.
									width: 133px;
								}

								.text {
									padding-left: 0;
								}

								.name, .hometown, .major {
									// Setting this to inline block means that the
									// whole block will go down to a new line
									// before breaking within the block happens.
									// Which is probably what we want. It does
									// not, however, completely prevent breaking
									// like using a white-space property would.
									// That's not what we would want.
									display: inline-block;
									margin-right: 0.4em;
								}
							}
						}
					}
				}

				&.transitionable {
					position: relative;

					&:focus {
						background: #f4edbd;
						outline: none;
						box-shadow: 0 0 8px #ada46e;
					}

					&.transitionheight {
						transition: 0.4s height;
					}

					.testimonial, .testimonial + .testimonial {
						display: none;
					}

					.testimonial {
						&.active {
							display: block;
						}
						&.hiding-start {
							opacity: 1;
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
						}
						&.hiding {
							transition: 0.3s opacity;
							opacity: 0;
							display: block;
						}
						&.measuring {
							display: block;
							position: absolute;
							left: -1000%;
							width: 100%;
						}
						&.showing-start {
							opacity: 0;
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
						}
						&.showing {
							transition: 0.3s opacity 0.1s;
							opacity: 1;
							display: block;
						}
					}

					.buttons {
						position: absolute;
						top: 5/16*1em;
						right: 5/16*1em;
						z-index: 2;
						margin: 0;
						padding: 0;

						button {
							@include font-size(10);
							background: none;
							border: none;
							cursor: pointer;
							position: relative;
							width: 21/10*1em;
							height: 21/10*1em;

							span {
								position: absolute;

								text-indent: -9999px;
								top: 5/10*1em;
								left: 5/10*1em;
								right: 5/10*1em;
								bottom: 5/10*1em;
								border-radius: 100%;
								background: #b9ab80;

								transition: 0.4s background-color;
							}

							&.active {
								span {
									background-color: #796119;
								}
							}

							&:hover,
							&:focus {
								outline: none;

								span {
									background-color: #796119;
								}
							}
						}
					}
				}
			}
		}
	}

	.home-reasons {
		@include previoussectionarrowhelper(#b8c128);
		background: #b8c128;
		padding-top: 28/16*1em;
		padding-bottom: 19/16*1em;
		@include mq(medium) {
			padding-top: 67/16*1em;
			padding-bottom: 83/16*1em;
		}

		header {
			margin-bottom: 70/16*1em;
			margin-left: auto;
			margin-right: auto;
			max-width: 720/16*1em;

			h1, h2, h3, h4, h5, h6 {
				color: white;
				@include font-size(50);
				font-weight: $semibold;
				line-height: 56/50*1em;
				text-align: center;
				margin: 0;
				padding: 0;

				@include mq(hp-medium) {
					@include font-size(72);
					line-height: 1em;
				}
			}
		}

		.sectioncontent {
			overflow: hidden; // clearfix

			.reason {
				margin-bottom: 31/16*1em;

				@include mq(hp-medium) {
					float: left;
					width: percentage(330/1050);
					margin-bottom: 0;
				}

				.imgcontainer {
					position: relative;
					margin-bottom: 22/16*1em;

					img {
						display: block;
						width: 100%;
						position: relative;
						z-index: 2;
					}

					.background {
						position: absolute;
						top: 25/16*1em;
						left: 25/16*1em;
						right: 25/16*1em;
						bottom: 25/16*1em;
						background: transparent url(/assets/images/diagonals/10/e8ee82.png) repeat top left;

						&:before {
							content: "";
							display: block;
							position: absolute;
							bottom: 0;
							left: 0;
							border-left: (32/16*1em) solid #b8c128;
							border-top: (32/16*1em) solid transparent;
						}

						&:after {
							content: "";
							display: block;
							position: absolute;
							top: 0;
							right: 0;
							border-right: (32/16*1em) solid #b8c128;
							border-bottom: (32/16*1em) solid transparent;
						}
					}
				}

				h3, p {
					margin: 0 auto;
					text-align: center;

					max-width: calc(100% - 3rem);

					@include mq(hp-medium) {
						max-width: 278px;
						max-width: 278/16*1rem;
					}
				}

				h3 {
					border-bottom: 1px solid #ffea00;
					padding-bottom: 8/31*1em;

					color: white;
					@include font-size(31);
					font-weight: $semibold;
				}

				p {
					margin-top: 15/20*1em;

					color: black;

					@include font-size(16);
					line-height: 24/16*1em;

					@include mq(hp-medium) {
						@include font-size(20);
						line-height: 29/20*1em;
					}
				}

				a {
					color: white;
					text-decoration: none;

					&:after {
						content: "\203a";
						color: #ffea00;

						@include font-size(22);
						line-height: 16/22*1em;
						margin-left: 4/22*1em;

						@include mq(hp-medium) {
							@include font-size(25);
							line-height: 20/25*1em;
							margin-left: 6/25*1em;
						}
					}

					&:hover,
					&:focus {
						&:after {
							color: black;
						}
					}
				}
			}
			@include mq(hp-medium) {
				.reason + .reason {
					margin-left: percentage(30/1050);
				}
			}
		}
	}

	.home-happening {
		position: relative;

		padding-top: 58/16*1em;
		padding-bottom: 58/16*1em;

		@include mq(medium) {
			padding-top: 110/16*1em;
			padding-bottom: 110/16*1em;
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -30/16*1em;
			border-top: (30/16*1em) solid #b8c128;
			border-left: (30/16*1em) solid transparent;
			border-right: (30/16*1em) solid transparent;
		}

		background: #fdfdf8 url(/assets/images/diagonals/5/ede5ae.png) repeat top left;

		& > .container > header {
			h1, h2, h3, h4, h5, h6 {
				color: #303030;
				@include font-size(50);
				font-weight: $semibold;
				line-height: 47/50*1em;
				text-align: center;
				margin: 0;
				padding: 0;

				@include mq(medium) {
					@include font-size(72);
					line-height: 1em;
				}
			}
		}

		// If we've used JavaScript already to create the tabs, then we have a
		// tablist.
		.tablist {
			margin: 0;
			margin-top: 78/16*1em;

			li {
				display: inline-block;
			}
		}

		// If we have a tablist, then we don't want to add margins to the tops
		// of our sections.
		.tablist ~ section {
			margin-top: 0;
		}

		// section > header is what we have before we've created tabs via
		// JavaScript. .tablist is what we have after we've created tabs via
		// JavaScript.
		section > header,
		.tablist {
			border-bottom: 1px solid #c4bd8a;
			text-align: center;
			list-style-type: none;
		}

		// section > header h* is what we have before we've created tabs via
		// JavaScript. .tablist a is what we have after we've created tabs via
		// JavaScript. Both of these should look like nice big tabs. But at
		// this point (because the tablist item might not be selected) we
		// don't add some of the special formatting to make it look selected.
		section > header h1,
		section > header h2,
		section > header h3,
		section > header h4,
		section > header h5,
		section > header h6,
		.tablist a {
			display: inline-block;
			margin: 0;
			padding: 0 (20/47*1em);
			position: relative;
			top: 1px;

			color: #363636;
			@include font-size(32);
			font-weight: $semibold;
			text-decoration: none;

			@include mq(medium) {
				@include font-size(47);
			}
		}

		// Before JavaScript has created our tabs, every section header looks
		// selected. Also, once JavaScript has created our tabs, then the
		// selected one looks selected.
		section > header h1,
		section > header h2,
		section > header h3,
		section > header h4,
		section > header h5,
		section > header h6,
		.tablist a[aria-selected=true] {
			background: #f2a900;
			border-radius: 4px 4px 0 0;

			color: white;
		}

		/* News or events */
		section {
			margin-top: 78/16*1em;

			p.all {
				margin: 0;
				padding-top: 20/16*1em;
				padding-bottom: 10/16*1em;
				text-align: center;

				@include mq(large) {
					text-align: right;
					padding-top: 25/16*1em;
					padding-bottom: 15/16*1em;
				}

				a {
					color: #0052a6;
					@include font-size(16);
					font-weight: $semibold;
					text-decoration: none;
					text-transform: uppercase;

					&:after {
						content: "\203a";
						color: black;
						@include font-size(24);
						line-height: 16/24*1em;
						margin-left: 10/24*1em;
					}

					&:hover,
					&:focus {
						color: #b8c128;
					}
				}
			}

			article.lead {
				position: relative;
				overflow: hidden;
				background: #6488a0;
				color: white;

				img {
					width: 100%;
				}

				header, .sectioncontent {
					padding: 0 25px;
					padding: 0 (25/16*1rem);
					text-align: center;
				}

				@include mq(medium, only) {
					img {
						position: absolute;
						top: 0;
						left: 0;
						width: initial;
						min-width: 100%;
						min-height: 100%;
						z-index: 1;
					}

					&:before {
						content: "";
						display: block;
						position: absolute;
						z-index: 2;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;

						background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.78) 90%);
					}

					header,
					.sectioncontent {
						position: relative;
						z-index: 3;

						text-align: left;
					}
				}

				@include mq(large) {
					img {
						width: percentage(509/1050);
						float: left;
					}

					header, .sectioncontent {
						width: percentage(481/1050);
						float: right;
						margin-left: percentage(30/1050);
						margin-right: percentage(30/1050);
						padding: 0;
						text-align: left;
					}
				}

				header {
					margin-top: 26/16*1em;
					margin-bottom: 12/16*1em;

					@include mq(medium, only) {
						margin-top: 226/16*1em;
					}

					.headline {
						margin: 0;
						padding-bottom: 14/31*1em;
						border-bottom: 1px solid #ede60a;

						@include font-size(20);
						line-height: 28/20*1em;
						font-weight: $semibold;

						@include mq(medium) {
							@include font-size(31);
							line-height: 30/31*1em;
						}

						a {
							color: white;
							text-decoration: none;

							&:hover,
							&:focus {
								color: #ede60a;
							}
						}
					}

					.subhead {
						margin: 0;
						margin-top: 12/15*1em;

						@include font-size(15);
						font-weight: normal;

						a {
							color: #ede60a;

							&:hover,
							&:focus {
								color: white;
							}
						}
					}
				}

				.sectioncontent {
					@include font-size(16);
					line-height: 24/16*1em;
					@include mq(medium) {
						@include font-size(20);
						line-height: 29/20*1em;
					}

					a {
						color: white;
						font-weight: $semibold;
						text-decoration: none;

						&:after {
							content: "\203a";
							margin-left: 10/25*1em;

							color: #ede60a;
							@include font-size(25);
							line-height: 20/25*1em;
						}

						&:focus,
						&:hover {
							color: #ede60a;

							&:after {
								color: white;
							}
						}
					}
				}

				&.event {
					header {
						border-bottom: 1px solid #c4bd8a;
						@include mq(small, only) {
							margin-left: 25/16*1em;
							margin-right: 25/16*1em;
						}
						@include mq(medium, only) {
							margin-left: percentage(30/1050);
							margin-right: percentage(30/1050);
						}
						padding-left: 82/16*1em;
						position: relative;
						min-height: 88/16*1em;
						padding-bottom: 10/16*1em;
					}
					.headline {
						border-bottom: none;
						padding-bottom: 0;
						text-align: left;
					}
					.subhead {
						position: absolute;
						left: 0;
						top: 0;
						margin-top: 0;

						background: #b8c128;

						@include font-size(16);
					}
					@include mq(medium) {
						header {
							padding-left: 0;
							padding-bottom: 14/16*1em;
							border-bottom: 1px solid #ede60a;
							padding-right: 82/16*1em;
							position: relative;
							min-height: 92/16*1em;
						}
						.headline {
							border-bottom: none;
							padding-bottom: 0;
						}
						.subhead {
							position: absolute;
							left: auto;
							right: 0;
							top: 0;
							margin-top: 0;

							background: #3b6078;

							@include font-size(16);
						}
					}
				}
			}

			article.event .subhead {
				width: 67/16*1em;
				padding: (6/16*1em) 0 (8/16*1em);

				border-radius: 4px;

				text-align: center;

				.month {
					display: block;

					color: #fff200;
					@include font-size(22);
					font-weight: $semibold;
					line-height: 29/22*1em;
					text-transform: uppercase;
				}

				.day {
					display: block;

					color: white;
					@include font-size(35);
					font-weight: $semibold;
					line-height: 35/35*1em;
				}
			}

			.others {
				overflow: hidden;

				padding-top: 25/16*1em;
				@include mq(medium) {
					// padding-top matches the margin between items.
					padding-top: percentage(30/1050);
				}

				article {
					margin-bottom: 24/16*1em;
					padding: 20/16*1em;
					padding-bottom: 34/16*1em;
					background: #eee9c5;

					color: #303030;

					@include mq(medium) {
						width: percentage(330/1050);
						float: left;
						margin-bottom: 0;
					}

					.headline {
						margin: 0;

						border-bottom: 1px solid #c4bd8a;
						padding-bottom: 10/24*1em;

						color: #0052a6;
						@include font-size(20);
						line-height: 22/20*1em;
						font-weight: $semibold;

						@include mq(medium) {
							@include font-size(24);
							line-height: 26/24*1em;
						}

						a {
							color: #0052a6;
							text-decoration: none;

							&:hover,
							&:focus {
								color: black;
							}
						}
					}

					.subhead {
						margin: 0;
						margin-top: 6/15*1em;

						color: #43423e;
						@include font-size(15);
						font-weight: normal;

						a {
							color: #0052a6;

							&:hover,
							&:focus {
								color: black;
							}
						}
					}

					.sectioncontent {
						@include font-size(20);
						line-height: 29/20*1em;
						text-align: center;
						padding-top: 15/20*1em;

						p {
							margin: 0;
						}

						.summary {
							display: none;

							@include mq(medium) {
								display: block;
							}
						}

						a {
							display: block;
							margin: 0 auto;
							margin-top: 26/20*1em;
							max-width: 205/20*1em;
							padding: 6/20*1em;

							background: white;
							border-radius: 4px;

							color: #363636;
							font-weight: $semibold;
							text-decoration: none;

							&:after {
								content: "\203a";
								color: #b8c128;
								@include font-size(25);
								line-height: 20/25*1em;
								margin-left: 10/25*1em;
							}

							&:hover,
							&:focus {
								color: #b8c128;

								&:after {
									color: #363636;
								}
							}
						}
					}

					&.event {
						@include mq(medium, only) {
							position: relative;
						}
						header {
							border-bottom: 1px solid #c4bd8a;

							padding-left: 82/16*1em;
							position: relative;
							min-height: 88/16*1em;
							padding-bottom: 10/16*1em;

							@include mq(medium, only) {
								padding-top: 100/16*1em;
								position: static;
								border-bottom: none;
								padding-left: 0;
							}
						}
						.headline {
							border-bottom: none;
							padding-bottom: 0;

							@include mq(medium, only) {
								padding-top: 12px;
								padding-top: 12/16*1rem;
								border-top: 1px solid #c4bd8a;
								text-align: center;
							}
						}
						.subhead {
							position: absolute;
							left: 0;
							top: 0;
							margin-top: 0;

							background: #b8c128;

							@include font-size(16);

							@include mq(medium, only) {
								top: 20/16*1em;
								left: 50%;
								width: 68/16*1em;
								margin-left: (-68/2)/16*1em;
							}
						}
					}
				}

				@include mq(medium) {
					article + article {
						margin-left: percentage(30/1050);
					}


					html.flexbox &,
					html.flexboxlegacy & {
						display: flex;

						article {
							display: flex;
							flex-direction: column;
						}

						.sectioncontent {
							flex: auto;
							display: flex;
							flex-direction: column;

							.spacer {
								flex: auto;
							}
						}
					}
				}
			}
		}
	}
}
