.newslist {
	margin-bottom: 68/16*1em;
}

.newslist-item {
	overflow: hidden; /* Clearfix */
	margin-bottom: 39/16*1em;
	color: #303030;

	header {
		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			padding-bottom: 4/37*1em;

			color: #bcc438;
			@include font-size(27);
			line-height: 28/27*1em;
			font-weight: $semibold;

			a {
				color: #bcc438;
				text-decoration: none;
			}

			@include mq(content-small-expanded) {
				@include font-size(37);
				line-height: 39/37*1em;
			}
		}
	}

	a {
		color: #4da6cd;
		text-decoration: none;

		&:focus,
		&:hover {
			color: #ffb200;
		}
	}

	.tagline {
		@extend %tagline;
		clear: right;
	}

	img {
		border: (6/16*1em) solid #f4f0d6;
		display: block;
		margin-bottom: 8/16*1em;
	}

	.sectioncontent {
		@include font-size(20);
		line-height: 29/20*1em;

		p {
			margin: 0;
		}

		a {
			display: block;
			margin-top: 13/20*1em;

			&:after {
				content: $fa-var-chevron-right;
				margin-left: 4/15*1em;

				color: #b8c128;
				font-family: FontAwesome;
				@include font-size(15);
			}
		}
	}

	img {
		width: 40%;
		float: right;
		margin-left: 1em;
		max-width: 140/16*1em;
	}

	@include mq(content-small-expanded) {
		img {
			max-width: none;
			width: percentage(180/780);
			width: calc(11.25rem); /* 180/16 */
			float: left;
			margin-left: 0;
		}
		img ~ header,
		img ~ .sectioncontent {
			width: percentage(573/780);
			width: calc(100% - 13rem); /* 208/16 */
			float: right;
		}
	}
}

.news-tagline {
	@extend %tagline;
}
