#programjump {
	display: none;

	@include mq(medium) {
		display: block;
		float: right;

		padding-top: 11/16*1em;
		padding-bottom: 11/16*1em;

		select,
		button {
			border: none;
			border-radius: 5/15*1em;

			color: white;
			font-family: "proxima-nova";
			font-weight:  normal;
			@include font-size(15);
			font-weight: $semibold;
			text-transform: uppercase;
			padding-top: 5/15*1em;
			padding-bottom: 5/15*1em;

			margin: 0;
		}

		select {
			background: #555555;

			padding-left: 9/15*1em;
		}

		button {
			background: #064286;
			cursor: pointer;

			padding-left: 8/15*1em;
			padding-right: 8/15*1em;

			&:hover,
			&:focus {
				color: #fff200;
			}
		}
	}
}

// FancySelect.css copied then modified.
div.fancy-select {
	position: relative;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 15/16*1em;
	@extend %proxima-nova;
	color: #46565D;
	display: inline-block;
	vertical-align: bottom;
}

div.fancy-select.disabled {
	opacity: 0.5;
}

div.fancy-select select:focus + div.trigger {
	box-shadow: 0 0 0 2px #4B5468;
}

div.fancy-select select:focus + div.trigger.open {
	box-shadow: none;
}

div.fancy-select div.trigger {
	border-radius: 5/15*1em;
	cursor: pointer;
	padding-left: 10/15*1em;
	padding-right: 20/15*1em;
	padding-top: 5/15*1em;
	padding-bottom: 5/15*1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	background: #555555;
	color: white;
	width: 200/15*1em;
	margin: 0;

	transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;
}

div.fancy-select div.trigger:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #b9c229;
	top: 12/15*1em;
	right: 9/15*1em;
}

div.fancy-select div.trigger.open {
	background: #4A5368;
	color: #7A8498;
}

div.fancy-select div.trigger.open:after {
	border-top-color: #7A8498;
}

div.fancy-select ul.options {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 21/15*1em;
	right: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 50;
	max-height: 200px;
	overflow: auto;
	overflow-x: hidden;
	background: #464646;
	border-radius: 5/15*1em;
	min-width: 200/15*1em;
	padding: 0;

	transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.open {
	visibility: visible;
	top: 29/15*1em;
	opacity: 1;

	/* have to use a non-visibility transition to prevent this iOS issue (bug?): */
	/*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
	transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
	top: auto;
	bottom: 40px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
	top: auto;
	bottom: 50px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
	padding: 8px 12px;
	padding-right: 24px;
	color: white;
	cursor: pointer;
	white-space: nowrap;

	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}

div.fancy-select ul.options li.selected {
	background: #4b4b4b;
	color: #fff200;
}

div.fancy-select ul.options li.hover {
	color: #fff200;
}
