.programssection {
	margin-top: 46/16*1em;

	& > header {
		h1, h2, h3, h4, h5, h6 {
		}
	}
}

.programssection-title {
	margin: 0;

	color: #b8c128;
	@include font-size(30);
	line-height: 46/46*1em;
	margin-bottom: 7/30*1em;
	font-weight: $semibold;

	@include mq(medium) {
		@include font-size(46);
		margin-bottom: 7/46*1em;
	}
}

.programssection-program {
	margin-bottom: 13/16*1em;

	& > header {
		background: #00aeef;
		border-radius: 3/16*1em;

		h1, h2, h3, h4, h5, h6,
		button {
			display: block;
			margin: 0;
			padding: (9/20*1em) (14/20*1em);
			width: 100%;

			background: none;
			border: none;

			color: white;
			@extend %proxima-nova;
			@include font-size(20);
			font-weight: normal;
			text-align: left;
		}
	}

	& > .sectioncontent {
		padding-top: 24/16*1em;
		padding-bottom: 19/16*1em;
		overflow: hidden; /* Clearfix */

		img {
			display: block;
			border: (7/16*1em) solid #f4f0d6;
			width: 100%;
			margin-bottom: 1em;

			@include mq(medium) {
				float: right;
				width: percentage(423/780);
				margin-bottom: 0;
			}
		}

		img + .usercontent {
			display: block;

			@include mq(medium) {
				width: percentage(330/780);
			}
		}

		.usercontent {
			p {
				margin: (5/16*1em) 0;
			}
		}
	}
}

html.no-js {
	#programssearch {
		display: none;
	}
}

#programssearch {
	@extend %searchfield;

	input {
		@extend %proxima-nova;
	}
}
