.searchresults {
	#search_results {
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
			padding: 0;
			margin: (29/20*1em) 0;

			@include font-size(20);
			line-height: 29/20*1em;

			h4 {
				margin: 0;

				@include font-size(24);
				line-height: 29/24*1em;
				font-weight: $semibold;

				a {
					color: #008cc0;
					text-decoration: none;

					&:hover,
					&:focus {
						color: #ffb200;
					}
				}
			}

			.meta {
				color: #b8c128;
			}
		}
	}
}
