{exp:stash:cache replace='{global:stash_replace}'}
{stash:embed:global process='inline'}

{exp:switchee variable='{segment_2}' parse='inward'}
    {case value="#^P(\d+)$#|''|date"}
{exp:channel:entries url_title='{segment_1}' dynamic='no' limit='1' disable='member_data|pagination|categories' cache='yes' refresh='1440'}
{exp:stash:set name='html-title' type='snippet'}{if page-seo-title}{page-seo-title}{if:else}{title} | {global-site-name}{/if}{/exp:stash:set}
{if page-seo-description}{exp:stash:set name='html-meta-description' type='snippet'}{page-seo-description}{/exp:stash:set}{/if}
{/exp:channel:entries}
    {/case}

    {case default='Yes'}
{exp:channel:entries limit='1' disable='member_data|pagination|categories' cache='yes' refresh='1440'}
{exp:stash:set name='html-title' type='snippet'}{if event-seo-title}{event-seo-title}{if:else}{title} | {global-site-name}{/if}{/exp:stash:set}
{if event-seo-description}{exp:stash:set name='html-meta-description' type='snippet'}{event-seo-description}{/exp:stash:set}{/if}
{if event-image}{exp:stash:set name='social-image' type='snippet'}{event-image}{/exp:stash:set}{/if}
{if event-social-description}{exp:stash:set name='social-description' type='snippet'}{event-social-description}{/exp:stash:set}
{if:elseif event-excerpt}{exp:stash:set name='social-description' type='snippet'}{event-excerpt}{/exp:stash:set}{/if}
{exp:stash:set name='social-title' type='snippet'}{title}{/exp:stash:set}
{/exp:channel:entries}
    {/case}
{/exp:switchee}

{exp:channel:entries url_title='{segment_1}' dynamic='no' limit='1' disable='member_data|pagination|categories' cache='yes' refresh='1440'}

{snippet:html-tag}
<head>
    {snippet:html-head}
    {snippet:html-head-social}
</head>
<body>
	{snippet:skip-to-content}

    <div class="bodywrapper1">
        <div class="bodywrapper2">
            {snippet:header}

    {!-- Use .three-column if there are three columns. .two-column if the right sidebar is missing, and there are only two columns. --}
    <main role="main" id="page-content" class="subpage-content {if embed:columns == '3'}three{if:else}two{/if}-column">
        <header id="content-header">
            <div class="content-titlebox">
                <div class="container">
                    <h1 class="content-title">{title}</h1>
                </div>
            </div>
        </header>
        <nav id="content-breadcrumb">
            <div class="container">
                <ul class="breadcrumbs">
                    <li><a href="/" class="home"><i class="fa fa-home"></i></a></li>
                    <li>{if get:category || segment_2}<a href="/{segment_1}/">{if:else}<span>{/if}Events</span>{if get:category || segment_2}</a>{if:else}</span>{/if}</li>
                    {if segment_2 == 'date'}
                    {exp:dt:wrap set='{segment_4}/{segment_5}/{segment_3}'}
                    <li><span>{dt format='%l, %F %j, %Y'}</span></li>
                    {/exp:dt:wrap}
                    {if:elseif (segment_2 == '' || (last_segment >= "P0" AND last_segment <= "P9999"))}
                    {if:else}
                    <li><span>{structure:page:title}</span></li>
                    {/if}
                    {if get:category}<li><span>{embed='embeds/.category-title' category='{get:category}'}</span></li>{/if}
                </ul>
            </div>
        </nav>
        <div class="sectioncontent">
            <div class="container">
                <nav class="sidebar-nav">
                    <section class="sidebarcomponent sidebarcomponent-navigation">
                        <div class="sectioncontent">
                            <ul class="links">
                                {embed='embeds/.category-links' category='events' category_id='2'}
                            </ul>
                        </div>
                    </section>
                </nav>
                <div class="content-grouped"> {!-- I'm running out of good, semantic names. --}
                    <div class="content-content"> {!-- I'm running out of good, semantic names. --}
                        {exp:switchee variable='{segment_2}' parse='inward'}
                            {case value="#^P(\d+)$#|''"}
                                {embed='embeds/.events-list' limit='5' start='today'}
                            {/case}

                            {case value='date'}
                                {!-- Disable this for now
                                {exp:dt:wrap set='{segment_4}/{segment_5}/{segment_3}'}
                                <h2>Events For {dt format='%l, %F %j, %Y'}</h2>
                                {/exp:dt:wrap}
                                --}

                                <div class="events">

                                {if (last_segment >= "P0" AND last_segment <= "P9999")}
                                {if:else}
                                {embed='embeds/.events-list' start='{segment_4}/{segment_5}/{segment_3}' end='{segment_4}/{segment_5}/{segment_3}' date-display="{exp:dt:wrap set='{segment_4}/{segment_5}/{segment_3}'}{dt format='%l, %F %j, %Y'}{/exp:dt:wrap}"}
                                {/if}

                                </div>
                            {/case}

                            {case default='Yes'}
                                {embed='embeds/.event-details'}
                            {/case}
                        {/exp:switchee}
                    </div>
                </div>
                <aside class="sidebar-other">
                    {embed='embeds/.events-sidebar'}
                </aside>
            </div>
        </div>
    </main>

    {snippet:footer}
        </div>
    </div>

    {snippet:scripts}
</body>
</html>
{/exp:channel:entries}
{/exp:stash:cache}