%proxima-nova-wufoo {
	font-family: "proxima-nova";
	font-weight: normal;
}

@mixin font-size($size) {
	font-size: $size * 1px;
	font-size: $size/16 * 1rem;
}

.wufoo {
	@include font-size(16);

	.section {
		h3 {
			@include font-size(22);
		}
	}

	label,
	label.desc,
	legend.desc,
	li span label {
		display: block;
		margin-bottom: 5/22*1em;

		color: #0054a4;
		@include font-size(22);
		font-weight: normal;

		&.error {
			margin-top: 10/22*1em;
			margin-bottom: 0;

			color: #d70000;
			@include font-size(16);
			font-style: italic;
			font-weight: normal;
		}
	}

	.req {
		color: #999;
	}

	input,
	textarea,
	input.text,
	textarea.textarea {
		//width: 100%;
		padding: (7/20*1em) (12/20*1em);
		margin: 0;

		border: 1px solid #b8c128;
		border-radius: 4/20*1em;
		background: #f8f8f8;

		color: #555555;
		font-family: 'proxima-nova';
		@include font-size(20);
		font-weight: normal;

		box-sizing: border-box;

		&.error {
			border-color: #d70000;
		}

		&:focus {
			border-color: #00aeef;
			outline: none;
			background: white;
		}

	}

	input.radio,
	input.checkbox {
		display: inline;
		width: auto;
		border: none;
		background: none;
	}

	label.choice {
		display: inline;

		color: #555555;
		@extend %proxima-nova-wufoo;
		@include font-size(20);
		font-weight: normal;

		&.error {
			display: block;
		}
	}

	input.submit {
		position: relative;
		padding-left: 18/22*1em;
		padding-right: 18/22*1em;
		padding-top: 10/22*1em;
		padding-bottom: 10/22*1em;

		cursor: pointer;

		background: #f2a900;
		border: none;
		border-radius: 5/22*1em;

		color: white;
		font-family: 'proxima-nova';
		@include font-size(22);
		text-transform: uppercase;

		&:hover,
		&:focus {
			background: #4b4b4b;
			color: #fcf006;

			&:after {
				background: #727272;
				color: white;
			}
		}
	}

	li.complex {
		div {
			input {
				box-sizing: border-box;
			}

			span.left {
				width: 49%;
				margin-right: 1%;
				clear: both;
			}
			span.right {
				width: 49%;
				margin-left: 1%;
			}
		}
	}

	.instruct {
		position: static;
		border: none;
		font-style: italic;
		background: none;
		padding: 0;
		width: auto;
		@include font-size(16);
		line-height: 1;
		margin: 0;
		margin-left: 1em;
		margin-right: 1em;
		opacity: 1;
		visibility: visible;

		small {
			@include font-size(16);
			font-style: italic;
		}
	}
}
