%sidebarbutton {
	border: none;
	background: #b8c128;
	border-radius: 3/16*1em;
	padding: (7/16*1em) (18/16*1em);
	margin: 0;

	cursor: pointer;

	color: white;
	@extend %proxima-nova;
	@include font-size(16);
	font-weight: $semibold;
	text-decoration: none;
	text-transform: uppercase;

	&:hover,
	&:focus {
		@extend %sidebarbutton-hover;
	}
}
%sidebarbutton-hover {
	color: #fff200;
	background-color: #4b4b4b;
}

%sidebar-related-sectioncontent-bordered {
	position: relative;
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	padding-top: 13px;
	padding-top: 13/16*1rem;
	padding-bottom: 18px;
	padding-bottom: 18/16*1rem;
	padding-left: 17px;
	padding-left: 17/16*1rem;
	padding-right: 16px;
	padding-right: 16/16*1rem;

	&:before,
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		border-right: 27px solid #e9e9e9;
		border-right-width: 27/16*1em;
		border-top: 27px solid transparent;
		border-top-width: 27/16*1em;
	}

	&:after {
		bottom: -1px;
		right: -1px;
		border-right-color: white;
	}
}

.sidebar-related {
	.sidebarcomponent {
		margin-bottom: 30/16*1em;
	}

	header {
		padding: 12/16*1em;
		background: white url(/assets/images/diagonals/7/c2c2c2.png) repeat;
		border: 1px solid #cdcdcd;
		border-radius: 2px;

		h1, h2, h3, h4, h5, h6 {
			background: white;
			margin: 0;
			padding: (9/20*1em) (9/20*1em);

			color: #0054a4;
			@include font-size(20);
			font-weight: $semibold;
			text-align: center;
			text-transform: uppercase;
		}

		&.empty {
			background: #a6a6a6 url(/assets/images/diagonals/5/030303.png) repeat;
			border: none;
			padding: 0;
			height: 9/16*1em;
		}
	}
}

.sidebar-nav,
.sidebar-other {
	.sidebarcomponent {
		background: #ededed;
		position: relative;

		margin-bottom: 33/16*1em;

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			right: 0;
			border-right: (27/16*1em) solid white;
			border-top: (27/16*1em) solid transparent;
		}
	}

	header {
		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			padding: (12/20*1em) (17/20*1em) (12/20*1em);

			color: #00498f;
			@include font-size(20);
			font-weight: $semibold;
			text-align: left;
			text-transform: uppercase;
		}
	}

	header.emphasis {
		background: #0054a4 url(/assets/images/diagonals/5/00284e.png) repeat;

		h1, h2, h3, h4, h5, h6 {
			color: white;
		}
	}

	.sectioncontent {
		// Do any sidebar components change the font size of their
		// .sectioncontent? It could very well happen, so let's play it safe
		// and set this in px and rem.
		padding: 15px;
		padding: 15/16*1rem;

		padding-top: 0;
	}
	header.emphasis + .sectioncontent {
		padding-top: 15px;
		padding-top: 15/16*1rem;
	}

	footer {
		padding: 15px;
		padding: 15/16*1rem;
		padding-top: 0;
	}

	.links {
		list-style-type: none;
		margin: 0;
		padding: 0;

		a {
			position: relative;
			display: block;

			color: #303030;
			@include font-size(18);
			line-height: 23/18*1em;
			text-decoration: none;
			//padding-left: 13/18*1em;

			&:before {
				content: $fa-var-chevron-right;
				position: absolute;
				left: 0;
				top: 1/12*1em;
				display: none;
				color: #0054a4;
				font-family: FontAwesome;
				@include font-size(12);
			}

			&[rel=external]:after {
				content: $fa-var-external-link;
				color: #959595;
				@include font-size(14);
				font-family: FontAwesome;
				margin-left: 8/14*1em;
			}
		}

		li.here > a,
		a:hover,
		a:focus,
		a.active {
			color: #f2a900;

			&:before {
				color: #4b4b4b;
			}
		}

		li + li {
			margin-top: 12/16*1em;
		}

		ul {
			margin: 0;
			margin-top: 12/16*1em;
			padding: (8/16*1em) 0;
			list-style-type: none;

			margin-left: -15px;
			margin-left: -15/16*1rem;
			margin-right: -15px;
			margin-right: -15/16*1rem;
			padding-left: 15px;
			padding-left: 15/16*1rem;
			padding-right: 15px;
			padding-right: 15/16*1rem;

			background: #f9f9f9;
			border-top: 1px solid #cecece;
			border-bottom: 1px solid #cecece;

			a {
				color: #303030;
				@include font-size(16);

				&:before {
					display: none;
				}
			}

			li + li {
				margin-top: 8/16*1em;
			}
		}
	}
}

.sidebar-other {
	clear: left;

	margin-top: 20/16*1em;
	@include mq(medium) {
		margin-top: 0;
	}
}
