#mini_calendar {
	background: white;
	width: 100%;
	margin-bottom: 22/16*1em;
	padding: 5/16*1em;

	table {
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
	}

	thead {
		tr th {
			border-bottom: 1px solid #e7e7e7;
		}
		tr + tr th {
			border-bottom: none;
		}

		// Basically catches "Previous Month", "Current Month", and "Next Month".
		// We'll have to override Previous Month and Next Month. Current Month,
		// for whatever reason, doesn't have an ID.
		th a {
			color: #2497c6;
			@include font-size(18);
			text-decoration: none;
			text-transform: uppercase;

			&:hover,
			&:focus {
				color: #f2a900;
			}
		}

		th.prev_month a,
		th.next_month a {
			display: block;
			color: #0054a4;
			text-indent: -9999px;
			position: relative;

			&:before {
				position: absolute;
				top: 6/12*1em;
				left: 0;
				right: 0;
				text-align: center;
				text-indent: 0;
				font-family: FontAwesome;
				@include font-size(12);
			}

			&:hover,
			&:focus {
				color: #f2a900;
			}
		}
		th.prev_month a:before { content: $fa-var-chevron-left; }
		th.next_month a:before { content: $fa-var-chevron-right; }

		th {
			color: #454545;
			@include font-size(16);
			font-weight: $semibold;
		}
	}

	tbody {
		color: #7d7d7d;
		font-weight: $semibold;
		text-align: center;

		a {
			color: #2497c6;
			text-decoration: none;

			&:hover,
			&:focus {
				color: #f2a900;
			}
		}

		.outside_month {
			color: #cdcdcd;
		}
	}
}
