.sidebar-nav {
	@include mq(medium) {
		display: block !important; // Javascript may have hidden this component.
	}
	.links {
		a {
			color: #2369b1;
		}
		.overview {
			margin-top: 0;
		}

		.level-1.has-children {
			ul {
				display: none;
			}
		}

		li.parent-here a {
			color: #f2a900;
		}
	}


}

.sidebarcomponent-navigation {
	@include mq(small, only) {
		margin-bottom: 0 !important;
		&:after {
			display: none;
		}
	}

	@include mq(medium) {


		&:before {
			//content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 9/16*1em;

			//background: #f2a900 url(/assets/images/diagonals/5/6a6a6agreen.png) repeat;
		}
	}

	.sectioncontent {
		padding-top: 15px;
		padding-top: 15/16*1rem;
	}

	.nav-title {
		//background: #b8c128;
		background: #b8c128 url('/assets/images/diagonals/5/6a6a6a1.png') repeat;
		background-repeat: repeat;
		color: #fff;
		text-transform: uppercase;
		font-weight: $semibold;
		padding: (12/20*1em) (17/20*1em) (12/20*1em);
		padding-top: 15px;
		padding-top: 15/16*1rem;
		padding-bottom: 15px;
		padding-bottom: 15/16*1rem;

	}
}
