.sidebarcomponent-gift {

	.sectioncontent {
		@include font-size(16);
		line-height: 21/16*1em;
		text-align: center;
		padding-bottom: 31/16*1em;

		img {
			display: block;
			border: (4/16*1em) solid white;
			width: 100%;
		}

		p {
			text-align: left;
		}

		a {
			@extend %sidebarbutton;
			display: inline-block;
		}
	}
}
