.sidebarcomponent-photogallery {
	.sectioncontent {
		a {
			position: relative;
			display: block;
			padding-left: 2/16*1em;
			padding-right: 2/16*1em;
			margin-bottom: 10/16*1em;

			img {
				display: block;
				width: 100%;
				position: relative;
				z-index: 3;
				border: (6/16*1em) solid white;
			}
		}

		button {
			@extend %sidebarbutton;
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 25/16*1em;
		}
	}
}
.sidebarcomponent-photogallery.scripted {
	.sectioncontent {
		a {
			img {
				box-shadow: 1px 2px 4px rgba(black, 0.11);
			}

			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				left: -6px;
				top: 11px;
				z-index: 1;

				background: #f8f8f8;
				box-shadow: 1px 2px 4px rgba(black, 0.11);
			}
			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				left: 4px;
				top: 7px;
				z-index: 2;

				background: #f8f8f8;
				box-shadow: 1px 2px 4px rgba(black, 0.11);
			}
		}

		a + a {
			display: none;
		}
	}
}
