.sidebarcomponent-events {
	.sectioncontent {
		padding-top: 0; // Padding added by the individual events

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		li {
			padding: (17/16*1em) 0;
			overflow: hidden;
			border-bottom: 1px solid #d5d5d5;
		}

		time {
			float: left;
			width: percentage(61/204);
			width: calc(3.81em); /* 61/16 */
			padding-top: 9/16*1em;
			padding-bottom: 7/16*1em;


			background: white;
			border-radius: 5px;

			text-align: center;

			.month {
				display: block;

				color: #b8c128;
				@include font-size(18);
				text-transform: uppercase;
			}
			.day {
				display: block;

				color: #4b4b4b;
				@include font-size(32);
			}
		}

		div {
			float: right;
			width: percentage(130/204);
			width: calc(100% - 4.63em); /* 76/16 */
			padding-top: 4/16*1em;

			a {
				display: block;

				color: #2497c6;
				@include font-size(20);
				line-height: 21/20*1em;
				text-decoration: none;

				&:hover,
				&:focus {
					color: #b8c128;
				}
			}

			.time {
				display: block;
				padding-top: 3/17*1em;

				color: #303030;
				@include font-size(17);
			}
		}
	}
	footer {
		padding-bottom: 21/16*1em;

		a {
			color: #303030;
			@include font-size(18);
			text-decoration: none;

			&:after {
				content: $fa-var-chevron-right;
				margin-left: 6/12*1em;

				color: #0054a4;
				font-family: FontAwesome;
				@include font-size(12);
			}

			&:hover,
			&:focus {
				color: #f2a900;

				&:after {
					color: #4b4b4b;
				}
			}
		}
	}
}
