.sidebarcomponent-social {
	.sectioncontent {
		padding-bottom: 24/16*1em;

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
			margin-bottom: 18/24*1em;
			border-bottom: 1px solid #d5d5d5;

			color: #8a8a8a;
			@include font-size(24);
			font-weight: normal;

		}

		a {
			display: block;

			color: #303030;
			@include font-size(18);
			text-decoration: none;
			margin-top: 13/18*1em;

			&:before {
				content: "";
				width: 32/20*1em;
				display: inline-block;
				background: #b8c128;
				margin-right: 12/20*1em;

				color: white;
				font-family: FontAwesome;
				@include font-size(20);
				line-height: 32/20*1em;
				text-align: center;

			}

			&:hover,
			&:focus {
				&:before {
					color: #f8eb04;
					background: #4b4b4b;
				}
			}
		}

		a.facebook:before { content: $fa-var-facebook; }
		a.twitter:before { content: $fa-var-twitter; }
		a.youtube:before { content: $fa-var-youtube; }
		a.linkedin:before { content: $fa-var-linkedin; }
		a.flickr:before { content: $fa-var-flickr; }
		a.instagram:before { content: $fa-var-instagram; }
		a.google-plus:before { content: $fa-var-google-plus; }
	}
}
