.sidebarcomponent-photocallout {

	// The photo callouts are not shown at the smallest size.
	display: none;
	@include mq(medium) {
		display: block;
	}

	header img {
		display: block;
		max-width: 100%;
	}
	.sectioncontent {
		@extend %sidebar-related-sectioncontent-bordered;
		@include font-size(18);

		h1, h2, h3, h4, h5, h6 {
			margin: 0;

			@include font-size(20);
			font-weight: $semibold;

			a {
				color: #00498f;
				text-decoration: none;

				&:hover,
				&:focus {
					color: #b8c128;
				}
			}
		}

		p {
			margin: (5/18*1em) 0;
			color: #464646;
		}

		a {
			color: #4da6cd;
			text-decoration: none;

			&:hover,
			&:focus {
				color: #b8c128;
			}
		}
	}
}
