.sidebarcomponent-callouts {
	a {
		@extend %sidebarbutton;
		display: block;
		width: 100%;
		margin-bottom: 13/16*1em;

		@include font-size(20);
		text-align: center;

		background: #6488a0;
	}

	a.secondary {
		background: #ababab;

		&:hover,
		&:focus {
			@extend %sidebarbutton-hover;
		}
	}
}
