.sidebarcomponent-campuslink {
	a {
		border: 1px solid #cdcdcd;
		position: relative;
		padding-top: 11/16*1em;
		padding-bottom: 11/16*1em;
		padding-left: 14/16*1em;
		padding-right: 64px; // Measured in px to make space for the icon, which is measured in px.
		text-decoration: none;
		display: block;

		h1, h2, h3, h4, h5, h6 {
			margin: 0;

			color: #0054a4;
			@include font-size(20);
			font-weight: $semibold;
		}

		p {
			margin: 0;
			margin-top: 2/18*1em;

			color: #008cc0;
			@include font-size(18);
			font-weight: normal;

			&:after {
				content: $fa-var-chevron-right;
				color: black;
				@include font-size(12);
				font-family: FontAwesome;
				margin-left: 6/12*1em;
			}
		}

		&:hover,
		&:focus {
			h1, h2, h3, h4, h5, h6 {
				color: #b8c128;
			}
			p {
				color: #b8c128;
			}
		}
	}


	.icon {
		display: block;
		position: absolute;
		top: -1px;
		right: -1px;
		background: #b8c128 none no-repeat 12px 8px;
		// I'm OK with using pixels here, because it's housing a pixel-sized
		// image.
		width: 56px;
		height: 53px;

		&:before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			border-left: 15px solid white;
			border-top: 15px solid transparent;
		}
	}
	.icon-online { background-image: url(/assets/images/icon-campuslink-online.png); }
	.icon-uc { background-image: url(/assets/images/icon-campuslink-university-center.png); }
}
