.sidebarcomponent-questions {
	.sectioncontent {
		@extend %sidebar-related-sectioncontent-bordered;

		@include font-size(18);
		color: #464646;
		text-align: center;

		p {
			text-align: left;
		}

		a {
			@extend %sidebarbutton;
			display: inline-block;
		}
	}
}
