.sidebarcomponent-resources {
	.sectioncontent {
		@extend %sidebar-related-sectioncontent-bordered;

		@include font-size(18);
		color: #464646;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		a {
			position: relative;
			display: block;
			margin: (8/18*1em) 0;
			padding-left: 24/18*1em;

			color: #404040;
			text-decoration: none;

			&:before {
				position: absolute;
				left: 0;
				top: 2/18*1em;

				content: $fa-var-file;

				color: #b8c128;
				@include font-size(18);
				font-family: FontAwesome;
			}

			&:hover,
			&:focus {
				color: #b8c128;

				&:before {
					color: #404040;
				}
			}
		}
	}
}

.sidebarcomponent-faculty {
	.icon {
		display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    background: #b8c128 none no-repeat 12px 8px;
    width: 56px;
    height: 56px;

		&::before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			border-left: 15px solid white;
			border-top: 15px solid transparent;
		}

		&.icon-faculty {
			background-image: url(/assets/images/faculty-icon.png);
		}
	}

	a {
		border: 1px solid #cdcdcd;
    position: relative;
    padding-top: .6875em;
    padding-bottom: .6875em;
    padding-left: .875em;
    padding-right: 64px;
    text-decoration: none;
    display: block;
		line-height: 33px;

		&:hover {
			h3 {
				color: #b8c128;
			}
		}
	}

	h3 {
		margin: 0;
    color: #0054a4;
    font-size: 20px;
    font-weight: 600;
	}
}
