.sidebarcomponent-contact {
	.sectioncontent {
		@extend %sidebar-related-sectioncontent-bordered;

		@include font-size(18);
		color: #464646;

		.name {
			margin: 0;

			color: #00498f;
			@include font-size(20);
			font-weight: $semibold;

			a {
				color: #00498f;

				&:hover,
				&:focus {
					color: #b8c128;
				}
			}
		}
		.title {
			margin: 0;
			margin-bottom: 5/18*1em;

			color: #464646;
			@include font-size(18);
			font-style: italic;
			font-weight: normal;
		}

		p {
			text-align: left;
		}

		a {
			display: block;
			margin: (8/18*1em) 0;

			color: #404040;
			text-decoration: none;

			&:before {
				display: inline-block;
				margin-right: 8/16*1em;
				min-width: 17/16*1em;

				color: #b8c128;
				@include font-size(16);
				font-family: FontAwesome;
			}

			&:hover,
			&:focus {
				color: #b8c128;

				&:before {
					color: #404040;
				}
			}
		}

		a.tel:before { content: $fa-var-phone; }
		a.mail:before { content: $fa-var-envelope; }
	}
}
