{exp:channel:entries dynamic='no' entry_id='1' disable='member_data|pagination|categories' cache='yes' refresh='1440'}
{exp:magpie url="{sd-alert-rss-url}" limit="1" refresh="1"}
<div id="campusalert" role="alert">
	{items}
	<a href="{link}" tabindex="1">
	<div class="container">
		<p><em>{description}</em></p>
	</div>
	</a>
	{/items}
</div>
{/exp:magpie}
{/exp:channel:entries}