{exp:stash:set type='snippet' parse_tags='yes' scope='site' save='{global:stash_save}'}
	{stash:global-site-name}{site_name}{/stash:global-site-name}
{/exp:stash:set}

{exp:stash:set_list name="section-alt-titles" parse_tags="yes"}
	{exp:structure_nav:advanced show_depth="1"}
		{stash:url_title}{root:url_title}{/stash:url_title}
		{stash:alt_title}{root:page-alternative-title}{/stash:alt_title}
	{/exp:structure_nav:advanced}
{/exp:stash:set_list}

{exp:stash:set type='snippet' parse_tags='yes' parse_depth='3' scope='site' save='{global:stash_save}'}
	{exp:channel:entries dynamic='no' entry_id='1' disable='member_data|pagination|categories' cache='yes' refresh='1440'}
	{stash:global-html-title}{if sd-seo-title}{sd-seo-title}{if:else}{global-site-name}{/if}{/stash:global-html-title}
	{if sd-seo-description}{stash:global-html-meta-description}{sd-seo-description}{/stash:global-html-meta-description}{/if}

		{stash:global-primary-navigation}
			{exp:structure:nav include_ul="no" exclude="1" max_depth="4" show_depth="4" rename_overview="title" show_overview="yes" status="not closed" add_unique_ids='yes'}
<li id="nav-sub-athletics">
    <a href="http://www.dsuathletics.com/" rel="external" target="_blank">Athletics</a>
    <div class="nav-athletics-callout">
        <p>{sd-athletics-primary-nav-text}</p>
        <a href="http://www.dsuathletics.com/" rel="external" target="_blank">Trojan Athletics</a>
    </div>
</li>
		{/stash:global-primary-navigation}

		{stash:global-my-dsu-url}{sd-my-dsu-url}{/stash:global-my-dsu-url}

		{exp:stash:set_list name='global-header-aux-callouts' parse_tags='yes'}
			{sd-header-aux-callouts}
				{stash:hac-title}{sd-header-aux-callouts:title}{/stash:hac-title}
				{stash:hac-page}{sd-header-aux-callouts:page}{/stash:hac-page}
				{stash:hac-url}{sd-header-aux-callouts:url}{/stash:hac-url}
			{/sd-header-aux-callouts}
		{/exp:stash:set_list}

		{exp:stash:set_list name='global-header-aux-nav' parse_tags='yes'}
			{sd-header-aux-nav}
				{stash:han-title}{sd-header-aux-nav:title}{/stash:han-title}
				{stash:han-page}{sd-header-aux-nav:page}{/stash:han-page}
				{stash:han-url}{sd-header-aux-nav:url}{/stash:han-url}
			{/sd-header-aux-nav}
		{/exp:stash:set_list}

		{stash:global-featured-background-photo}{sd-featured-background-photo}{/stash:global-featured-background-photo}
		{stash:global-lead-headline}{sd-lead-headline}{/stash:global-lead-headline}

		{exp:stash:set_list name='global-featured-pages' parse_tags='yes'}
			{sd-featured-pages}
				{stash:fp-photo}{sd-featured-pages:photo:224x224}{/stash:fp-photo}
				{stash:fp-photo-2x}{sd-featured-pages:photo:448x448}{/stash:fp-photo-2x}
				{stash:fp-alt-text}{sd-featured-pages:alt-text}{/stash:fp-alt-text}
				{stash:fp-excerpt}{sd-featured-pages:excerpt}{/stash:fp-excerpt}
				{stash:fp-button-label}{sd-featured-pages:button-label}{/stash:fp-button-label}
				{stash:fp-button-page}{sd-featured-pages:button-page}{/stash:fp-button-page}
			{/sd-featured-pages}
		{/exp:stash:set_list}

		{stash:global-body-headline}{sd-body-headline}{/stash:global-body-headline}
		{stash:global-body-content}{sd-body-content}{/stash:global-body-content}
		{stash:global-body-video}{sd-body-video:embed_url}{/stash:global-body-video}

		{exp:stash:set_list name='global-body-more-info' parse_tags='yes'}
			{sd-body-more-info}
				{stash:bmi-title}{sd-body-more-info:title}{/stash:bmi-title}
				{stash:bmi-page}{sd-body-more-info:page}{/stash:bmi-page}
			{/sd-body-more-info}
		{/exp:stash:set_list}

		{stash:global-choose-dsu-headline}{sd-choose-dsu-headline}{/stash:global-choose-dsu-headline}

		{exp:stash:set_list name='global-choose-dsu' parse_tags='yes'}
			{sd-choose-dsu}
				{stash:cd-photo}{sd-choose-dsu:photo:330x310}{/stash:cd-photo}
				{stash:cd-alt-text}{sd-choose-dsu:alt-text}{/stash:cd-alt-text}
				{stash:cd-title}{sd-choose-dsu:title}{/stash:cd-title}
				{stash:cd-excerpt}{sd-choose-dsu:excerpt}{/stash:cd-excerpt}
				{stash:cd-link-label}{sd-choose-dsu:link-label}{/stash:cd-link-label}
				{stash:cd-link-page}{sd-choose-dsu:link-page}{/stash:cd-link-page}
			{/sd-choose-dsu}
		{/exp:stash:set_list}

		{stash:global-news-events-headline}{sd-news-events-headline}{/stash:global-news-events-headline}

		{exp:stash:set_list name='global-footer-callouts' parse_tags='yes'}
			{sd-footer-callouts}
				{stash:fc-button-label}{sd-footer-callouts:button-label}{/stash:fc-button-label}
				{stash:fc-button-page}{sd-footer-callouts:button-page}{/stash:fc-button-page}
			{/sd-footer-callouts}
		{/exp:stash:set_list}

		{exp:stash:set_list name='global-social-networks' parse_tags='yes'}
			{sd-social-networks}
				{stash:sn-social-network}{sd-social-networks:social-network}{/stash:sn-social-network}
				{stash:sn-url}{sd-social-networks:url}{/stash:sn-url}
				{stash:sn-alt-text}{sd-social-networks:alt-text}{/stash:sn-alt-text}
			{/sd-social-networks}
		{/exp:stash:set_list}

		{exp:stash:set_list name='global-quick-links' parse_tags='yes'}
			{sd-quick-links}
				{stash:ql-title}{sd-quick-links:title}{/stash:ql-title}
				{stash:ql-page}{sd-quick-links:page}{/stash:ql-page}
			{/sd-quick-links}
		{/exp:stash:set_list}

		{stash:global-phone-friendly}{sd-phone-friendly}{/stash:global-phone-friendly}
		{stash:global-phone-number}{sd-phone-number}{/stash:global-phone-number}

		{exp:stash:set_list name='global-contact' parse_tags='yes'}
			{sd-contact}
				{stash:c-label}{sd-contact:label}{/stash:c-label}
				{stash:c-url}{sd-contact:url}{/stash:c-url}
			{/sd-contact}
		{/exp:stash:set_list}

		{stash:global-address}{sd-address}{/stash:global-address}
		{stash:global-city-state-zip}{sd-city-state-zip}{/stash:global-city-state-zip}

		{exp:stash:set_list name='global-footer-aux-nav' parse_tags='yes'}
			{sd-footer-aux-nav}
				{stash:fan-title}{sd-footer-aux-nav:title}{/stash:fan-title}
				{stash:fan-page}{sd-footer-aux-nav:page}{/stash:fan-page}
				{stash:fan-url}{sd-footer-aux-nav:url}{/stash:fan-url}
			{/sd-footer-aux-nav}
		{/exp:stash:set_list}

		{stash:global-alert-rss-url}{sd-alert-rss-url}{/stash:global-alert-rss-url}
        {stash:global-social-image}{sd-social-image}{/stash:global-social-image}
		{stash:global-facebook-app-id}{sd-facebook-app-id}{/stash:global-facebook-app-id}
		{stash:global-twitter-handle}{sd-twitter-handle}{/stash:global-twitter-handle}
		{stash:global-google-handle}{sd-google-handle}{/stash:global-google-handle}
		{stash:global-seo-title}{sd-seo-title}{/stash:global-seo-title}
		{stash:global-seo-description}{sd-seo-description}{/stash:global-seo-description}
		{stash:global-social-description}{sd-social-description}{/stash:global-social-description}
		{stash:global-analytics-code}{sd-analytics-code}{/stash:global-analytics-code}

	{/exp:channel:entries}

	{exp:calendar:cal event_limit='1' search:event-featured='y' date_range_start="today" show_years="2" pad_short_weeks='n' orderby='title' sort='asc' cache='yes' refresh='15' disable='member_data|pagination|categories'}
	{stash:global-featured-event}{event_id}{/stash:global-featured-event}
	{/exp:calendar:cal}
{/exp:stash:set}
