html, body, div, span, object, iframe, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border:0;
	margin:0;

}

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
	background: #242424 url(/css/img/background-texture500.jpg) repeat-x left top;
	font-family : 'Lato', 'Arial', sans-serif;
	color : #222;
	position:relative;
	z-index:0;
	min-width:320px;
}
p {
	font-size : 14px;
	line-height : 25px;
}

.content a:link {
	color:#333;
	text-decoration:underline;
	}
.content a:visited {
	color:#333;
	text-decoration:underline;
	}
.content a:hover {
	color:#d50582;
	text-decoration:underline;
	}
.content a:active {
	color:#d50582;
	text-decoration:underline;	
	}



h1, h2, h3, h4, h5, h6 {
	font-family : 'Arvo', sans-serif;
	font-weight : 700;
}


h1 {
	font-size : 140%;
	margin: 0 0 10px 0;
}


h2 {
	font-size : 120%;
	margin-top : 10px;
}


h3 {
	font-size : 100%;
	margin-top : 10px;
}


h4 {
	font-size : 90%;
	margin-top : 10px;
}


h5 {
	font-size : 85%;
	margin-top : 10px;
}


h6 {
	font-size : 80%;
	margin-top : 10px;
}


/*  ==================== Places a horizontal line in between content  ====================  */
hr {
	background-color : #333333;
	border : medium none;
	clear : both;
	color : #333333;
	height : 1px;
	margin : 10px 0;
	padding : 0;
	text-align : center;
	width : 100%;
}


/*Table styles */
/*DEFAULT SETTING: HAS BORDERS*/
table {
	border-style : none;
	margin : 0 0 20px 20px; /*Added 20px to bottom*/
	font-size : 85%;
}


.borders {
	border : 1px solid #444444;
	border-collapse : collapse;
}


.borders td {
	border : 1px solid #444444;
}


.borders th {
	border : 1px solid #444444;
}


th {
	background-color : #dedede;
}


td {
	border-style : none;
	padding : 5px;
}


.excel {
	background : url(/images/excel-icon.jpg) no-repeat;
	padding :0 0 0 25px;
}


.word {
	background : url(/images/word-icon.jpg) no-repeat;
	padding :0 0 0 25px;
}


.pdf {
	background : url(/images/pdficon_small.gif) no-repeat;
	padding :0 0 0 25px;
}


.video {
	background : url(/images/video-icon2.gif) no-repeat;
	padding :0 0 0 25px;
}


.pub {
	background : url(/images/pub-icon.jpg) no-repeat;
	padding :0 0 0 25px;
}


.ppt {
	background : url(/images/ppt-icon.jpg) no-repeat;
	padding :0 0 0 25px;
}

a img {
	border : 0;
}
/* ============================== */
/* ! Layout                       */
/* ============================== */

.content {
	background-color: #faf7f2;
	border-top: 4px solid #d50582;
	min-height:400px;
	padding:0;
	width:100%;
}

.container {
	width: 100%;
}
.row {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	overflow: hidden;
}
.topmenu {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}
.logo {
	padding-top:10px;
}
.logo a {
	padding-left: 22px;
}


/* edit  remove me? 
.content a:link {
	color:#333;
	
}
.content a:visited {
	color:#333;
	
}
.content a:hover {
	color:#d50582;
	

}
.content a:active {
	color:#d50582;
	
}
*/
.content .nav-list {
	list-style-type:none;
	font-weight:bold;
	font-size:100%;
	line-height:125%;
	margin:0 0 10px 0;
	}
	
.content .nav-list li {
	padding-bottom:15px;
	}
	
.content .nav-list-secondary {
	list-style-type:none;
	font-weight:bold;
	font-size:80%;
	line-height:150%;
	padding-left:10px; /*used to be margin-top: 0 */
	}
	
.content .nav-list a:link {
	color:#333;
	text-decoration:none;
	}
.content .nav-list a:visited {
	color:#333;
	text-decoration:none;
	}
.content .nav-list a:hover {
	color:#d50582;
	text-decoration:none;
	}
.content .nav-list a:active {
	color:#d50582;
	text-decoration:none;	
	}
	
.content ul {
	font-size:13px;
	line-height:160%;
	 /*Deleted margin-top:-15px; 12:02pm TL */
	}
	
.content ul li ul {
	font-size:13px;
	line-height:160%;
	margin-top:10px;
	}
	
.content ol {
	font-size:13px;
	line-height:160%;
	margin-left:45px;
	}			
.content unbulleted-list ul  {
	list-style-type:none;
}	
	
	

.content .newsfeed {
	list-style:none;
	margin-top:0;
} 
.content .newsfeed li {
	
	line-height:1.5;
	margin-left:-40px;
	padding-top:5px;
	padding-bottom:10px;
}


.content .researchhome {
background: url(/css/img/research-swirl.png) no-repeat right top;
}



/*   -----------------------------  SPECIAL CONTENT BOXES  ------------------------------- */

/*   Information Box   */
.information {
	background : #ccffcc;
	font-size : 80%;
	padding : 10px;
	margin : 20px;
	border : 1px solid #006600;
	color : #006600;
	border-radius : 5px;
}
.information a:link {
	color : #006600;
	text-decoration : underline;
}
.information a:visited {
	color : #555555;
	text-decoration : underline;
}
.information a:hover {
	color : #333333;
	text-decoration : underline;
}
.information a:active {
	color : #006600;
	text-decoration : underline;
}


/*   Alert Box   */
.alert {
	background : #ffcccc;
	padding : 10px;
	font-size : 80%;
	margin : 20px;
	border : 1px solid #990000;
	color : #990000;
	border-radius : 5px;
}
.alert a:link {
	color : #990000;
	text-decoration : underline;
}
.alert a:visited {
	color : #555555;
	text-decoration : underline;
}
.alert a:hover {
	color : #333333;
	text-decoration : underline;
}
.alert a:active {
	color : #990000;
	text-decoration : underline;
}


/*   Instruction Box   */
.instructions {
	background : #ffffcc;
	font-family : Courier New, Courier, monospace;
	font-size : 80%;
	padding : 10px;
	margin : 20px;
	border : 1px solid #996600;
	color : #996600;
	border-radius : 5px;
}

.instructions li {
	margin-left:25px;
}

.instructions a:link {
	color : #996600;
	text-decoration : underline;
}
.instructions a:visited {
	color : #555555;
	text-decoration : underline;
}
.instructions a:hover {
	color : #333333;
	text-decoration : underline;
}
.instructions a:active {
	color : #996600;
	text-decoration : underline;
}


/*   Note Box   */
.note {
	background : #cee2f5;
	padding : 10px;
	font-size : 80%;
	margin : 20px;
	border : 1px solid #003366;
	color : #003366;
	border-radius : 5px;
}
.note a:link {
	color : #003366;
	text-decoration : underline;
}
.note a:visited {
	color : #555555;
	text-decoration : underline;
}
.note a:hover {
	color : #999999;
	text-decoration : underline;
}
.note a:active {
	color : #003366;
	text-decoration : underline;
}

/*----------------------------  Breadcrumbs  ------------------- */
.row .mp_backlinks {
	font-size : 85%;
	margin : 0px;
	padding : 5px 0 10px 0;
	width : 100%;
	float : none;
	clear : both;
}


.row .mp_backlinks > p > img {
	margin-bottom : 0;
	padding-right : 5px;
	padding-left : 5px;
}

/* -----------------   TOP NAVIGATION BAR  -------------------------- */
.topnav ul {
	margin-top:10px;
	float: right;
	list-style-image: none;
	list-style-position: inside;
	list-style-type: none;	
	font-size: 13px;
}
.topnav li {
	display: inline;
	list-style-type: none;
	padding-right: 0;
	padding-left:30px;
}
.topnav li a {
	padding : 5px;
	color : #faf7f2;
	text-shadow : #333 2px 2px;
	text-align : center;
	text-decoration: none;
}
.topnav > ul > li > a:hover {
	color : #fff200;
	text-decoration:underline;
}

.toplast {
	float:right; /*-- was left --*/
}
	
#headerdrop {
	margin-top: 45px;
}	

/*--------------------------------------------------------------------------------------------------@media ----------------------*/



/* -----------------   SEARCH SUBMIT BUTTON  -------------------------- */

.submit {
height: 24px;
width: 24px;
background: url('http://www.dsu.edu/images/search-button2.png') no-repeat scroll 0 0;
border: none;
margin-left: 4px;
vertical-align: middle;
vertical-align: text-bottom;
}

/* -----------------   MAIN HORIZONTAL NAVIGATION BAR  -------------------------- */
.row .mainnav ul {
	font-family : 'Arvo', sans-serif;
	margin-top:-10px;
	margin-bottom:10px;
	float: right;
	list-style-image: none;
	list-style-position: inside;
	list-style-type: none;
	letter-spacing: 2px;
	font-size: 15px;
	width: 830px;
}
.row .mainnav li {
	display: inline;
	list-style-type: none;
	padding-right: 0;
	padding-left: 35px;
}
.row .mainnav li a {
	padding : 0;
	color : #faf7f2;
	text-shadow : #333 2px 2px;
	text-align : center;
	text-decoration: none;
}

.mainnav > ul > li > a:hover {
	color : #fff200;
	text-decoration:underline;
}

#extrabox{
 	background-color: #FAF7F2;
    border: 1px solid #333;
    display: inline;
    float: right;
    margin:0 0 0 3px;
    padding: 10px;
    text-align: left;
    width: 200px;
}
#extrabox ul{
    margin-top: -10px;
    margin-left:-25px;
}

.content .researchhome {
	background: url(/css/img/research-swirl.png) no-repeat right top;
}



/* -----------------   Footer Styles  -------------------------- */
.footer {
	font-size : 12px;
	color:#faf7f2;
}
.footer p{
	font-size : 12px;
	color:#faf7f2;
	line-height: 160%;
}

.footer p a:link, .footer p a:visited {
	color:#faf7f2;
	text-decoration : underline;	
}
.footer p a:hover, .footer p a:active {
	color:#fff200;
	text-decoration:none;
	}

.footer ul a:link {
	color:#faf7f2;
	text-decoration:none;
	}
.footer ul a:visited {
	color:#faf7f2;
	text-decoration:none;
	}
.footer ul a:hover {
	color:#fff200;
	text-decoration:none;
	}
.footer ul a:active {
	color:#fff200;
	text-decoration:none;	
	}


.bottom .container .row {
	text-align: center;
}

.bottom img {
	margin: 0 36px;
}

.footer-container {
	font-size : 12px;
	border-top : 4px solid #d50582;
	background-color : #222;
	background : url("/css/img/bg-texture-gray.jpg") repeat transparent;
}

.footer a img:hover, .bottom a img:hover {
	opacity : 0.5;
}


.footer:after {
	content : "\0020";
	display : block;
	height : 0;
	clear : both;
	visibility : hidden;
}


.footersocial img {
	width : 32px;
	max-width: none;
	height : 32px;
}


.footer h4 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    position: relative;
    z-index: 1;
    color: #dedede;
}

.footer a {
	color : #faf7f2;
	text-decoration: none;
}
.footer a:hover {
	color : #fff200;
	text-decoration: none;
}
.footer ul {
margin-left: -40px;
}

.footer li {
	line-height : 160%;
	list-style: none;
}

.footer img {
width: 32px;
}

.footer {
	background : #222 url(/css/img/bg-texture-gray.jpg)  repeat;
	border-top: 4px solid #d50582;
	position:relative;
	z-index:1;
	padding:10px 0 0 0;
}

.bottom {
	background : #333 url(/css/img/bg-texture-gray.jpg);
	border-top: 1px solid #d50582;
	border-bottom: 1px solid #d50582;
	position:relative;
	z-index:1;
	padding:0;
}
/* ----------- Direct Edit Button -------*/
.DEB {
	font-size:13px;
	text-align:center;
	padding:10px;
}

.DEB a:link {
	color:#777;
	text-decoration:underline;
}
.DEB a:visited {
	color:#777;
	text-decoration:underline;
}
.DEB a:active {
	color:#faf7f2;
	text-decoration:underline;
}

.DEB a:hover {
	color:#fff200;
	text-decoration:underline;
}


.content .container .row {
padding-left:10px;
width:95%;
}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
	margin-right:0;
	float: left;
	min-height: 1px;

}
.row .onecol {
	width: 4.85%;
}
.row .twocol {
	width: 13.45%;
}
.row .threecol {
	width: 22.05%;
	margin-right:2.95%;
}

.row .fourcol {
	width: 30.3%;
	margin-right:2.95%;
}
.row .fivecol {
	width: 39.45%;
}
.row .sixcol {
	width: 46%;
	margin-right:2.95%;
}
.row .sevencol {
	width: 56.75%;
}
.row .eightcol {
	width: 65.4%;
}
.row .ninecol {
	width: 74.05%;
	margin: 0 auto;
	padding-bottom:10px;
}

.row .tencol {
	width: 82.7%;
}
.row .elevencol {
	width: 91.35%;
}
.row .twelvecol {
	width: 100%;

}
.last {
	margin-right: 0px;
}
.search {
	padding-top:10px;
	float:right;
	min-width: 193px;
}
.search form {
	float: right;
}

img, object, embed {
	max-width: 100%;
}
img {
	height: auto;
}
.directory {
clear:both;
}
/*Directory Styles*/
.directory{
clear:both;
}
.dirsearch {
	font-size:14px;
	float: left; 
	width:260px; 
	padding:5px;
	float:left;
}
.dirln {
	clear:both;
	float:left;
}
.dirlnlast {

	float:left;
}
.entry {
	font-size:14px;
	float: left; 
	width:400px; 
	padding:5px;
	float:left;
}
.entry img {
	float: left;
	height: 150px;
	width:120px; 
	margin: 5px;
}

.dirtext {

	max-height:150px;

}
.entry a {
	text-decoration: underline;
}

.entry a:hover {
	text-decoration: none;
} 

/* ============================== */
/*     nav-list from text.css     */
/* ============================== */

.content ul.unbulleted-list{
	font-size:14px;
	list-style-type:none;
	padding: 10px 5px 10px 20px;
	list-style-position: outside;
	margin-left: 20px;
	text-decoration: none;
}
.content ul.unbulleted-list li{
	line-height: 20px;	
}

.content ul.unbulleted-list a:hover, #content ul.bulleted-list a:hover, #content ul.nav-list a:hover{
	text-decoration: underline;
}



/* ============================== */
/* !            Megamenu          */
/* ============================== */

.megamenu_container {
width:960px;
height:38px;
margin:0 auto;
position:relative;
}

.megamenu {
list-style:none;
z-index:9999;
padding:0;
margin:0;
font-family:'Lato', 'Arial', sans-serif;
font-size:12px;
color:#faf7f2;
line-height:1
}

.megamenu li {
float:left;
margin:0;
border:none
}

.megamenu li:hover {
background:none
}

.megamenu li a {
font-size:12px;
color:#faf7f2;
text-transform:uppercase;
text-shadow:1px 1px 1px #000;
outline:0;
font-weight:500;
text-decoration:none;
display:block;
padding:16px
}

.megamenu li:hover a {
color:#FFF200;
text-shadow:1px 1px 1px #000
}

.megamenu li .drop {
padding-right:30px;
background:url(/css/img/down.png) no-repeat right center
}

.megamenu li.right {
float:right;
margin-right:-1px
}

.megamenu li.right a {
margin-right:5px
}

.megamenu li .dropcontent {
margin:0 auto;
position:absolute;
left:-9999em;
top:38px;
z-index:9998;
padding:24px 0 10px;
text-align:left;
border-top:none;
background-image:url(/css/img/bg-texture-gray.jpg);
background-color:#333;
border-radius:0 0 4px 4px
}

.megamenu li:hover .dropcontent {
left:auto
}

.megamenu li .align_right {
right:-1px
}

.megamenu li:hover .align_right {
left:auto;
right:-1px
}

.megamenu li .fullwidth {
position:absolute;
width:960px;
padding:24px 0 10px;
left:-9999em;
top:38px;
border-top:none;
background-image:url(/css/img/bg-texture-gray.jpg);
background-color:#333;
border-radius:0 0 4px 4px
}

.megamenu li:hover .fullwidth {
display:block;
z-index:9998;
left:-1px
}

.megamenu .drop3columns {
width:240px
}

.megamenu .drop6columns {
width:500px
}
.megamenu .drop8columns {
width:640px
}

.megamenu .col_2,.megamenu .col_3,.megamenu .col_6 {
float:left;
display:inline;
position:relative;
margin-left:15px;
margin-right:15px
}

.megamenu .col_2 {
width:130px
}

.megamenu .col_3 {
width:210px
}

.megamenu .col_6 {
width:450px
}

.megamenu h4,.megamenu h5 {
padding:0;
margin:0;
font-family:Arvo, serif;
color:#faf7f2;
text-shadow:1px 1px 1px #000
}

.megamenu p {
font-size:12px;
line-height:21px;
margin-bottom:18px;
padding:0;
margin:0 0 15px;
text-shadow:1px 1px 1px #000
}

.megamenu h4,.megamenu h5 {
margin-bottom:12px
}

.megamenu h4 {
font-size:18px;
line-height:22px
}

.megamenu h5 {
font-size:15px;
line-height:20px
}

.megamenu li .dropcontent a,.megamenu li .fullwidth a {
text-transform:none;
font-size:12px;
line-height:18px;
display:inline;
padding:0
}

.megamenu li .dropcontent a:hover,.megamenu li .fullwidth a:hover {
padding:0
}

.megamenu li ul {
list-style:none;
padding:0;
margin:0 0 12px
}

.megamenu li ul li {
font-size:12px;
line-height:18px;
position:relative;
padding:0 0 12px;
margin:0;
float:none;
text-align:left
}

.megamenu li ul li:hover {
background:none;
border:none
}

.megamenu h5.categories {
border-top:1px solid #fff200;
border-bottom:1px solid #fff200;
padding:5px 0
}

.megamenu ul.categories {
background:url(/css/img/menu_separator.jpg) top repeat-x
}

.megamenu ul.categories li,.megamenu ul.categories li:hover {
background:url(/css/img/menu_separator.jpg) bottom repeat-x;
padding:9px 0
}

.megamenu li .dropcontent ul.categories li a,.megamenu li .fullwidth ul.categories li a {
color:#faf7f2
}

.megamenu li .dropcontent ul.categories li a:hover,.megamenu li .fullwidth ul.categories li a:hover {
color:#fff200;
text-decoration:underline
}

.megamenu .dropcap {
display:block;
float:left;
font-size:42px;
line-height:36px;
margin:2px 8px 0 0
}

.menu_cherry .megamenu li .dropcontent a,.menu_cherry .megamenu li .fullwidth a {
color:#faf7f2
}

.menu_cherry .megamenu li .dropcontent a:hover,.menu_cherry .megamenu li .fullwidth a:hover {
color:#fff200;
text-decoration:underline
}

.minimenu .megamenu {
width:403px;
margin:0 auto;
}

/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
 /*  =============================================================  */
 

/* HTML5 display-role reset for older browsers */
.flexcontainer article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
.flexcontainer blockquote, q {quotes: none;}
.flexcontainer blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
.flexcontainer table {border-collapse: collapse; border-spacing: 0;}
.flexcontainer strong {font-weight: bold;}
.flexcontainer em {font-style: italic;}
.flex-caption {margin-bottom:0px;} /* added to drop "discription" down JK */

.flexcontainer {width: 80%; max-width: 960px; margin: 0 auto; z-index:5000;}

/*  h2 {padding: 20px 0 30px; font-size: 18px; line-height: 22px; font-style: italic;}
h2 a {text-decoration: none; color: #427f9e;}
h2 a:hover {border-bottom: 1px dotted #427f9e;} */
 
 
  /*  =============================================================  */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin-bottom:40px; padding: 0;} /*-- was  margin: 10px 0 40px 0; --*/
.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {background: #faf7f2; border: 4px solid #faf7f2; position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {width: 96%; padding: 2%; position: absolute; right: 0; bottom: 0; background: rgba(0,0,0,.7); font-family:'Lato', 'Arial', sans-serif; color: #fff200; text-shadow: 0 -1px 0 rgba(0,0,0,1); word-spacing:5px; text-transform:uppercase; line-height: 12px; text-align:right;}

/* Direction Nav */
.flex-direction-nav li a {width: 52px; height: 52px; margin: -25px 0 0; display: block; background: url(/css/img/bg-direction-nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;}
.flex-direction-nav li .next {background-position: -52px 0; right: -21px;}
.flex-direction-nav li .prev {left: -20px;}
.flex-direction-nav li .disabled {opacity: .5; filter:alpha(opacity=50); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(/css/img/bg-control-nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}





/* media controls */
@media (max-width: 835px) {
.flexslider {
	margin: 10px;
}
.flex-control-nav {
	display:none;
}
}

@media (max-width: 559px) {
.flexslider {
	display:none;
}
}

/* ============================= */
/* ! Layout for Library          */
/* ============================= */
.content .container .row .librarynavlist {
	 /* height:24px; -- removed BW*/
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.content .container .row .librarynavlist li {
	float:right;
	display: inline;
	list-style-type: none;
	padding-right: 15px;
	margin-top: -14px; /* added BW */
}
.content .container .row .librarynavlist li a {
	text-decoration:none;
}
.content .container .row .librarynavlist li a:hover {
	text-decoration:underline;
}
.content .container .row .navDrop {
	float: right;
	padding-right: 15px;
}
.libraryrightnav {
	text-align:center;
}
	
.libraryalert {
color: #930;
font-weight: bold;
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */


@media (max-width: 990px) {
.row .mainnav ul {
	width:770px;
}
.row .mainnav li {
	padding-left:25px;
}
}

@media (min-width:971px){
.minimenu {
 display:none;
}
}

@media (max-width: 970px) {
.megamenu_container {
	width:100%;
	
	
}
.mediamegamenu {
	display:none;
}
.minimenu {
 display:block;
}

.minimini {
	display:none;
}
.minibig {
	display:inherit;
}
.megamenu li a {
	padding:16px 8px;
}
.libraryleftnav {
	width:175px;
}
.libraryleftnav .accordionButton {
width: 160px;
}

.libraryleftnav .accordionContent {
width: 153px;
}


}

@media only screen and (max-width: 958px) {
.bottom img {
	margin: 0 16px;
}

.footer img {
width: 28px;
}
}

@media (max-width: 934px) {
.row .mainnav ul {
	width:710px;
}
.row .mainnav li {
	padding-left:15px;
}
}

@media (max-width: 886px) {
.row .mainnav ul {
	width:650px;

}
.row .mainnav li {
	padding-left:5px;
}
}

@media only screen and (max-width: 835px) {
.bottom img {
	margin: 0 8px;
}
}


@media (max-width: 835px) {

.row .mainnav ul {
	width:100%;
	margin:auto;
	text-align:center;
	padding-bottom:10px;
}
.row .mainnav li {
	display:inherit;
	padding:5px;
	
}
.secondary .logo {
	width:100%;
	text-align:center;
}
.secondary .logo a {
	padding-left: 0px;
}
.secondary .search {
	width:100%;
	float:none;
	text-align:center;
}
#cse-search-form {
	float: none;
	width:100%;
	margin:0 auto;

}
.content .container .librarynav div {
	width:100%;
	float:none;
	text-align:center;
}
.content .container .row .librarynavlist li {
	float:none;
	text-align:center;
}

.content .container .librarynav .navDrop{
	padding-bottom:10px;
}


.footer img {
width: 24px;
}

}

@media handheld, only screen and (max-width: 767px) {

	body {
	background: url(/css/img/background-texture500.jpg) repeat-x;	
	}

}
 @media (max-width:764px){
.row .libraryleftnav{
	width:100%;
}
.row .libraryrightnav {
	width:200%;
}
	
.libraryleftnav {
	width:100%;
	text-align:center;
}
.libraryleftnav .accordionButton {
	width: 210px;
	float:none;
	margin: 0 auto; 
}

.libraryleftnav .accordionContent {
	width: 95%;
}
}

@media (max-width: 700px) {
.row .threecol {
	width:100%;
}
.entry img {
	height:112px;
	width:90px;
	padding-left: 15px;

}
.row .libraryrightnav {
	width:100%;
}
ul.librarynavlist{
	padding-left: 0px;
}
.content .container .row .twelvecol {
	padding-left: 15px;
	width:95%;
}
.content .container .row .ninecol {
	padding-left: 15px;
	width:95%;
}
.content .container .row .sixcol {
	padding-left: 15px;
	width:95%;
}
.content .container .row .fourcol {
	padding-left: 15px;
	width:95%;
}
.content .container .row .threecol {
	padding-left: 15px;
	width:95%;
}
.footer .container .row .threecol {
	padding-left: 15px;
}
.bottom {
	display:none;
}
}

@media (max-width: 418px) {
.minimenu .megamenu {
width:275px;
margin:0 auto;
}
.megamenu li a {
	padding:16px 4px;
	font-size:11px;
}
.minimini {
	display:inherit;
}
.minibig {
	display:none;
}
}
