{if get:state}
	<h3>Undergraduate Programs</h3>
	{exp:channel:entries channel='state' url_title='{get:state}' dynamic='no' limit='1' cache='yes' refresh='1440'}
	  {if "{exp:playa:total_parents channel='program' search:page-program-category='bachelors|associates|certificates'}" > 0}
	    <div class="accordiongroup">
		  <section class="accordionitem">
			<header>
	  		  <h4>Bachelor</h4>
			</header>
			<div class="sectioncontent usercontent">
			  <ul>
				{exp:playa:parents channel='program' orderby='title' sort='asc' search:page-program-category="bachelors"}
				  <li><a href="{page_url}">{title}</a></li>
				  {if no_parents}
				  	<li>Sorry, no online bachelor&#39;s programs are currently offered for your state.</li>
				  {/if}
				{/exp:playa:parents}
			  </ul>
			</div>
		  </section>
		  <section class="accordionitem">
			<header>
	  		  <h4>Associate</h4>
			</header>
			<div class="sectioncontent usercontent">
			  <ul>
				{exp:playa:parents channel='program' orderby='title' sort='asc' search:page-program-category="associates"}
				  <li><a href="{page_url}">{title}</a></li>
				  {if no_parents}
				  	<li>Sorry, no online associate programs are currently offered for your state.</li>
				  {/if}
				{/exp:playa:parents}
			  </ul>
			</div>
		  </section>
		  <section class="accordionitem">
			<header>
	  		  <h4>Certificate</h4>
			</header>
			<div class="sectioncontent usercontent">
			  <ul>
				{exp:playa:parents channel='program' orderby='title' sort='asc' search:page-program-category="certificates"}
				  <li><a href="{page_url}">{title}</a></li>
				  {if no_parents}
				  	<li>Sorry, no online undergraduate certificates are currently offered for your state.</li>
				  {/if}
				{/exp:playa:parents}
			  </ul>
			</div>
		  </section>
	    </div>
	  {if:else}
		<p>Sorry, no online undergraduate programs are currently offered for your state.</p>
	  {/if}
	{/exp:channel:entries}
	
	<h3>Graduate Programs</h3>
	{exp:channel:entries channel='state' url_title='{get:state}' dynamic='no' limit='1' cache='yes' refresh='1440'}
	  {if "{exp:playa:total_parents channel='program' search:page-program-category='doctoral|masters|grad-cert'}" > 0}
	  	<div class="accordiongroup">
		  <section class="accordionitem">
			<header>
	  		  <h4>Doctoral</h4>
			</header>
			<div class="sectioncontent usercontent">
			  <ul>
				{exp:playa:parents channel='program' orderby='title' sort='asc' search:page-program-category="doctoral"}
				  <li><a href="{page_url}">{title}</a></li>
				  {if no_parents}
				  	<li>Sorry, no online doctoral programs are currently offered for your state.</li>
				  {/if}
				{/exp:playa:parents}
			  </ul>
			</div>
		  </section>
		  <section class="accordionitem">
			<header>
	  		  <h4>Master</h4>
			</header>
			<div class="sectioncontent usercontent">
			  <ul>
				{exp:playa:parents channel='program' orderby='title' sort='asc' search:page-program-category="masters"}
				  <li><a href="{page_url}">{title}</a></li>
				  {if no_parents}
				  	<li>Sorry, no online master&#39;s programs are currently offered for your state.</li>
				  {/if}
				{/exp:playa:parents}
			  </ul>
			</div>
		  </section>
		  <section class="accordionitem">
			<header>
	  		  <h4>Certificate</h4>
			</header>
			<div class="sectioncontent usercontent">
			  <ul>
				{exp:playa:parents channel='program' orderby='title' sort='asc' search:page-program-category="grad-cert"}
				  <li><a href="{page_url}">{title}</a></li>
				  {if no_parents}
				  	<li>Sorry, no online gradutate certificates are currently offered for your state.</li>
				  {/if}
				{/exp:playa:parents}
			  </ul>
			</div>
		  </section>
	    </div>
	  {if:else}
		<p>Sorry, no online graduate programs are currently offered for your state.</p>
	  {/if}
	{/exp:channel:entries}
	
	<script>$('.accordiongroup').accordionify();</script>
{/if}