{if get:program}
	<ul>
	{exp:channel:entries channel='program' url_title='{get:program}' dynamic='no' limit='1' cache='yes' refresh='1440'}
		{exp:playa:children field='page-program-online-states' orderby='title' sort='asc'}
		<li>{title}</li>
		{/exp:playa:children}
	{/exp:channel:entries}
	</ul>
{/if}