{exp:stash:set_list name="directory-data" parse_tags="yes" parse_depth="2" save="yes" replace="no" scope="site"}
	{exp:channel:entries channel='person' dynamic='no' orderby="p-last-name|p-first-name" sort='asc|asc' disable='member_data|pagination' limit='700' cache='yes' refresh='1440'}
		{stash:directory-entry-id}{entry_id}{/stash:directory-entry-id}
		{exp:stash:set_list:nested name="directory-data-{entry_id}" parse_tags="yes" parse_depth="2" save="yes" replace="no" scope="site"}
			{stash:first-name}{p-first-name}{/stash:first-name}
			{stash:last-name}{p-last-name}{/stash:last-name}
			{stash:image}{p-image:328x328}{/stash:image}
			{stash:department}{p-department}{title}{/p-department}{/stash:department}
			{stash:position}{p-position}{/stash:position}
			{stash:phone}{p-phone}{/stash:phone}
			{stash:email}{p-email}{/stash:email}
			{stash:office-location}{p-office-location}{/stash:office-location}
			{stash:website-url}{p-website-url}{/stash:website-url}
			{stash:directory-url}{page_url}{/stash:directory-url}
		{/exp:stash:set_list:nested}
	{/exp:channel:entries}
{/exp:stash:set_list}

{exp:stash:set name="directory-rendered-html" parse_tags="yes" parse_depth="2" save="yes" replace="no" scope="site" output="yes"}
<div class="facultydirectory">
	<div id="facultydirectorysearch">
		<div class="searchbox">
			<input type="search" placeholder="Quick Search">
		</div>

		<div class="sortby">
			<span>Sort by:</span>
			<input type="radio" name="sortby" value="name" id="sortby-name" checked> <label for="sortby-name">Name</label>
			<input type="radio" name="sortby" value="department" id="sortby-department"> <label for="sortby-department">Department</label>
		</div>
	</div>

	<h2 id="facultydirectorycategory">Name</h2>

	<div class="accordiongroup">

		<?php
		$count = 0;
		$last_section = '';
		?>
		{!-- {exp:channel:entries channel='person' dynamic='no' orderby="p-last-name|p-first-name" sort='asc|asc' disable='member_data|pagination' limit='700' cache='yes' refresh='1440'} --}
		{exp:stash:get_list name="directory-data"  save="yes" replace="no" scope="site"}
			{exp:stash:get_list:nested name="directory-data-{directory-entry-id}" save="yes" replace="no" scope="site"}

		<?php
		$section = strtoupper(substr("{last-name}",0,1));
		?>
		<?php if ($last_section != $section) { ?>
		<?php if ($count) { ?>
	</div>
	</section>
	<?php } ?>
	<section class="accordionitem">
		<header>
			<h4><?php echo $section; ?></h4>
		</header>
		<div class="sectioncontent">
			<?php } ?>
			<div class="facultydirectoryitem" data-name="<?php echo $section; ?>" data-department="{department}">
				<div class="facultydirectory-top">
					<h5><a href="{directory-url}">{last-name}, {first-name}</a></h5>
					<div class="directory-image">
						<?php if ("{image}") { echo '<img src="{image}" alt="{first-name} {last-name}">'; } ?>
					</div>
					<div class="info1">
						<?php if ("{position}") { echo '<p><span class="t">Position:</span> <span class="v">' . "{position}" . '</span></p>'; } ?>
						<?php if ("{department}") { echo '<p><span class="t">Department:</span> <span class="v">' . "{department}" . '</span></p>'; } ?>
					</div>
				</div>
				<div class="infos">
					<div class="info2">
						<?php if ("{office-location}") { echo '<p><span class="t">Office Location:</span> <span class="v">' . "{office-location}" . '</span></p>'; } ?>
						<?php if ("{phone}") { echo '<p><span class="t"><i class="fa fa-phone" aria-hidden="true"></i></span> <a href="tel:' . " {phone}" . '"><span class="v">' . "{phone}" . '</span></a></p>'; } ?>
						<?php if ("{email}") { echo '<p><span class="t"><i class="fa fa-envelope" aria-hidden="true"></i></span> <a href="mailto:' . " {email}" . '"><span class="v">' . "{email}" . '</span></a></p>'; } ?>
						<?php if ("{website-url}") { echo '<p class="website"><span class="t"><i class="fa fa-link" aria-hidden="true"></i></span> <a href="tel:' . " {website-url}" . '"><span class="v">' . "{website-url}" . '</span></a></p>'; } ?>
					</div>
				</div>
				<?php if ("{website-url}") { echo '<div class="learn-more"><a href="' . " {website-url}" . '"><span class="t">More About Me <i class="fa fa-angle-right" aria-hidden="true"></i></span></a></div>'; } ?>

			</div>
			<?php
			$last_section = $section;
			$count++;
			?>

			{!-- {/exp:channel:entries} --}
				{/exp:stash:get_list:nested}
			{/exp:stash:get_list}
		</div>
	</section>
</div>
</div>
{/exp:stash:set}
