<div class="eventlist">
{exp:calendar:cal event_limit='{embed:limit}' {if get:category}search:event-category='{get:category}'{/if} date_range_start="{embed:start}" {if embed:end}date_range_end="{embed:end}"{/if} show_years="2" pad_short_weeks='n' orderby='title' sort='asc' paginate='bottom' cache='yes' refresh='30'}
    <article itemscope itemtype="http://schema.org/Event" class="eventlist-item">
		<header>
			<a href="{page_url}" itemprop="url">
				<h2 class="title" itemprop="name">{event_title}</h2>
				<h3 class="subhead"><time datetime="{event_start_date format='{DATE_ISO8601}'}"><span class="month">{event_start_date format="%M"}</span> <span class="day">{event_start_date format="%d"}</span></time></h3>
			</a>
			<p class="tagline"><span class="time">{if event_all_day}All Day{if:else}{event_start_date format="%g:%i %A"}{/if}{if (!event_all_day) && ({event_start_date format="%U"}!={event_end_date format="%U"})} - {event_end_date format="%g:%i %A"}{/if}</span></p>
		</header>

		<div class="sectioncontent">
			<p itemprop="description">{event-excerpt}</p>

			<a href="{page_url}">Read More</a>
		</div>
	</article>

    {if calendar_no_results}
        <p>Sorry, no events are currently scheduled for

        {exp:switchee variable='{embed:date-display}' parse='inward'}
        	{case default='yes'}
        	{embed:date-display}.
        	{/case}

        	{case value=''}
        	this day.
        	{/case}
        {/exp:switchee}
        </p>
    {/if}

	{paginate}
	<div class="pagination">
	{if previous_page}{/if}
	<?php
	   $total_pages = {total_pages};
	   $current_page = {current_page};
	   $limit = {embed:limit};

	   if ($current_page > 1) {
	       echo '<li><a href="/{segment_1}/?category={get:category}" class="page-first" aria-label="First Page">First</a></li>';
	       echo '<li><a href="/{segment_1}/P' . (($current_page - 2) * $limit) . '/?category={get:category}" class="page-previous">Previous Page</a></li>';
	   }

	   for ($i = $current_page; $i <= $current_page + 2; $i++) {
	       $url = 'P' . (($i * $limit) - $limit);
	       if ($i <= $total_pages) {
	           echo '<li><a href="/{segment_1}/' . $url . '/?category={get:category}"';
	           if ($i == $current_page) {
	               echo ' class="active"';
	           }
	           echo '>' . $i . '</a></li>';
	       }
	   }

	   if ($current_page < $total_pages) {
	       echo '<li><a href="/{segment_1}/P' . ($current_page * $limit) . '/?category={get:category}" class="page-next">Next Page</a></li>';
	       echo '<li><a href="/{segment_1}/P' . (($total_pages - 1) * $limit) . '/?category={get:category}" class="page-last" aria-label="Last Page">Last</a></li>';
	   }
	?>
	</div>
	{/paginate}
{/exp:calendar:cal}
</div>
