{exp:calendar:cal event_limit='3' search:event-category='{embed:category}' date_range_start="today" show_years="2" pad_short_weeks='n' orderby='title' sort='asc' cache='yes' refresh='1440' disable='member_data|pagination|categories'}
<li>
	<time datetime="{event_start_date format='{DATE_ISO8601}'}"><span class="month">{event_start_date format="%M"}</span> <span class="day">{event_start_date format="%d"}</span></time>
	<div>
		<a href="{page_url}">{title}</a>
		<span class="time">{event_start_date format="%g:%i%a"}</span>
	</div>
</li>
{/exp:calendar:cal}