{exp:channel:entries channel='page' dynamic='no' url_title='{segment_1}' cache='yes' refresh='1440'}
	<section class="sidebarcomponent sidebarcomponent-calendar">
		<header class="emphasis">
			<h3>Calendar</h3>
		</header>
		<div class="sectioncontent">
			{embed='embeds/.mini-calendar'}
		</div>
	</section>

	{if page-photo-callout:total_rows > 0}
	{page-photo-callout}
	<section class="sidebarcomponent sidebarcomponent-gift">
		<header>
			<h3>{page-photo-callout:title}</h3>
		</header>
		<div class="sectioncontent">
			{if page-photo-callout:image}
			<img src="{page-photo-callout:image:688x400}" alt="{page-photo-callout:image-alt}">
			{/if}
			<p>{page-photo-callout:content}</p>
			<a href="{page-photo-callout:button-page}" class="button">{page-photo-callout:button-label}</a>
		</div>
	</section>
	{/page-photo-callout}
	{/if}
{/exp:channel:entries}