{exp:calendar:events url_title="{last_segment}" status="open" cache='yes' refresh='30'}
{if event-image}
<div class="content-featuredimage">
	{!-- In a two-column layout, this is 761×342 --}
	<img itemprop="image" src="{event-image:761x342}" alt="{event-image-alt}">
</div>
{/if}
<div class="usercontent event-usercontent">
	{!-- Note to integrator: while usually this H2 is just part of the content, in the News Item case, it's the {title} of the news item. --}
	<h2 class="event-title" itemprop="name">{event_title}</h2>
	<h3 class="event-subhead"><time datetime="{event_start_date format='{DATE_ISO8601}'}"><span class="month">{event_start_date format="%M"}</span> <span class="day">{event_start_date format="%d"}</span></time></h3>
	<p class="event-tagline"><span class="time">{if event_all_day}All Day{if:else}{event_start_date format="%g:%i %A"}{/if}{if (!event_all_day) && ({event_start_date format="%U"}!={event_end_date format="%U"})} - {event_end_date format="%g:%i %A"}{/if}</span>{if event-location} <span class="location">{event-location}</span>{/if}</p>

	<div itemprop="articleBody">
		{event-content}

		{if event-map-location}
		<a class="map" href="http://maps.google.com/?saddr=current+location&amp;key=AIzaSyBaZ8LSfKER780EhAXxvVhd29wOLwaHotc&amp;daddr={event-map-location}{latitude},{longitude}{/event-map-location}" target="_blank"><img src="//maps.googleapis.com/maps/api/staticmap?size=400x400&amp;center=44.0124759999998,-97.11173400000001&amp;markers=color:blue%7C{event-map-location}{latitude},{longitude}{/event-map-location}"></a>
		{/if}
	</div>
</div>
{/exp:calendar:events}
