<div class="campusmap">
	<div class="points{if embed:feature == 'maps-and-directions'} hidden{/if}">
		{exp:channel:entries channel='location' dynamic='no' {if embed:feature == 'campus-tour'}search:l-campus-tour='Y'{/if} cache='yes' orderby='l-order|title' sort='asc|asc' refresh='1440'}
		{!-- valid icons names: 1, 2, 3, ... 31, star, parking --}
		<div class="point" data-latlng="{l-map}{latitude},{longitude}{/l-map}" data-icon="{if embed:feature == 'maps-and-directions'}{l-icon-label}{if:else}{count}{/if}">
			<div class="header">
				<span class="num">{count}</span> <span class="title">{title}</span>
			</div>
			<div class="pincontent">
				{if l-image}<img src="{l-image:380x322}" alt="{title}">{/if}
				<div class="content">
					<h3>{title}</h3>
					<p>{l-description}</p>
					<p class="links">
						{if l-page-link}<a href="{l-page-link}">Learn More</a>{/if}
						<a href="http://maps.google.com/?saddr=current+location&daddr={l-map}{latitude},{longitude}{/l-map}" target="_blank">Directions</a>
					</p>
				</div>
			</div>
		</div>
		{/exp:channel:entries}
	</div>

	{!-- Note to implementor: this script
	     needs to be included. It doesn't
	     matter if it's included here or in
	     the {snippet:scripts}, or right below
	     the actual map div. Do whatever is
	     easiest. If you do decide to put it
	     in {snippet:scripts}, put it above
	     script.js.
	--}
	<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBaZ8LSfKER780EhAXxvVhd29wOLwaHotc"></script>
</div>