{exp:calendar:cal
    {if segment_2 != 'date'}
        date_range_start="year-month-01"
        date_range_end="year-month-last"
    {/if}
    {if segment_2 == 'date'}
        date_range_start="{segment_3}-{segment_4}-01"
        date_range_end="{segment_3}-{segment_4}-last"
    {/if}

    cache='yes' refresh='30'
}
    <div id="mini_calendar">
        {display_each_month}
        <table>
            <thead>
                <tr>
                    <th colspan="1" class="prev_month">
                        <a
                            id="mc_prev_month"
                            class="icon left"
                            href="/{segment_1}/date/{prev_month format="%Y/%m"}/01/">&laquo;</a>
                    </th>
                    <th colspan="5">
                        <a href="/{segment_1}/date/{month format="%Y/%m"}/01/">
                            {date format="%F %Y"}
                        </a>
                    </th>
                    <th colspan="1" class="next_month">
                        <a
                            id="mc_next_month"
                            class="icon right"
                            href="/{segment_1}/date/{next_month format="%Y/%m"}/01/">
                            &raquo;
                        </a>
                    </th>
                </tr>
                <tr id="mc_days">
                {display_each_day_of_week}
                    <th class="{if day_of_week_is_weekend}weekend{/if} {if day_of_week_is_current}current{/if}">
                        {day_of_week_one}
                    </th>
                {/display_each_day_of_week}
            </tr>
        </thead>
        <tbody>
            {display_each_week}
            <tr>
                {display_each_day}
                <td cellpadding="0" cellspacing="0" class="
                    {if day_in_current_month == FALSE}mc_pad{/if}
                    {if day_event_total > 0}has_events{/if}
                    {if count == 7}selected{/if}
                    {if day_is_today}today{/if}
                    {if day_is_weekend}weekend{/if}
                    {if day_is_weekday}weekday{/if}
                "><div class="mc_date{if day_in_current_month}

               			{events}
				{if '{last_segment}' == '{event_url_title}'} active{/if}
             			{/events}
			{if '{last_segment}' == '{day}'} active{/if}
		">
		{if day_event_total}<a href="/{segment_1}/date/{date format="%Y/%m/%d"}/">{/if}
      			{day}
                {if day_event_total}</a>{/if}
                {if:else}
		outside_month">
                	{day}
                {/if}</div></td>
                {/display_each_day}
            </tr>
            {/display_each_week}
        </tbody>
    </table>
    {/display_each_month}
    </div>
{/exp:calendar:cal}