<div class="newslist">
{exp:channel:entries channel='news' dynamic='no' {if get:category}search:news-category='{get:category}'{/if} {if embed:category}search:news-category='{embed:category}'{/if} limit='5' orderby='date' sort='desc' disable='member_data|categories' cache='yes' refresh='30' paginate_base='{segment_1}'}
	<article itemscope itemtype="http://schema.org/Article" class="newslist-item">
		{if news-image}<img class="headerimage" itemprop="image" src="{news-image:360x360}" alt="{news-image-alt}">{/if}

		<header>
			<h2 itemprop="name"><a href="{page_url}" itemprop="url">{title}</a></h2>
			<p class="tagline"><time datetime="{entry_date format='{DATE_ISO8601}'}" itemprop="datePublished">{entry_date format="%n.%j.%y"}</time> <span class="categories">{news-category backspace="2"}<a href="/news/?category={url_title}">{title}</a>, {/news-category}</span></p>
		</header>

		<div class="sectioncontent">
			<p itemprop="description">{news-excerpt}</p>

			<a href="{page_url}">Read More</a>
		</div>
	</article>

{if !embed:category}
{paginate}

    {if {total_pages} > 1}
    <div class="pagination">
		<ul>
    {pagination_links}
		{first_page}<li><a href="{pagination_url}?category={get:category}" class="page-first" aria-label="First Page">First</a></li>{/first_page}
		{previous_page}<li><a href="{pagination_url}?category={get:category}" class="page-previous">Previous Page</a></li>{/previous_page}
		{page}<li><a href="{pagination_url}?category={get:category}" class="page{if current_page} active{/if}" aria-label="Page {pagination_page_number}">{pagination_page_number}</a></li>{/page}
		{next_page}<li><a href="{pagination_url}?category={get:category}" class="page-next">Next Page</a></li>{/next_page}
		{last_page}<li><a href="{pagination_url}?category={get:category}" class="page-last" aria-label="Last Page">Last</a></li>{/last_page}
	{/pagination_links}
		</ul>
	</div>
    {/if}

{/paginate}
{/if}
{/exp:channel:entries}
</div>