{exp:channel:entries channel='page' dynamic='no' url_title='{segment_1}' cache='yes' refresh='1440'}
<aside class="sidebar-other">
	{if page-events-category}
	<section class="sidebarcomponent sidebarcomponent-events">
		<header class="emphasis">
			<h3>Events</h3> {!-- What's the proper heading level for these? CSS should work with any heading level, so feel free to change --}
		</header>
		<div class="sectioncontent">
			<ul>
				{embed='embeds/.event-sidebar' category='{page-events-category}'}
			</ul>
		</div>
		<footer>
			<a href="/events/">See All Events</a>
		</footer>
	</section>
	{/if}

	{if page-photo-callout:total_rows > 0}
	{page-photo-callout}
	<section class="sidebarcomponent sidebarcomponent-gift">
		<header>
			<h3>{page-photo-callout:title}</h3>
		</header>
		<div class="sectioncontent">
			{if page-photo-callout:image}
			<img src="{page-photo-callout:image:688x400}" alt="{page-photo-callout:image-alt}">
			{/if}
			<p>{page-photo-callout:content}</p>
			<a href="{page-photo-callout:button-page}" class="button">{page-photo-callout:button-label}</a>
		</div>
	</section>
	{/page-photo-callout}
	{/if}
</aside>
{/exp:channel:entries}