<div class="usercontent">
<h2 id="online-programs-by-state">Online programs offered in your state</h2>

  <div class="programs-by-state">
	  <form>
		  <select name="states" class="states">
			  <option value="">Select a state...</option>
			  {exp:channel:entries channel='state' dynamic='no' orderby='title' sort='asc' cache='yes' refresh='1440'}
			  <option value="{url_title}"{if get:state == url_title} selected{/if}>{title}</option>
			  {/exp:channel:entries}
		  </select>
	  </form>

	  <div class="programs-by-state-results usercontent">
	  {if get:state}
		  <ul>
		  {exp:channel:entries channel='state' url_title='{get:state}' dynamic='no' limit='1' cache='yes' refresh='1'}
			  {exp:playa:parents channel='program' orderby='title' sort='asc'}
			  <li><a href="{page_url}">{title}</a></li>
			  {if no_parents}
			  <li>Sorry, no online programs are currently offered for this state.</li>
			  {/if}
			  {/exp:playa:parents}
		  {/exp:channel:entries}
		  </ul>
	  {/if}
	  </div>
  </div>
</div>
