<section class="programssection">
	<header>
		<h3 class="programssection-title">{embed:title}</h3>
	</header>
	<div class="sectioncontent programssection-programs accordiongroup">
		{exp:channel:entries channel='program' dynamic='no' search:page-program-category='{embed:category}' orderby='title' sort='asc' cache='yes' refresh='1440' disable='member_data|pagination|categories'}
		<article class="programssection-program accordionitem" data-keywords="{page-keywords}">
			<header>
				<h4>{title}</h4>
			</header>
			<div class="sectioncontent">
				{if page-featured-image}
				<img src="{page-featured-image:408x267}" alt="{page-featured-image-alt}">
				{/if}
				<div class="usercontent">
					{if page-program-subtitle}<h5>{page-program-subtitle}</h5>{/if}
					<p>{page-program-excerpt}</p>
					<p><a href="{page_url}" class="button">Learn more</a></p>
				</div>
			</div>
		</article>
		{/exp:channel:entries}

		{if embed:category == 'minors'}
		<p>Our <a href="{structure:page_url_for:164}">minors</a> help you explore your interests and further develop your career goals. With more than 50 minors, we offer a range of studies so you can enhance your studies with a specialization.</p>
		{/if}
	</div>
</section>
