<form id="programjump">
	<select>
		<option value="">Jump to Program</option>
		{exp:channel:entries channel='program' {if segment_1 == 'graduate-students'}search:page-program-category='doctoral|masters'{if:else}search:page-program-category='bachelors|associates|certificates'{/if} dynamic='no' orderby='title' sort='asc' cache='yes' refresh='1440' disable='member_data|pagination|categories' limit='500'}
		<option value="{page_url}">{title}</option>
		{/exp:channel:entries}
	</select>
	<button>Go</button>
</form>
