<div id="programswrapper">
	<div id="programssearch">
		<input type="search" placeholder="Quick Search">
	</div>
	<div class="programs">
		{embed='embeds/.programs-section' category="bachelors" title="Bachelor's"}
		{embed='embeds/.programs-section' category="associates" title="Associate"}
		{embed='embeds/.programs-section' category="certificates" title="Certificates"}
		{embed='embeds/.programs-section' category="minors" title="Minors"}
	</div>
</div>
