<h3>States By Online Program</h3>

<div class="states-by-program">
	<form>
		<select name="online_programs" class="online-programs">
			<option value="">Select a program...</option>
			{exp:channel:entries channel='program' dynamic='no' orderby='title' sort='asc' cache='yes' refresh='1440'}
			{if page-program-online-states}<option value="{url_title}"{if get:program == url_title} selected{/if}>{title}</option>{/if}
			{/exp:channel:entries}
		</select>
	</form>

	<div class="states-by-program-results usercontent">
		{if get:program}
		<ul>
		{exp:channel:entries channel='program' url_title='{get:program}' dynamic='no' limit='1' cache='yes' refresh='1440'}
			{exp:playa:children field='page-program-online-states' orderby='title' sort='asc'}
			<li>{title}</li>
			{/exp:playa:children}
		{/exp:channel:entries}
		</ul>
		{/if}
	</div>
</div>
